<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	corporationCorporationMobile1,
	corporationCorporationMobile2,
	corporationCorporationPC1, corporationCorporationPC2
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout no-gutter>
		<v-container class="p-r-0">
			<SubDescription>
				<span class="font-weight-bold">(사)제주사회적경제네트워크</span>는<br />
				제주 사회적경제 주체들간의 실천적 협력과 연대강화를 목표로<br class="d-none d-sm-block" />
				사회적경제를 활성화하고 지역공동체를 실현하고자 만들어졌습니다.
			</SubDescription>
			
			<SubSection no-gutter title="비전" class="mt-r-9 mt-r-sm-25">
				<v-img :src="corporationCorporationMobile1" v-if="display.xs" />
				<v-img :src="corporationCorporationPC1" v-else />
			</SubSection>
			<SubSection no-gutter title="대표사업" class="mt-r-30 mt-r-sm-65">
				<v-img :src="corporationCorporationMobile2" v-if="display.xs" />
				<v-img :src="corporationCorporationPC2" v-else />
			</SubSection>
		</v-container>
	</SubLayout>
</template>
