<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	corporationCorporationMobile1,
	corporationCorporationMobile2,
	corporationCorporationPC1, corporationCorporationPC2
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout>
		<v-container class="p-r-0">
			<div class="corporation-history-title bg-blue-c1 rounded-circle mx-auto aspect-ratio-1-1 w-30 w-sm-10 d-flex justify-center align-center position-relative">
				<span class="font-size-15-20 font-weight-bold color-light position-relative">History</span>
			</div>
			<v-timeline align="start" class="corporation-history mx-auto mt-r-20">
				<v-timeline-item dot-color="light">
					<template v-slot:opposite>
						<div class="font-size-24-36 font-weight-bold color-blue-c1 text-end">2022</div>
						<ul>
							<li class="font-size-12-18 text-end">
								<span>09</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회연대기금 '제주고팡' 사업 운영</span>
							</li>
							<li class="font-size-12-18 mt-r-1 text-end">
								<span>06</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회사업 운영</span>
							</li>
						</ul>
					</template>
				</v-timeline-item>
				
				<v-timeline-item dot-color="light">
					<template v-slot:opposite>
						<div class="font-size-24-36 font-weight-bold color-blue-c1">2021</div>
						<ul>
							<li class="font-size-12-18">
								<span>09</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회연대기금 '제주고팡' 사업 운영</span>
							</li>
							<li class="font-size-12-18 mt-r-1">
								<span>06</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회사업 운영</span>
							</li>
						</ul>
					</template>
				</v-timeline-item>
				<v-timeline-item dot-color="light">
					<template v-slot:opposite>
						<div class="font-size-24-36 font-weight-bold color-blue-c1 text-end">2020</div>
						<ul>
							<li class="font-size-12-18 text-end">
								<span>09</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회연대기금 '제주고팡' 사업 운영</span>
							</li>
							<li class="font-size-12-18 mt-r-1 text-end">
								<span>06</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회사업 운영</span>
							</li>
						</ul>
					</template>
				</v-timeline-item>
				
				<v-timeline-item dot-color="light">
					<template v-slot:opposite>
						<div class="font-size-24-36 font-weight-bold color-blue-c1">2019</div>
						<ul>
							<li class="font-size-12-18">
								<span>09</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회연대기금 '제주고팡' 사업 운영</span>
							</li>
							<li class="font-size-12-18 mt-r-1">
								<span>06</span>
								<span class="d-block d-sm-inline-block color-gray-8e ml-r-sm-2">제주사회사업 운영</span>
							</li>
						</ul>
					</template>
				</v-timeline-item>
			</v-timeline>
		</v-container>
	</SubLayout>
</template>
