<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {corporationIntroName} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout>
		<v-container class="p-r-0">
			<div v-if="!display.xs" class="corporation-intro font-size-20-40 font-weight-bold color-light d-flex justify-center align-center">
				자본보다 사람이 존중받는 사회
			</div>
			
			<div class="font-size-20-34 mt-r-16">
				"모든 노동이 <span class="font-weight-bold">가치있는 제주,</span><br />
				제주사회적경제네트워크가 <span class="font-weight-bold">사람이 존중받는 사회를 만들어 나가겠습니다</span>"
			</div>
			<div class="font-size-14-23 color-gray-7c mt-r-8">
				사회적협동조합 제주이어도지역자활센터를 방문하신 여러분을 환영합니다!<br />
				우리 조합은 2004년 4월 북제주자활후견기관으로 첫발은 내딛은 뒤 2007년 제주이어도지역자활센터로 이름을 바꾸고 자활사업을 해왔습니다. 10년 성과와 한계를 뒤로하고 2015년 3월 보건복지부로부터 사회적협동조합으로 인가받고 또다른 출발과 도전을 시작했습니다.<br />
				지난 역사 속에 인류는 끊임없는 노동과 생산활동을 통해 문화와 문명을 이루며 살아왔습니다. 하지만 엄청난 생산력과 문명시대를 자랑하는 지금, 우리는 오히려 전쟁과 기아, 불평등과 차별로 고통받는 세상을 살고 있습니다. 세상에 대해, 삶에 대해 깊은 고민과 성찰을 해봅니다. 자활사업이 필요한 이유와 무엇을 할지도 새삼 돌이켜 봅니다.<br />
				경제적으로 소외받고 차별받는 우리가 연대와 협동으로 이 사회를 바꿀 수 있다는 희망이 사회적협동조합이란 이름 아래 담겨 있습니다.<br />
				노동이 아름답고 자본보다 사람이 존중받는 사회를 만들어 나가겠습니다.
			</div>
			<div class="font-size-12-30 mt-r-14 mt-r-sm-30 text-end d-flex justify-end align-center">
				<p>
					<span class="corporation-position position-relative">사단법인 제주사회적경제네트워크</span>
					<span class="" :class="[display.xs && 'd-block font-weight-bold']">상임대표</span>
				</p>
<!--				<span class="font-size-30-50 font-jejuMyeongjo ml-r-4">김효철</span>-->
				<v-img :src="corporationIntroName" class="corporation-intro-name ml-r-4" />
			</div>
		</v-container>
	</SubLayout>
</template>
