<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {corporationOrganMobile1, corporationOrganPC1} from "@/assets/user/images/sub";

const display = ref(useDisplay());

const dataList1 = ref([
	{
		id: 1,
		position: '상임대표',
		name: '김효철',
		phone: '064-721-1280',
		job: '법인업무 총괄책임 및 사회적협동조합 이어도지역 자활센터 센터장'
	},
	{
		id: 2,
		position: '공동대표',
		name: '좌경희',
		phone: '-',
		job: '사회적협동조합 제주내일 이사장'
	},
	{
		id: 3,
		position: '공동대표',
		name: '박외순',
		phone: '-',
		job: '제주주민자치연대 대표'
	},
	{
		id: 4,
		position: '사무처장',
		name: '이소영',
		phone: '070-7771-7529',
		job: '법인 실무업무 총괄'
	},
	{
		id: 5,
		position: '총무',
		name: '김현석',
		phone: '064-722-4843',
		job: '법인 총무회계업무 총괄'
	},
]);
const dataList2 = ref([
	{
		id: 1,
		position: '선임매니저',
		name: '변수연',
		phone: '070-7770-5008',
		job: '재정지원사업, 사회적기업 인증, 예비지정'
	},
	{
		id: 2,
		position: '매니저',
		name: '김성여',
		phone: '070-4239-7590',
		job: '서귀포지역 사회적기업 담당'
	},
	{
		id: 3,
		position: '매니저',
		name: '박태준',
		phone: '070-7770-4331',
		job: '지역특화 모니터링 및 도 컨설팅'
	},
	{
		id: 4,
		position: '매니저/간사',
		name: '문유경',
		phone: '070-7770-3690',
		job: '지역특화 모니터링 및 도 컨설팅'
	},
	{
		id: 5,
		position: '매니저',
		name: '서정훈',
		phone: '070-7770-4332',
		job: '지역특화 모니터링 및 도 컨설팅'
	},
]);
const dataList3 = ref([
	{
		id: 1,
		position: '팀장',
		name: '정기범',
		phone: '070-7770-5023',
		job: '협동조합 지원사업 총괄'
	},
	{
		id: 2,
		position: '매니저',
		name: '김수빈',
		phone: '070-7770-8090',
		job: '서귀포지역 사회적기업 담당'
	},
]);
const dataList4 = ref([
	{
		id: 1,
		position: '팀장',
		name: '박경호',
		phone: '070-4244-9874',
		job: '사회적기업가 육성사업 총괄'
	},
	{
		id: 2,
		position: '매니저',
		name: '이사항',
		phone: '070-4206-7956',
		job: '사회적기업가 육성사업 운영 지원'
	},
	{
		id: 3,
		position: '매니저',
		name: '송인혜',
		phone: '070-4908-9978',
		job: '사회적기업가 육성사업 운영 지원'
	},
]);
</script>
<template>
	<SubLayout>
		<v-container class="p-r-0">
			<div>
				<v-img :src="corporationOrganMobile1" v-if="display.xs" />
				<v-img :src="corporationOrganPC1" v-else />
			</div>
			<SubSection class="mt-r-30 mt-r-sm-40">
				<p class="font-size-16-25 font-weight-medium mb-r-7">
					사무처
				</p>
				<ul class="w-100 border-top border-gray-d4" v-if="display.xs">
					<li
						v-for="(data, index) in dataList1"
						:key="index"
						class="border-bottom border-gray-d4 py-r-5"
					>
						<v-table>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직책</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{ data.position }}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">이름</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.name}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직통번호</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.phone}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">담당업무</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.job}}
								</td>
							</tr>
						</v-table>
					</li>
				</ul>
				<v-table class="w-100 border-top border-gray-d4 text-center" v-else>
					<thead class="bg-white-fb">
					<tr>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-gray-d4 py-r-sm-5 text-center">
							직책
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							이름
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							직통번호
						</th>
						<th class="font-size-12-16 font-weight-bold w-55 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							담당업무
						</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(data, index) in dataList1" :key="index">
						<td class="font-size-12-16 border-bottom border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.position }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.name }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.phone }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.job }}
						</td>
					</tr>
					</tbody>
				</v-table>
			</SubSection>
			<SubSection class="mt-r-30 mt-r-sm-10">
				<p class="font-size-16-25 font-weight-medium mb-r-7">
					사회적기업팀
				</p>
				<ul class="w-100 border-top border-gray-d4" v-if="display.xs">
					<li
						v-for="(data, index) in dataList2"
						:key="index"
						class="border-bottom border-gray-d4 py-r-5"
					>
						<v-table>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직책</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{ data.position }}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">이름</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.name}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직통번호</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.phone}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">담당업무</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.job}}
								</td>
							</tr>
						</v-table>
					</li>
				</ul>
				<v-table class="w-100 border-top border-gray-d4 text-center" v-else>
					<thead class="bg-white-fb">
					<tr>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-gray-d4 py-r-sm-5 text-center">
							직책
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							이름
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							직통번호
						</th>
						<th class="font-size-12-16 font-weight-bold w-55 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							담당업무
						</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(data, index) in dataList2" :key="index">
						<td class="font-size-12-16 border-bottom border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.position }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.name }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.phone }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.job }}
						</td>
					</tr>
					</tbody>
				</v-table>
			</SubSection>
			<SubSection class="mt-r-30 mt-r-sm-10">
				<p class="font-size-16-25 font-weight-medium mb-r-7">
					협동조합팀
				</p>
				<ul class="w-100 border-top border-gray-d4" v-if="display.xs">
					<li
						v-for="(data, index) in dataList3"
						:key="index"
						class="border-bottom border-gray-d4 py-r-5"
					>
						<v-table>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직책</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{ data.position }}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">이름</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.name}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직통번호</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.phone}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">담당업무</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.job}}
								</td>
							</tr>
						</v-table>
					</li>
				</ul>
				<v-table class="w-100 border-top border-gray-d4 text-center" v-else>
					<thead class="bg-white-fb">
					<tr>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-gray-d4 py-r-sm-5 text-center">
							직책
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							이름
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							직통번호
						</th>
						<th class="font-size-12-16 font-weight-bold w-55 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							담당업무
						</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(data, index) in dataList3" :key="index">
						<td class="font-size-12-16 border-bottom border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.position }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.name }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.phone }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.job }}
						</td>
					</tr>
					</tbody>
				</v-table>
			</SubSection>
			<SubSection class="mt-r-30 mt-r-sm-10">
				<p class="font-size-16-25 font-weight-medium mb-r-7">
					창업육성팀
				</p>
				<ul class="w-100 border-top border-gray-d4" v-if="display.xs">
					<li
						v-for="(data, index) in dataList2"
						:key="index"
						class="border-bottom border-gray-d4 py-r-5"
					>
						<v-table>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직책</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{ data.position }}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">이름</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.name}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">직통번호</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.phone}}
								</td>
							</tr>
							<tr>
								<th class="font-size-12-16 font-weight-bold vertical py-r-2">담당업무</th>
								<td class="font-size-12-16 color-gray-56 pl-r-4 py-r-2">
									{{data.job}}
								</td>
							</tr>
						</v-table>
					</li>
				</ul>
				<v-table class="w-100 border-top border-gray-d4 text-center" v-else>
					<thead class="bg-white-fb">
					<tr>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-gray-d4 py-r-sm-5 text-center">
							직책
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							이름
						</th>
						<th class="font-size-12-16 font-weight-bold w-15 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							직통번호
						</th>
						<th class="font-size-12-16 font-weight-bold w-55 border-bottom border-left border-gray-d4 py-r-sm-5 text-center">
							담당업무
						</th>
					</tr>
					</thead>
					<tbody>
					<tr v-for="(data, index) in dataList2" :key="index">
						<td class="font-size-12-16 border-bottom border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.position }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.name }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.phone }}
						</td>
						<td class="font-size-12-16 border-bottom border-left border-gray-d4 py-r-sm-5 color-gray-56">
							{{ data.job }}
						</td>
					</tr>
					</tbody>
				</v-table>
			</SubSection>
		</v-container>
	</SubLayout>
</template>
