<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {icPhone, icPin} from "@/assets/user/images/sub";

const place = ref();

const handleMap = () => {
	window.kakao.maps.load(() => {
		const mapContainer = document.getElementById('place');
		const mapPosition = new window.kakao.maps.LatLng(33.5044, 126.5271);
		const mapOption = {
			center: mapPosition,
			level: 5,
		};
		place.value = new window.kakao.maps.Map(mapContainer, mapOption);

		const marker = new window.kakao.maps.Marker({
			position: mapPosition,
		});
		
		marker.setMap(place.value);
		
		// const content = '<div class="customoverlay">구의야구공원</div>';
		//
		// const customOverlay = new window.kakao.maps.CustomOverlay({
		// 	map: place.value,
		// 	position: mapPosition,
		// 	content: content,
		// 	yAnchor: 1
		// });
	});
};

onMounted(() => {
	if (!window.kakao || !window.kakao.maps) {
		const script = document.createElement('script');
		script.src = `//dapi.kakao.com/v2/maps/sdk.js?autoload=false&appkey=${import.meta.env.VITE_API_KAKAO_KEY}`;
		document.head.appendChild(script);
		script.addEventListener('load', () => {
			handleMap();
		});
	} else {
		handleMap();
	}
});
</script>

<template>
	<SubLayout>
		<v-container class="p-r-0">
			<div id="place" class="corporation-place-map place w-100"></div>
			<div class="mt-r-13 border-top border-gray-d4">
				<div class="d-flex px-r-6 py-r-8 border-bottom border-gray-d4 align-center">
					<div class="d-flex align-center bg-primary rounded-circle aspect-ratio-1-1 p-r-4">
						<v-img :src="icPin" width="2.75rem" class="ic-place flex-inherit aspect-ratio-1-1" />
					</div>
					<div class="ml-r-7 ml-r-sm-13">
						<p class="font-size-14-20 font-weight-bold">제주사회적경제네트워크</p>
						<p class="font-size-12-16">
							제주시 중앙로 165, 1층 (제주고용복지플러스센터)
						</p>
					</div>
				</div>
				<div class="d-flex px-r-6 py-r-8 border-bottom border-gray-d4 align-center">
					<div class="d-flex align-center bg-primary rounded-circle aspect-ratio-1-1 p-r-4">
						<v-img :src="icPhone" width="2.75rem" class="ic-place flex-inherit aspect-ratio-1-1" />
					</div>
					<div class="ml-r-7 ml-r-sm-13">
						<p class="font-size-14-20 font-weight-bold">문의전화</p>
						<p class="font-size-12-16">
							(사)제주사회적경제네트워크  064-722-4843<br />
							제주사회적경제지원센터  064-724-0165
						</p>
					</div>
				</div>
			</div>
		</v-container>
	</SubLayout>
</template>
