<script lang="ts" setup>
import {changeDateFormat, changeNumberFormat, getFileUrl, isEmpty} from '@utils';
import type { BoardInterface } from '@/interface/user/board';
import {icAttach} from "@/assets/user/images/sub";

const componentProps = defineProps<{
	boardId: number | string;
	articleId: number | string;
	data: BoardInterface;
	prev: BoardInterface | undefined;
	next: BoardInterface | undefined;
}>();
</script>

<template>
	<div class="mt-r-14">
		<div v-if="componentProps.data">
			<div class="d-flex flex-column flex-sm-row justify-space-between align-start align-sm-end p-r-4 bg-white-fb border-top border-bottom border-gray-d4">
				<p class="font-size-16-25">
					{{ componentProps.data?.title }}
				</p>
				<div class="d-flex justify-start align-center mt-r-2 mt-r-sm-0">
					<span class="font-size-12-18 color-gray-8e mr-r-4">조회수 {{ changeNumberFormat(componentProps.data.readCount) }} 회</span>
					<span class="created-date font-size-12-18 color-gray-8e">
					{{ changeDateFormat(componentProps.data.createdDate) }}
				</span>
				</div>
			</div>
<!--			<div class="d-flex justify-start align-center p-r-4 border-bottom border-gray-d4" v-if="!isEmpty(data.normalFiles)">-->
<!--				<div class="d-flex justify-start align-center nowrap">-->
<!--					<v-img :src="icAttach" width="40" max-width="40" />-->
<!--					첨부파일-->
<!--				</div>-->
<!--				<p class="color-gray-c8 ml-r-4">-->
<!--					<a-->
<!--						v-for="(normalFile, index) in data.normalFiles"-->
<!--						:key="index"-->
<!--						:href="`${getFileUrl()}/${normalFile.id}`"-->
<!--						target="_blank"-->
<!--						rel="noopener noreferrer"-->
<!--						class="d-inline-block mr-r-4"-->
<!--					>-->
<!--						{{ normalFile.fileName }}-->
<!--					</a>-->
<!--				</p>-->
<!--			</div>-->
			<div
				class="board-contents px-r-5 px-r-sm-10 py-r-10 border-bottom border-gray-d4 font-size-12-18"
				v-html="componentProps.data.content"
			></div>
			
<!--			<MoveArticle-->
<!--				:next="next"-->
<!--				:prev="prev"-->
<!--				:article-id="componentProps.articleId"-->
<!--				:board-id="componentProps.boardId"-->
<!--			/>-->
		</div>
	</div>
</template>
