<script lang="ts" setup>
import { changeDateFormat, changeNumberFormat, isEmpty } from '@utils';
import type { PageInterface } from '@/interface/user/board';
import type { SearchInterface } from '@/interface/user/common';
import { imgNoImage } from '@/assets/user/images/common';
import { icEye } from '@/assets/user/images/sub';
import {DisplayInstance} from "vuetify";

const componentProps = defineProps<{
	dataList: any[];
	fetchState: {
		loading: boolean;
	};
	page: PageInterface;
	boardId: number;
	searchData: SearchInterface;
	display: DisplayInstance;
}>();
</script>

<template>
	<div>
		<v-container class="px-r-0 mt-r-6">
			<v-row>
				<template v-if="componentProps.dataList.length > 0">
					<v-col v-for="(data, index) in componentProps.dataList" :key="index" cols="12" md="4">
						<router-link :to="`/board/${componentProps.boardId}/${data.id}`">
							<v-hover v-slot="{ isHovering, props }">
								<v-card
									:elevation="isHovering ? 5 : 0"
									class="rounded-xl border border-gray-e5 h-100"
									v-bind="props"
								>
									<v-card-item
										:class="[
											componentProps.fetchState.loading &&
												'skeleton position-relative rounded-t-lg overflow-hidden',
										]"
										class="p-r-0 overflow-hidden"
									>
										<v-img
											:contain="isEmpty(data.files)"
											:cover="!isEmpty(data.files)"
											:src="isEmpty(data.files) ? imgNoImage : data.files[0].img"
											class="img-data w-100"
										/>
									</v-card-item>
									<v-card-text class="photo-info d-flex flex-column justify-space-between p-r-7">
										<v-banner class="border-0 p-r-0" lines="two">
											<v-banner-text
												:class="[componentProps.fetchState.loading && 'skeleton']"
												class="photo-title font-size-16-22 font-weight-black color-dark pr-r-0"
											>
												{{ data.title }}
											</v-banner-text>
										</v-banner>
										<div
											:class="[componentProps.fetchState.loading && 'skeleton']"
											class="d-flex justify-start align-center mt-r-8"
										>
											<v-img :src="icEye" max-width="24" width="24" />
											<p class="font-size-12-16 color-gray-a4">
												{{ changeNumberFormat(data.readCount) }}
											</p>
											<p class="font-size-12-16 color-gray-a4 ml-r-5">
												{{ changeDateFormat(data.createdDate) }}
											</p>
										</div>
									</v-card-text>
								</v-card>
							</v-hover>
						</router-link>
					</v-col>
				</template>
				<template v-else>
					<v-col class="font-size-16-20 font-weight-bold text-center" cols="12"> 데이터가 없습니다.</v-col>
				</template>
			</v-row>
		</v-container>
	</div>
</template>
