@use "sass:map";

// Layout
@use "@assets/pro/scss/core/vertical-nav";
@use "@assets/pro/scss/core/default-layout";

// Components
@use "@assets/pro/scss/core/components";

// Utilities
@use "@assets/pro/scss/core/utilities";

// Misc
@use "@assets/pro/scss/core/misc";

// Dark
@use "@assets/pro/scss/core/dark";

a {
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

// Vuetify 3 don't provide margin bottom style like vuetify 2
p {
  margin-block-end: 1rem;
}

// Iconify icon size
svg.iconify {
  block-size: 1em;
  inline-size: 1em;
}
