//html 기본 스타일은 살리면서, 모든 브라우저에서 객체가 동일하게 나타나도록 함.
@import '@/assets/user/css/base/normalize';
//html 기본 스타일까지 삭제. normalize보다 극단적.
// @import "@/assets/css/base/reset";

@import '@/assets/user/css/base/layout';
@import '@/assets/common/color';
@import '@/assets/common/font';
@import '@/assets/common/mixins';
@import '@/assets/common/functions';
@import '@/assets/common/overrides';
@import '@/assets/common/iterate';

html,
body {
    height: 100%;
    margin: 0 auto;
}

.user-root-wrapper{

    * {
        box-sizing: border-box;
        color: map-get($theme-colors, 'dark');
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 400;
        word-break: break-all;
        line-height: 1.75em;
    }

    *::placeholder {
        text-align: center;
        //color: map-get($theme-colors, 'primary');
    }

    a {
        //color: map-get($theme-colors, 'primary');
        text-decoration: none !important;

        &:hover,
        &:active,
        &:visited {
            //color: map-get($theme-colors, 'primary');
        }
    }

    input,
    button,
    textarea {
        background: white;
    }

    ul,
    ol,
    dl {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    .indent-dot {
        align-items: stretch;
        display: flex;
        justify-content: start;

        &:before {
            content: '·';
            display: block;
            margin-right: 0.25rem;
        }
    }

    .indent-dot-bold {
        align-items: stretch;
        display: flex;
        justify-content: start;

        &:before {
            content: '•';
            display: block;
            margin-right: 0.5rem;
        }
    }

    .indent-blue-dot-bold {
        align-items: stretch;
        display: flex;
        justify-content: start;

        &:before {
            content: '•';
            display: block;
            margin-right: 0.5rem;
            color: $primary;
        }
    }

    .indent-dash {
        align-items: stretch;
        display: flex;
        justify-content: start;

        &:before {
            content: '-';
            display: block;
            margin-right: 0.25rem;
            font-size: inherit;
        }
    }

    .indent-check {
        align-items: stretch;
        display: flex;
        justify-content: start;

        &:before {
            content: ' ';
            background: url('@/assets/user/images/sub/common/ic-check.svg') no-repeat;
            background-size: 100%;
            min-width: 2rem;
            aspect-ratio: 1/1;
            display: block;
            margin-right: 1rem;
            font-size: inherit;
        }
    }

    .border-top {
        border-top: 1px solid $dark;
    }

    .border-right {
        border-right: 1px solid $dark;
    }

    .border-bottom {
        border-bottom: 1px solid $dark;
    }

    .border-left {
        border-left: 1px solid $dark;
    }

    .form-label {
        &:after {
            aspect-ratio: 1/1;
            background: $error;
            border-radius: 100%;
            content: ' ';
            display: block;
            margin-left: 0.75rem;
            width: 7px;
        }
    }

    .line-height-1-75 {
        line-height: 1.75em;
    }

    .line-height-1-5 {
        line-height: 1.5em;
    }

    .transition {
        transition: all ease 0.3s;
    }

    .keep-all {
        word-break: keep-all;
    }

    .vue-dropzone {
        .dz-preview {
            border-radius: 1rem;

            > div {
                border-radius: 1rem !important;
            }

            .dz-image {
                //border-radius: 1rem;
                align-items: center;
                aspect-ratio: 1/1;
                display: flex;
                justify-content: center;
                width: 150px;
            }

            .dz-details {
                background: rgb(var(--v-theme-primary));
            }

            .dz-success-mark,
            .dz-error-mark {
                background: none !important;

                svg {
                    background: rgba(255, 255, 255, 0.7);
                    border-radius: 50%;
                    fill: rgb(var(--v-theme-primary));
                }
            }
        }

        .dz-message {
            color: $gray-c9;
        }
    }

    .skeleton-container {
        .skeleton {
            border-radius: 8px;
            display: block;
            overflow: hidden;
            position: relative;

            &:before {
                background: $gray-8e;
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
            }

            &:after {
                animation: shimmer 1.5s infinite;
                background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5), transparent);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transform: translateX(-100%);
                z-index: 3;
            }
        }
    }

    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }

    .select {
        @include custom-select();
        height: 48px;
        padding: 12px 16px;

        &:focus {
            outline-color: $primary;
        }
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .move-top {
        bottom: 10rem;
        right: 2rem;
        z-index: 901;
    }


    .top-0{
        top: 0 !important;
    }
    .top-50{
        top: 50% !important;
    }
    .top-100{
        top: 100% !important;
    }
    .right-0{
        right: 0 !important;
    }
    .right-50{
        right: 50% !important;
    }
    .right-100{
        right: 100% !important;
    }
    .bottom-0{
        bottom: 0 !important;
    }
    .bottom-50{
        bottom: 50% !important;
    }
    .bottom-100{
        bottom: 100% !important;
    }
    .left-0{
        left: 0 !important;
    }
    .left-50{
        left: 50% !important;
    }
    .left-100{
        left: 100% !important;
    }
    .file-box{
        z-index: 2;
    }

    .common-dialog .v-overlay__content {
        max-width: $grid-contents-width !important;
    }

    .dialog-card {
        max-height: 55rem;
        width: 100%;

        .dialog-card-text {
            height: 38rem;
        }

        .dialog-card-text::-webkit-scrollbar {
            width: 1rem;
        }

        .dialog-card-text::-webkit-scrollbar-track {
            background: $light;
        }

        .dialog-card-text::-webkit-scrollbar-thumb {
            background: $gray-c9;
            border-radius: 0.5rem;
        }
    }

    .qna-dialog {
        max-width: 300px;
    }

    .title-list {
        li {
            span {
                width: 4rem;
            }

            & > p,
            & > ul {
                flex: 1;
            }
        }
    }

    .flex-0 {
        flex: 0;
    }

    .flex-1 {
        flex: 1;
    }

    .flex-none {
        flex: none;
    }

    .flex-inherit {
        flex: inherit;
    }

    .nowrap {
        white-space: nowrap;
    }

    .aspect-ratio-1-1 {
        aspect-ratio: 1/1;
    }

    .aspect-ratio-16-9 {
        aspect-ratio: 16/9;
    }

    .aspect-ratio-4-3 {
        aspect-ratio: 4/3;
    }

    ul {
        li {
            table {
                tr {
                    th {
                        vertical-align: top;
                        width: 5rem;
                    }
                }
            }
        }
    }

    textarea {
        resize: none;
    }

    .form-required {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;

        &:after {
            content: ' ';
            display: block;
            background-color: red;
            width: 6px;
            aspect-ratio: 1/1;
            border-radius: 100%;
            margin-left: 1rem;

        }
    }

    .v-checkbox,
    v-radio {
        color: inherit;
    }

    .v-checkbox {
        margin-left: -9px;
    }

    .v-selection-control__wrapper {
        transform: translate(0, 2px);
    }

    .v-banner {
        padding: 0;
        border-bottom: none;
        .v-banner-text {
            padding: 0;
        }
    }

    .swiper-pagination{
        bottom: 0 !important;
        .swiper-pagination-bullet{
            width: auto;
            height: 0.75rem;
            aspect-ratio: 1/1;

            &.swiper-pagination-bullet-active {
                background: rgb(var(--v-theme-secondary));
                border-radius: 9999px;
                aspect-ratio: 6/1;
            }
        }
    }

    .page-arrow,
    .customize-button{
        width: 2.5rem;
        height: 2.5rem;
    }
}