@import '@/assets/common/breakpoints';

.v-application {
	.v-application__wrap {
		//.nav-wrapper .navbar,
		.root-container .main-container,
		.root-container .sub-container .sub-visual-wrapper .sub-visual-container,
		.root-container .sub-container .sub-navigation-wrapper .sub-navigation-container,
		.root-container .sub-container .sub-contents-container,
		footer > .footer-container {
			max-width: $grid-contents-width;
		}

		.root-container .sub-container .sub-contents-container.wide {
			max-width: 100%;

			.wide-container {
				max-width: $grid-contents-width;
				margin: 0 auto;
			}
		}
	}
}
