<script lang="ts" setup>
import {ref} from 'vue';
import {useRoute} from 'vue-router';

const route = useRoute();
const params = ref(route.params);
</script>

<template>
    <div>
        <span>{{ params }}</span>
        <div>
            dynamic route :
            <a href="https://morioh.com/p/5c227b527fb3" target="_blank">
                https://morioh.com/p/5c227b527fb3
            </a>
        </div>
    </div>
</template>

<style scoped></style>
