<script lang="ts" setup>
import {onMounted, ref} from 'vue';
import '@fullcalendar/core/vdom'; // solve problem with Vite
import type {CalendarOptions, DateSelectArg, EventApi, EventClickArg} from '@fullcalendar/vue3';
import FullCalendar from '@fullcalendar/vue3';
import dayGridPlugin from '@fullcalendar/daygrid';
import timeGridPlugin from '@fullcalendar/timegrid';
import interactionPlugin from '@fullcalendar/interaction';
import koLocale from '@fullcalendar/core/locales/ko';
import rgbHex from 'rgb-hex';
import hexRgb from 'hex-rgb';

import type {ThemeColorInterface} from '@/interface/pro/common';
import {getVuetifyThemeColors} from '@/utils';
import {SingleDateTimePicker} from '@/components/pro';

const fullCalendar = ref(null);
const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());
const currentEventItem = ref({
    id: 0,
    title: '',
    start: '2022-12-07T13:30:00',
    end: '2022-12-14T23:30:00',
    textColor: currentTheme.value.primary,
    backgroundColor: '',
    borderColor: '',
    allDay: false,
});

const handleDateSelect = (selectInfo: DateSelectArg) => {
    const calendarApi = selectInfo.view.calendar;
    calendarApi.unselect(); // clear date selection
    console.log(selectInfo);
    currentEventItem.value.start = selectInfo.startStr;
    currentEventItem.value.end = selectInfo.endStr;
    currentEventItem.value.allDay = true;
};
const handleEventClick = (clickInfo: EventClickArg) => {
    const eventId = clickInfo.event.id;
    const calendarApi = fullCalendar.value.getApi();
    const eventResource = calendarApi.getEventById(eventId);
    currentEventItem.value = {
        id: eventResource.id,
        title: eventResource.title,
        start: eventResource.start,
        end: eventResource.end,
        textColor: `#${rgbHex(eventResource.textColor).toUpperCase()}`,
        backgroundColor: eventResource.backgroundColor,
        borderColor: eventResource.borderColor,
        allDay: eventResource.allDay,
    };
};
const currentEvents = ref<EventApi[]>([]);
const handleEvents = (events: EventApi[]) => {
    currentEvents.value = events;
};
const addedEventCallback = (addedEventData: any) => {
    console.log(addedEventData);
};
const calendarOptions = ref<CalendarOptions>({
    plugins: [
        dayGridPlugin,
        timeGridPlugin,
        interactionPlugin, // needed for dateClick
    ],
    headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay',
    },
    initialView: 'dayGridMonth',
    editable: true,
    selectable: true,
    selectMirror: true,
    dayMaxEvents: true,
    weekends: true,
    select: handleDateSelect,
    eventClick: handleEventClick,
    eventsSet: handleEvents,
    locale: koLocale,
    eventAdd: addedEventCallback,

    /* you can update a remote database when these fire:
eventChange:
eventRemove:
*/
});

const colors = ref([]);

const newEventId = ref(0);

const createNewEventId = () => {
    newEventId.value = newEventId.value + 1;

    return newEventId.value;
};

const handleScheduleState = () => {
    currentEventItem.value = {
        id: 0,
        title: '',
        start: new Date().toISOString(),
        end: new Date().toISOString(),
        textColor: currentTheme.value.primary,
        backgroundColor: '',
        borderColor: '',
        allDay: false,
    };
};

const handleEventAdd = () => {
    const eventColor = hexRgb(currentEventItem.value.textColor);
    const newEventItem = {
        id: currentEventItem.value.id,
        title: currentEventItem.value.title,
        start: currentEventItem.value.start,
        end: currentEventItem.value.end,
        allDay: currentEventItem.value.allDay,
        textColor: `rgb(${eventColor.red}, ${eventColor.green}, ${eventColor.blue})`,
        backgroundColor: `rgba(${eventColor.red}, ${eventColor.green}, ${eventColor.blue}, 0.1)`,
        borderColor: `rgba(${eventColor.red}, ${eventColor.green}, ${eventColor.blue}, 0.1)`,
    };

    const calendarApi = fullCalendar.value.getApi();
    if (newEventItem.id > 0) {
        const eventId = newEventItem.id;
        const eventResource = calendarApi.getEventById(eventId);
        eventResource.setProp('title', newEventItem.title);
        eventResource.setProp('textColor', newEventItem.textColor);
        eventResource.setProp('backgroundColor', newEventItem.backgroundColor);
        eventResource.setProp('borderColor', newEventItem.borderColor);
        eventResource.setDates(newEventItem.start, newEventItem.end, {allDay: newEventItem.allDay});
    } else {
        newEventItem.id = createNewEventId();
        calendarApi.addEvent({
            ...newEventItem,
        });
    }

    handleScheduleState();
};

const handleEventDelete = () => {
    if (confirm('이벤트를 삭제하시겠습니까?')) {
        const eventId = currentEventItem.value.id;
        const calendarApi = fullCalendar.value.getApi();
        const eventResource = calendarApi.getEventById(eventId);
        eventResource.remove();
        handleScheduleState();
    }
};

const changeStartDatTime = (singleDateTimeData: any) => {
    currentEventItem.value.start = singleDateTimeData;
};

const changeEndDatTime = (singleDateTimeData: any) => {
    currentEventItem.value.end = singleDateTimeData;
};

onMounted(() => {
    for (const [key, value] of Object.entries(currentTheme.value)) {
        colors.value.push({name: key, color: value});
    }
});
</script>

<template>
    <div class="demo-app">
        <div class="demo-app-sidebar">
            <div class="demo-app-sidebar-section">
                <h2>All Events ({{ currentEvents.length }})</h2>
                <ul>
                    <li
                        v-for="event in currentEvents"
                        :key="event.id"
                    >
                        <b>{{ event }}</b>
                    </li>
                </ul>
            </div>
            <div class="demo-app-sidebar-section">
                <VCard title="일정">
                    <VCardText>
                        <VRow>
                            <VCol cols="12">
                                <VTextField
                                    v-model="currentEventItem.title"
                                    label="제목"
                                    placeholder="제목"
                                />
                            </VCol>
                        </VRow>
                        <VRow>
                            <VCol
                                cols="6"
                                class="d-flex align-center"
                            >
                                <label for="allDay">하루종일</label>
                            </VCol>
                            <VCol cols="6">
                                <VSwitch
                                    id="allDay"
                                    v-model="currentEventItem.allDay"
                                    color="primary"
                                />
                            </VCol>
                        </VRow>
                        <VRow>
                            <VCol cols="12">
                                <SingleDateTimePicker
                                    :date-object="currentEventItem.start"
                                    placeholder="시작일"
                                    @update="changeStartDatTime"
                                />
                            </VCol>
                        </VRow>
                        <VRow>
                            <VCol cols="12">
                                <SingleDateTimePicker
                                    :date-object="currentEventItem.end"
                                    placeholder="종료일"
                                    @update="changeEndDatTime"
                                />
                            </VCol>
                        </VRow>
                        <VRow>
                            <VCol cols="12">
                                <VSelect
                                    v-model="currentEventItem.textColor"
                                    :items="colors"
                                    item-title="name"
                                    item-value="color"
                                    label="색상"
                                    placeholder="색상"
                                >
                                    <template #selection="{item}">
                                        <div class="d-flex align-center">
                                            <span
                                                :style="`background: ${item.value}`"
                                                class="calendar-event-type d-inline-block mr-2 rounded-circle"
                                            >
                                            </span>
                                            {{ item ? item.title : '색상' }}
                                        </div>
                                    </template>
                                </VSelect>
                                {{ currentEventItem }}
                            </VCol>
                        </VRow>
                        <VRow>
                            <VCol cols="12">
                                <VBtn
                                    class="w-100"
                                    size="large"
                                    @click="handleEventAdd"
                                >
                                    {{ currentEventItem.id === 0 ? '일정등록' : '일정수정' }}
                                </VBtn>
                            </VCol>
                        </VRow>
                        <VRow v-if="currentEventItem.id > 0">
                            <VCol cols="12">
                                <VBtn
                                    class="w-100"
                                    size="large"
                                    color="error"
                                    @click="handleEventDelete"
                                >
                                    일정삭제
                                </VBtn>
                            </VCol>
                        </VRow>
                    </VCardText>
                </VCard>
            </div>
        </div>
        <div class="demo-app-main">
            <VCard>
                <VCardText>
                    <FullCalendar
                        ref="fullCalendar"
                        class="demo-app-calendar"
                        :options="calendarOptions"
                    >
                        <template #eventContent="arg">
                            <b>{{ arg.timeText }}</b>
                            <i>{{ arg.event.title }}</i>
                        </template>
                    </FullCalendar>
                </VCardText>
            </VCard>
        </div>
    </div>
</template>

<style lang="scss">
h2 {
    margin: 0;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

li {
    margin: 1.5em 0;
    padding: 0;
}

b {
    /* used for event dates/times */
    margin-right: 3px;
}

.demo-app {
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

.demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
}

.demo-app-sidebar-section {
    padding: 2em;
}

.demo-app-main {
    flex-grow: 1;
    padding: 3em;
}

.fc {
    /* the calendar root */
    //max-width: 1100px;
    margin: 0 auto;
}
.fc-button span {
    display: flex;
}

.calendar-event-type {
    width: 1rem;
    aspect-ratio: 1/1;
}

.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    color: inherit !important;
}
</style>
