<script lang="ts" setup>
import {inject, onMounted, ref} from 'vue';
import type {ClickRowArgument, Header, Item, SortType} from 'vue3-easy-data-table';
import Vue3EasyDataTable from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';

import type {ThemeColorInterface} from '@/interface/pro/common';
import {getVuetifyThemeColors} from '@/utils';

const headers: Header[] = [
    {text: 'id', value: 'id', sortable: true},
    {text: 'title', value: 'title', sortable: true},
    {text: 'ingredients', value: 'ingredients', sortable: true},
    {text: 'image', value: 'image', sortable: true},
];

const items = ref<Item[]>([]);

const loading = ref(false);

const selectedItem = ref({});

const showRow = (item: ClickRowArgument) => {
    selectedItem.value = item;
};

const sortBy: string[] = headers.map(header => header.value).filter(val => val != 'operation');
const sortType: SortType[] = ['desc', 'asc'];
const searchField = ['id', 'title', 'ingredients', 'image'];
const searchValue = ref('');
const itemsSelected = ref<Item[]>([]);

const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());

const apiClient = inject<any>('apiClient');

onMounted(async () => {
    await apiClient.get('https://api.sampleapis.com/coffee/hot').then((response: any) => {
        items.value = response.data;
        loading.value = false;
    });
});
</script>

<template>
    <div>
        검색
        <VTextField
            v-model="searchValue"
            label="search"
            type="text"
        />
        <Vue3EasyDataTable
            v-model:items-selected="itemsSelected"
            show-index
            :headers="headers"
            :items="items"
            multi-sort
            :sort-by="sortBy"
            :sort-type="sortType"
            :theme-color="currentTheme.primary"
            buttons-pagination
            :search-field="searchField"
            :search-value="searchValue"
            :loading="loading"
            class="customize-table"
            @click-row="showRow"
        />
        <div>
            {{ currentTheme.primary }}
        </div>
        <div>
            {{ itemsSelected }}
        </div>
        <div>
            {{ selectedItem }}
        </div>
        <div>
            vue3-ease-data-table :
            <a
                href="https://hc200ok.github.io/vue3-easy-data-table-doc/getting-started.html"
                target="_blank"
            >
                https://hc200ok.github.io/vue3-easy-data-table-doc/getting-started.html
            </a>
        </div>
    </div>
</template>

<style lang="scss"></style>
