<script lang="ts" setup>
import {ref} from 'vue';
import {DateRangePicker, DateTimeRangePicker, SingleDatePicker, SingleDateTimePicker} from '@/components/pro';

const singleDate = ref(new Date());
const dateRange = ref({
    start: new Date(),
    end: new Date(),
});
const singleDateTime = ref(new Date());
const dateRangeTime = ref({
    start: new Date(),
    end: new Date(),
});

const changeSingleDate = (singleDateData: any) => {
    console.log(`changeSingleDate : ${singleDateData}`);
    singleDate.value = singleDateData;
};

const changeDateRange = (dateRangeData: any) => {
    console.log(`changeDateRange : ${JSON.stringify(dateRangeData)}`);
    dateRange.value = dateRangeData;
};

const changeSingleDatTime = (singleDateTimeData: any) => {
    console.log(`changeSingleDatTime : ${singleDateTimeData}`);
    singleDateTime.value = singleDateTimeData;
};

const changeDateRangeTime = (dateRangeTimeData: any) => {
    console.log(`changeDateRangeTime : ${JSON.stringify(dateRangeTimeData)}`);
    dateRangeTime.value = dateRangeTimeData;
};
</script>

<template>
    <div>
        <h1>date time picker</h1>
        <SingleDatePicker
            class="mt-4"
            :date-object="singleDate"
            placeholder="single date pick"
            @update="changeSingleDate"
        />
        <DateRangePicker
            class="mt-4"
            :date-object="dateRange"
            placeholder="date range pick"
            @update="changeDateRange"
        />
        <SingleDateTimePicker
            class="mt-4"
            :date-object="singleDateTime"
            placeholder="single date time pick"
            @update="changeSingleDatTime"
        />
        <DateTimeRangePicker
            class="mt-4"
            :date-object="dateRangeTime"
            placeholder="date time range pick"
            @update="changeDateRangeTime"
        />
    </div>
</template>
