<script lang="ts" setup>
import {ref, watchEffect} from 'vue';
import 'v-calendar/dist/style.css';
import {DatePicker} from 'v-calendar';
import {getVuetifyCurrentTheme} from '@/utils';
import type {DateRangeInterface} from '@/interface/pro/datepicker';

interface DatePickerInterface {
    dateObject: DateRangeInterface;
    placeholder: string;
}

const props = defineProps<DatePickerInterface>();

const emit = defineEmits(['update']);

const masks = {
    input: 'YYYY-MM-DD',
    inputDateTime24hr: 'YYYY-MM-DD HH:mm:ss',
};

const attrs = [
    {
        key: 'today',
        highlight: true,
    },
];
const timezone = ref('');
const dateRange = ref(props.dateObject);

const currentTheme = ref(getVuetifyCurrentTheme());

watchEffect(() => {
    emit('update', dateRange.value);
});
watchEffect(() => {
    dateRange.value = props.dateObject;
});
</script>

<template>
    <DatePicker
        v-model="dateRange"
        mode="datetime"
        :timezone="timezone"
        :attributes="attrs"
        :masks="masks"
        is-range
        :is-dark="currentTheme !== 'light'"
        class="position-relative"
    >
        <template #default="{inputValue, togglePopover}">
            <VTextField
                v-model="dateRange.start"
                :value="inputValue.start"
                :label="props.placeholder"
                :placeholder="props.placeholder"
                append-icon="mdi-calendar"
                readonly
                @click:append="togglePopover"
            />

            <VTextField
                v-model="dateRange.end"
                :value="inputValue.end"
                :label="props.placeholder"
                :placeholder="props.placeholder"
                append-icon="mdi-calendar"
                readonly
                @click:append="togglePopover"
            />
        </template>
    </DatePicker>
</template>
