<script lang="ts" setup>
import {ref, watchEffect} from 'vue';
import 'v-calendar/dist/style.css';
import {DatePicker} from 'v-calendar';
import {getVuetifyCurrentTheme} from '@/utils';

interface DatePickerInterface {
    dateObject: string | Date;
    placeholder: string;
}

const props = defineProps<DatePickerInterface>();

const emit = defineEmits(['update']);

const masks = {
    input: 'YYYY-MM-DD',
    inputDateTime24hr: 'YYYY-MM-DD HH:mm:ss',
};

const attrs = [
    {
        key: 'today',
        highlight: true,
    },
];

const modelConfig = {
  type: 'string',
  mask: 'YYYY-MM-DD HH:mm'
};

const timezone = ref('');

const singleDate = ref(props.dateObject);

const currentTheme = ref(getVuetifyCurrentTheme());

watchEffect(() => {
    emit('update', singleDate.value);
});

watchEffect(() => {
    singleDate.value = props.dateObject;
});
</script>

<template>
    <DatePicker
        v-model="singleDate"
        mode="dateTime"
        :timezone="timezone"
        :attributes="attrs"
        :masks="masks"
        :is-dark="currentTheme !== 'light'"
        :model-config="modelConfig"
        class="position-relative"
    >
        <template #default="{inputValue, togglePopover}">
            <VTextField
                v-model="singleDate"
                :value="inputValue"
                :label="props.placeholder"
                :placeholder="props.placeholder"
                append-icon="mdi-calendar"
                readonly
                @click='togglePopover'
                @click:append="togglePopover"
            />
        </template>
    </DatePicker>
</template>
