<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiGetInfraSimpleList} from '@/services/pro/infraService'
import {apiGetMemberSimpleList} from '@/services/pro/memberService'
import {
  apiDeleteInfraReservation,
  apiGetInfraReservationInfo,
  apiSaveInfraReservation,
  apiUpdateInfraReservation
} from '@/services/pro/infraReservationService';
import type {InfraReservationInterface} from "@/interface/pro/infraReservation";
import {userStore} from '@/store/pro/user';
import {initInfraReservation} from "@/interface/pro/infraReservation";
import {apiGetEnumType} from "@/services/pro/enumService";

const infraReservation = ref<InfraReservationInterface>(initInfraReservation);

const route = useRoute();
const infraReservationId = ref();
const infraReservationInfo = ref<InfraReservationInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;
const infra = ref([]);
const reservationStatusType = ref([]);
const member = ref([]);

onMounted(async () => {
  const res = await apiGetEnumType("ReservationStatus");
  reservationStatusType.value = res.data;

  const infraRes = await apiGetInfraSimpleList();
  infra.value = infraRes.data;

  const memberRes = await apiGetMemberSimpleList();
  member.value = memberRes.data;

  infraReservationId.value = route.query.id;
  if (infraReservationId.value) {
    await apiGetInfraReservationInfo(infraReservationId.value).then((res) => {
      infraReservation.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(infraReservation.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/infra/Reservation/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const infraReservationInfo = {...infraReservation.value};
    
    let apiResult: any;
    if (infraReservation.value.id) {
      apiResult = await apiUpdateInfraReservation(infraReservationInfo);
    } else {
      apiResult = await apiSaveInfraReservation(infraReservationInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteInfraReservation(infraReservation.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/infra/Reservation/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}
const changeUseStartTime = (singleDateTimeData: any) => {
  console.log(`changeSingleDatTime : ${singleDateTimeData}`);
  infraReservation.value.useStartTime = singleDateTimeData;
};
const getInfra = () => {
  let list = [];
  infra.value.forEach(item => {
    list.push({
      'title' : item.name,
      'value' : item.id,
      disable: false
    })
  });
  return list;
}

const getMember = () => {
  let list = [];
  member.value.forEach(item => {
    list.push({
      'title' : item.name + '(아이디:' + item.userId + ', 회사명:' + item.companyName + ')',
      'value' : item.id,
      disable: false
    })
  });
  return list;
}

const getReservationStatusType = () => {
  let list = [];
  reservationStatusType.value.forEach(item => {
    list.push({
      'title': item.value,
      'value': item.code,
    })
  });

  return list;
}
</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>시설 예약 상세 {{infraReservation.id ? '수정' : '등록'}}</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">시설</VCol>
                <VCol xs="12" md="6">
                  <v-select id="infraId" v-model="infraReservation.infraId" label="시설" :error="!isEmpty(responseErrors.infraId)" :items="getInfra()" :readonly="!initInfraReservation.id" item-text="title" item-disabled="disable"/>
                  <span v-if="!isEmpty(responseErrors.infraId)" class="text-error">{{ responseErrors.infraId.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이용 시작 일시</VCol>
                <VCol xs="12" md="6">
                  <SingleDateTimePicker :date-object="infraReservation.useStartTime" :error="!isEmpty(responseErrors.useStartTime)" placeholder="이용 시작 일시" @update="changeUseStartTime" />
                  <span v-if="!isEmpty(responseErrors.useStartTime)" class="text-error">{{ responseErrors.useStartTime.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이용 시간</VCol>
                <VCol xs="12" md="3">
                  <VTextField id="useTime" v-model="infraReservation.useTime" label="이용 시간" :error="!isEmpty(responseErrors.useTime)" :readonly="!initInfraReservation.id" placeholder="이용 시간을 입력하세요." suffix="시간" />
                  <span v-if="!isEmpty(responseErrors.useTime)" class="text-error">{{ responseErrors.useTime.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">행사명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="eventName" v-model="infraReservation.eventName" label="행사명" :error="!isEmpty(responseErrors.eventName)" :readonly="!initInfraReservation.id" placeholder="행사명을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.eventName)" class="text-error">{{ responseErrors.eventName.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">예정 인원</VCol>
                <VCol xs="12" md="3">
                  <VTextField id="expectedPerson" v-model="infraReservation.expectedPerson" label="예정 인원" :error="!isEmpty(responseErrors.expectedPerson)" :readonly="!initInfraReservation.id" placeholder="예정 인원을 입력하세요." suffix="명" />
                  <span v-if="!isEmpty(responseErrors.expectedPerson)" class="text-error">{{ responseErrors.expectedPerson.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">시설 예약 상태</VCol>
                <VCol xs="12" md="3">
                  <v-select id="status" label="시설 예약 상태" v-model="infraReservation.status" :items="getReservationStatusType()"></v-select>
                  <span v-if="!isEmpty(responseErrors.status)" class="text-error">{{ responseErrors.status.reason }}</span>
                </VCol>
              </VRow>
              <VRow v-if="infraReservation.status === 'REJECT'">
                <VCol xs="12" md="3">승인 불가 사유</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="reason" v-model="infraReservation.reason" label="승인 불가 사유" :error="!isEmpty(responseErrors.reason)" placeholder="승인 불가 사유를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.reason)" class="text-error">{{ responseErrors.reason.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">예약자 정보</VCol>
                <VCol xs="12" md="6">
                  <v-select id="reservationUser" v-model="infraReservation.reservationUser" label="예약자 정보" :error="!isEmpty(responseErrors.reservationUser)" :items="getMember()" :readonly="!initInfraReservation.id" item-text="title" item-disabled="disable"/>
                  <span v-if="!isEmpty(responseErrors.reservationUser)" class="text-error">{{ responseErrors.reservationUser.reason }}</span>
                </VCol>
              </VRow>
              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="infraReservation.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ infraReservation.id ? '수정' : '등록' }}</VBtn>

                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
