<script lang="ts" setup>
import {ComputedRef, onMounted, ref, watchEffect} from 'vue';
import type {Header, Item, ServerOptions, SortType} from 'vue3-easy-data-table';
import Vue3EasyDataTable from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';
import {apiDeleteInfraReservation, apiGetInfraReservation, apiGetSearchInfraReservationInfo} from '@/services/pro/infraReservationService';
import type {SearchInterface, ThemeColorInterface} from '@/interface/pro/common';
import {alertError, alertSuccess, alertWarning, changeDateFormatMoment, getVuetifyThemeColors} from '@/utils';
import {useRowsPerPage, UseRowsPerPageReturn} from 'use-vue3-easy-data-table';
import {userStore} from '@/store/pro/user';
import {apiGetEnumType} from "@/services/pro/enumService";

const headers: Header[] = [
  {text: '시설명', value: 'infraName', sortable: true},
  {text: '정원', value: 'infraCapacity', sortable: false},
  {text: '예약자명', value: 'userName', sortable: false},
  {text: '예약회사명', value: 'userCompany', sortable: false},
  {text: '이용시작일시', value: 'useStartTime', sortable: true},
  {text: '이용시간', value: 'useTime', sortable: false},
  {text: '행사명', value: 'eventName', sortable: true},
  {text: '예정 인원', value: 'expectedPerson', sortable: true},
  {text: '상태', value: 'status', sortable: true},
  {text: '등록일', value: 'createdDate', sortable: true},
  {text: '기능', value: 'operation'},
];

const dataTable = ref();

const items = ref<Item[]>([]);
const reservationStatusType = ref([]);

const loading = ref(false);

const sortBy: string[] = headers.filter(value => value.sortable).map(header => header.value).filter(val => val != 'operation');
const sortType: SortType[] = ['desc', 'asc'];
const searchField = ['infraName', 'userName', 'userCompany', 'eventName'];
const searchValue = ref('');
const itemsSelected = ref<Item[]>([]);

const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());

const router = useRouter();

const store = userStore();
const iAlert =store.iAlert;

const serverItemsLength = ref(0);
const serverOptions = ref<ServerOptions>({
  page: 1,
  rowsPerPage: 25,
  sortBy: 'createdDate',
  sortType: 'desc',
});
const searchData = ref<SearchInterface>({
  searchType: undefined,
  keyword: undefined,
  page: serverOptions.value.page,
  rowsPerPage: serverOptions.value.rowsPerPage,
  sortBy: serverOptions.value.sortBy,
  sortType: serverOptions.value.sortType,
});

onMounted(async () => {
  const res = await apiGetEnumType("ReservationStatus");
  reservationStatusType.value = res.data;
  await handleSearch();
});

const convertValueList = (list) => {
  list.forEach(item => {
    item.useStartTime = changeDateFormatMoment(item.useStartTime, 'YYYY-MM-DD HH:mm');
    item.useTime = item.useTime + " 시간";
    item.expectedPerson = item.expectedPerson + " 명";
    item.status = reservationStatusType.value.find(type => type.code === item.status).value;
    item.createdDate = changeDateFormatMoment(item.createdDate, 'YYYY-MM-DD HH:mm');
  });
  return list;
};

const handleSearch = async () => {
  loading.value = true;
  try {

    searchData.value.page = serverOptions.value.page;
    searchData.value.rowsPerPage = serverOptions.value.rowsPerPage;
    searchData.value.sortBy = serverOptions.value.sortBy;
    searchData.value.sortType = serverOptions.value.sortType;

    await apiGetSearchInfraReservationInfo(searchData.value).then(res => {
      if (res) {
        serverItemsLength.value = res.data.page.totalElements;
        items.value = convertValueList(res.data.data);
      }
    });

  } catch {
  } finally {
    loading.value = false;
  }
};

watch(serverOptions,  async (value) => { await handleSearch(); }, { deep: true });

const deleteItem = async (id) => {
  return await apiDeleteInfraReservation(id);
}
const handleDelete = async () => {

  if (itemsSelected.value.length == 0)
  {
    alertWarning('삭제 할 항목을 선택하세요.');
    return;
  }

  if (confirm('선택 된 항목을 삭제하시겠습니까?')) {
    try {
      itemsSelected.value.forEach(item => {
        deleteItem(item.id!);
      });
      alertSuccess('삭제되었습니다.', () => {
        router.go(router.currentRoute);
      })

    } catch (e) {
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
};

</script>

<template>
  <div>
    <IAlert :i-alert='iAlert'></IAlert>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-3'>시설 예약 관리 목록</VCardTitle>
            <VRow>
              <VCol cols="12" md="3">
                <VTextField id="search" v-model="searchData.keyword" placeholder="검색어" type="text" @keyup.enter='handleSearch' class="me-2">
                  <template #append>
                    <VBtn color="primary" size="large" @click="handleSearch">검색</VBtn>
                  </template>
                </VTextField>
              </VCol>
            </VRow>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VRow>
              <VCol cols="3">
                <VTextField id="searchInResult" v-model="searchValue" placeholder="결과내 검색" type="text" class="me-2" />
              </VCol>
              <VCol cols="2" offset="7" class="text-end">
                <div class='d-flex align-center justify-end'>
                  <VBtn color="red" size="large" @click='handleDelete' class='mr-4' variant='tonal'>선택삭제</VBtn>
                  <VBtn color="primary" size="large" :to="`/pro/infra/Reservation/form`">추가</VBtn>
                </div>
              </VCol>
            </VRow>
          </VCardItem>
          <VCardItem>
            <Vue3EasyDataTable ref="dataTable" v-model:items-selected="itemsSelected" show-index :headers="headers" :items="items" multi-sort :sort-by="sortBy" :sort-type="sortType" :theme-color="currentTheme.primary" buttons-pagination :search-field="searchField" :search-value="searchValue" :loading="loading" class="customize-table">
              <template #loading>
                <img src="/cms-logo.png" height="50" alt="Logo" />
              </template>
              <template #item-operation="item">
                <div class="operation-wrapper">
                  <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/infra/Reservation/form?id=${item.id}`">상세</VBtn>
                  <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/infra/Reservation/form?id=${item.id}`" target="_blank">새창</VBtn>
                </div>
              </template>
            </Vue3EasyDataTable>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
  </div>
</template>
