<script lang="ts" setup>
import {computed, ref, watchEffect} from 'vue';
import {useDisplay} from 'vuetify';
import type {PageWithHostInterface} from '@/interface/user/board';
import {icPageFirst, icPageLast, icPageNext, icPagePrev} from '@/assets/user/images/sub';
import {initPageWithHost} from "@/interface/user/board";

const props = defineProps<{
	page: PageWithHostInterface;
}>();

const pageData = ref<PageWithHostInterface>({...initPageWithHost});

const pageSize = ref(5);

const emit = defineEmits(['search']);

const {mobile} = useDisplay();

// pagination related
const maxPaginationNumber = ref(0);

const updatePage = (paginationNumber: number) => {
	pageData.value.page = paginationNumber;
	emit('search', paginationNumber);
};

const firstPage = () => {
	updatePage(0);
};

const isFirstPage = computed(() => pageData.value.page === 0);
const isLastPage = computed(() => pageData.value.page === maxPaginationNumber.value - 1);

const prevPage = () => {
	if (!isFirstPage.value) {
		updatePage(props.page.page - 1);
	}
};

const nextPage = () => {
	if (!isLastPage.value) {
		updatePage(props.page.page + 1);
	}
};

const lastPage = () => {
	updatePage(props.page.totalPages - 1);
};

const start = () => {
	return Math.floor(props.page.page / pageSize.value) * pageSize.value + 1;
};

const end = () => {
	const calculateEnd = start() + pageSize.value;
	
	return calculateEnd > maxPaginationNumber.value ? maxPaginationNumber.value + 1 : calculateEnd;
};

const range = computed(() => {
	const pageList = [];
	const startPage = start();
	const endPage = end();
	
	let i = startPage;
	for (i; i < endPage; i++) {
		pageList.push(i);
	}
	
	return pageList;
});

watchEffect(() => {
	if(props.page.totalElements > 0){
		maxPaginationNumber.value = props.page.totalPages;
	}
});

watchEffect(() => {
	pageSize.value = mobile.value ? 3 : 5;
});

</script>

<template>
	<v-row class="mt-r-20" v-if="props.page.totalElements > 0">
		<v-col cols="2"></v-col>
		<v-col cols="8">
			<div class="customize-footer text-center d-flex justify-center align-stretch">
				<v-btn
					elevation="0"
					class="prev-page page-arrow mx-r-1 p-r-0 rounded-0 border-1 border-white-f2 h-auto aspect-ratio-1-1"
					:class="{ disabled: isFirstPage }"
					:disabled="isFirstPage"
					@click="firstPage"
					color=""
				>
					<v-img :src="icPageFirst" width="0.75rem"/>
				</v-btn>
				<v-btn
					elevation="0"
					class="prev-page page-arrow mx-r-1 p-r-0 rounded-0 border-1 border-white-f2 h-auto"
					:class="{ disabled: isFirstPage }"
					:disabled="isFirstPage"
					@click="prevPage"
					color=""
				>
					<v-img :src="icPagePrev" width="0.5rem"/>
				</v-btn>
				<div class="customize-buttons d-inline-flex justify-center align-center">
					<v-btn
						elevation="0"
						v-for="paginationNumber in range"
						:key="paginationNumber"
						class="customize-button mx-r-1 p-r-0 rounded-0 border-1"
						:class="[
							paginationNumber - 1 === pageData.page
								? 'active bg-primary border-primary'
								: 'border-white-f2',
						]"
						@click="updatePage(paginationNumber - 1)"
						color="transparent"
					>
						<span :class="[paginationNumber - 1 === pageData.page && 'color-light']">
							{{ paginationNumber }}
						</span>
					</v-btn>
				</div>
				<v-btn
					elevation="0"
					class="next-page page-arrow mx-r-1 p-r-0 rounded-0 border-1 border-white-f2 h-auto"
					:class="{ disabled: isLastPage }"
					:disabled="isLastPage"
					@click="nextPage"
					color=""
				>
					<v-img :src="icPageNext" width="0.5rem"/>
				</v-btn>
				<v-btn
					elevation="0"
					class="next-page page-arrow mx-r-1 p-r-0 rounded-0 border-1 border-white-f2 h-auto"
					:class="{ disabled: isLastPage }"
					:disabled="isLastPage"
					@click="lastPage"
					color=""
				>
					<v-img :src="icPageLast" width="0.75rem"/>
				</v-btn>
			</div>
		</v-col>
		<v-col cols="2"></v-col>
	</v-row>
</template>
