<script lang="ts" setup>
import { ref, watchEffect } from 'vue';

const props = defineProps<{
	active: boolean;
	title?: string;
	contents?: any;
}>();

const emit = defineEmits(['update']);

const dialogState = ref({ active: false, contents: {} });
const handleDialogState = () => {
	emit('update', false);
};

watchEffect(() => {
	dialogState.value.active = props.active;
	dialogState.value.contents = props.contents;
});

watchEffect(() => {
	emit('update', dialogState.value.active);
});
</script>

<template>
	<v-dialog v-model="dialogState.active" class="common-dialog">
		<v-card class="dialog-card rounded-lg p-r-5 p-r-md-15 mx-auto">
			<slot name="title">
				<v-card-title v-if="props.title" class="p-r-0 font-size-16-28 mt-r-8 font-weight-medium">
					{{ props.title }}
				</v-card-title>
			</slot>
			<slot>
				<div
					class="dialog-card-text font-size-12-16 rounded-lg p-r-3 py-r-16 p-r-md-13 bg-gray-fe border border-gray-e5 overflow-y-auto mt-r-10 mt-r-md-15 line-height-1-75"
					v-html="props.contents"
				></div>
			</slot>
			<slot name="actions">
				<v-card-actions class="d-flex justify-end align-center p-r-0 mt-r-4 mt-r-md-9">
					<v-btn
						class="bg-primary"
						color="primary"
						height="2.75rem"
						icon="mdi-close"
						width="2.75rem"
						@click="handleDialogState"
					>
<!--						<v-img :src="icClose" max-width="22" width="1.25rem" />-->
					</v-btn>
				</v-card-actions>
			</slot>
		</v-card>
	</v-dialog>
</template>
