<script setup lang="ts">
import { ref } from "vue";

const componentProps = defineProps<{
    color?: string;
}>();

const color = ref<string>(componentProps.color ? componentProps.color : 'color-success')

</script>

<template>
    <span class="divider d-inline-flex justify-center align-center mx-r-4" :class="color">|</span>
</template>