<script lang="ts" setup>
import { ref, watchEffect } from 'vue';
import VueDropzone from 'vue2-dropzone-vue3';
import { isEmpty } from '@utils';
import type { DropzoneFileInterface, FileInterface } from '@/interface/user/files';

const props = defineProps<{
	files: any[];
}>();

const emit = defineEmits(['update']);

// const store = userStore();
// const currentToken = store.getCurrentToken ?? { token: '' };

const articlesDropzone = ref();
const dropzoneFiles = ref<any>([]);
const dropzoneOptions = {
	url: `${import.meta.env.VITE_API_SAMPLE_BASE_URL}/pro/v1/files/upload`,
	thumbnailWidth: 150,
	thumbnailHeight: 150,
	maxFilesize: 10,

	// headers: { Authorization: `${setToken(currentToken.token)}` },
	addRemoveLinks: true,
	clickable: true,
	paramName: 'files',
	dictCancelUpload: '업로드 취소',
	dictCancelUploadConfirmation: '이 업로드를 취소 하시겠습니까?',
	dictDefaultMessage: '첨부파일 첨부하기',
	dictFallbackMessage: '브라우저가 드래그 앤 드롭 파일 업로드를 지원하지 않습니다.',
	dictFallbackText: '예전처럼 파일을 업로드하려면 아래의 대체 양식을 사용하세요.',
	dictFileSizeUnits: { tb: 'TB', gb: 'GB', mb: 'MB', kb: 'KB', b: 'b' },
	dictFileTooBig: '파일이 너무 큽니다 ({{filesize}}MiB). 최대 파일 크기: {{maxFilesize}}MiB.',
	dictInvalidFileType: '이 유형의 파일은 업로드 할 수 없습니다.',
	dictMaxFilesExceeded: '더 이상 파일을 업로드 할 수 없습니다.',
	dictRemoveFile: '삭제',
	dictRemoveFileConfirmation: null,
	dictResponseError: '서버가 {{statusCode}} 코드로 응답했습니다.',
	dictUploadCanceled: '업로드가 취소되었습니다.',
};

const dropzoneSuccess = (file: DropzoneFileInterface, xhr: any) => {
	if (!isEmpty(xhr)) {
		dropzoneFiles.value?.push(xhr[0].id);
		file.fileId = xhr[0].id;
		emit('update', [...dropzoneFiles.value]);
	}
};

const dropzoneRemove = (file: DropzoneFileInterface) => {
	dropzoneFiles.value = dropzoneFiles.value.filter((item: number) => item !== file.fileId);
	emit('update', [...dropzoneFiles.value]);
};

const initFlag = ref(true);

watchEffect(() => {
	if (initFlag.value && props.files.length > 0) {
		props.files.forEach((item: FileInterface) => {
			if (item.contentType.includes('image')) {
				const file = { size: item.size, name: item.fileName, type: item.contentType, fileId: item.id };
				const url = `${import.meta.env.VITE_API_SAMPLE_BASE_URL}/pro/v1/files/${item.id}?sfn=${
					item.saveFileName
				}`;
				articlesDropzone.value.manuallyAddFile(file, url);
				dropzoneFiles.value?.push(item.id);
			}
		});
		emit('update', [...dropzoneFiles.value]);
		initFlag.value = false;
	}
});
</script>

<template>
	<VueDropzone
		id="dropzone"
		ref="articlesDropzone"
		:options="dropzoneOptions"
		class="border bg-white-fb border-gray-e5 color-gray-c9"
		@vdropzone-success="dropzoneSuccess"
		@vdropzone-removed-file="dropzoneRemove"
	/>
</template>
