<script setup lang="ts">
import { useRouter } from 'vue-router';
import type { BoardInterface } from '@/interface/user/board';
import { isEmpty } from '@utils';
import {icBoardNext, icBoardPrev} from "@/assets/user/images/sub";

const componentProps = defineProps<{
	boardId: number | string;
	articleId: number | string;
	prev: BoardInterface | undefined;
	next: BoardInterface | undefined;
    host?: string;
}>();

const router = useRouter();

const host = ref(componentProps.host ? componentProps.host : 'board');

const handleList = () => {
	router.push(`/${host.value}/${componentProps.boardId}`);
};
</script>

<template>
	<v-container class="p-r-0">
		<div>
			<router-link
				v-if="!isEmpty(componentProps.prev)"
				:to="`/${host}/${componentProps.boardId}/${componentProps.prev?.id}`"
				class="d-flex justify-start align-center border-bottom border-gray-d4 py-r-5 pl-r-4"
			>
				<span class="d-flex justify-start align-center font-size-14-18">
					이전글
                    <v-img :src="icBoardPrev" class="ml-r-4" width="20" />
				</span>
				<v-banner class="border-0 py-r-0 ml-r-4" lines="one">
					<v-banner-text class="board-title font-size-14-18 color-gray-c9 pr-r-xs-0">
						{{ componentProps.prev?.title }}
					</v-banner-text>
				</v-banner>
			</router-link>
			<router-link
				v-if="!isEmpty(componentProps.next)"
				:to="`/${host}/${componentProps.boardId}/${componentProps.next?.id}`"
				class="d-flex justify-start align-center border-bottom border-gray-d4 py-r-5 pl-r-4"
			>
				<span class="d-flex justify-start align-center font-size-14-18">
					다음글
                    <v-img :src="icBoardNext" class="ml-r-4" width="20" />
				</span>
				<v-banner class="border-0 py-r-0 ml-r-4" lines="one">
					<v-banner-text class="board-title font-size-14-18 color-gray-c9 pr-r-xs-0">
						{{ componentProps.next?.title }}
					</v-banner-text>
				</v-banner>
			</router-link>
		</div>
        <div class="d-flex justify-space-between px-r-7 px-r-md-0">
            <v-btn
                class="w-100 w-md-auto rounded-0 h-auto py-r-2 mt-r-10 mt-r-md-7"
                color="primary"
                min-width="165"
                variant="outlined"
                @click="handleList"
            >
                <span class="font-size-18-20 color-primary">목록</span>
            </v-btn>
        </div>
	</v-container>
</template>
