<script lang="ts" setup>
import { icMoveTop } from '@/assets/user/images/common';

const handleScroll = () => {
	window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
};
</script>

<template>
	<v-btn class="move-top position-fixed" color="primary" icon @click="handleScroll">
		<v-img :src="icMoveTop" height="25" width="23" />
	</v-btn>
</template>

<style lang="scss" scoped>
.move-top {
	bottom: 10rem;
	right: 2rem;
	z-index: 901;
}
</style>
