<script lang="ts" setup>
import { ref, watchEffect } from 'vue';
import { useDisplay } from 'vuetify';
import type { PageWithHostInterface } from '@/interface/user/board';

const props = defineProps<{
	page: PageWithHostInterface;
}>();

const emit = defineEmits(['search']);

const { mobile } = useDisplay();

const pageData = ref({ page: -1, totalPages: 0, totalVisible: mobile.value ? 5 : 7 });

watchEffect(() => {
	if (pageData.value.page !== props.page.page) {
		pageData.value.page = props.page.page + 1;
		pageData.value.totalPages = props.page.totalPages;
	}
});
const handlePage = () => {
	emit('search', pageData.value.page);
};

watchEffect(() => {
	pageData.value.totalVisible = mobile.value ? 4 : 7;
});
</script>

<template>
	<v-pagination
		v-model="pageData.page"
		:length="pageData.totalPages"
		:total-visible="pageData.totalVisible"
        show-first-last-page
		class="mt-r-22"
		@update:modelValue="handlePage"
	/>
</template>
