<script lang="ts" setup>
import { ref, watchEffect } from 'vue';
import type { SearchInterface } from '@/interface/user/common';
import {SearchTypeInterface} from "@/interface/user/board";
import {icSearchBlue} from "@/assets/user/images/sub";

const props = defineProps<{
	currentData: SearchInterface;
	searchTypes?: SearchTypeInterface[];
}>();

const emit = defineEmits(['update', 'search']);

const searchData = ref<SearchInterface>({ ...props.currentData });

const emitSearchData = () => {
	emit('update', searchData.value);
};

const emitSearch = () => {
	console.log('emitSearch');
	emit('search');
};

watchEffect(() => {
	searchData.value = { ...props.currentData };
});
</script>

<template>
	<v-row class="mb-r-4">
		<v-col cols="12" sm="2" offset-sm="7">
			<slot>
				<select
					v-if="searchTypes"
					v-model="searchData.searchType"
					class="select border rounded-lg p-r-4 h-100 w-100 font-size-14-18"
					@change="emitSearchData"
				>
					<option v-for="(types, index) in searchTypes" :key="index" :value="types.type">
						{{ types.name }}
					</option>
				</select>
			</slot>
		</v-col>
		<v-col cols="12" sm="3">
			<div class="d-flex align-stretch border rounded-lg h-100">
				<input
					v-model="searchData.keyword"
					class="px-r-4 py-r-4 w-100 color-gray-70 font-size-14-18 rounded-s-lg"
					placeholder="검색어를 입력하세요"
					type="text"
					@change="emitSearchData"
				/>
				<v-btn class="p-r-0 rounded-e-lg h-100" color="light" width="50" height="50" elevation="0" @click="emitSearch">
					<v-img :src="icSearchBlue" class="btn-search" width="3rem" />
				</v-btn>
			</div>
		</v-col>
	</v-row>
</template>