<script lang="ts" setup>
import { useRoute } from 'vue-router';
import { onMounted, ref } from 'vue';
import { menuStore } from '@/store/user/menu';
import type { MenuInterface, MenuItemInterface } from '@/interface/user/menu';
import {icHome, icNavArrow} from '@/assets/user/images/sub';
import { initMenu, initMenuItem } from '@/interface/user/menu';
import {useDisplay} from "vuetify";
import {isEmpty} from "@utils";

const componentProps = defineProps<{
	noGutter?: boolean;
	wide?: boolean;
	title?: string;
}>();
const route = useRoute();
const store = menuStore();
const menuData = store.getMenu;

const currentMenu = ref<MenuInterface>({ ...initMenu });
const currentSubMenu = ref<MenuItemInterface>({ ...initMenuItem });

const currentPath = route.path;

onMounted(() => {
	menuData.forEach((menu: MenuInterface) => {
		if (currentPath.includes(menu.path)) {
			menu.subMenu.forEach((subMenu: MenuItemInterface) => {
				if (currentPath.includes(subMenu.path)) {
					currentMenu.value = { ...menu };
					currentSubMenu.value = { ...subMenu };
				}
			});
		}
	});
});

const display = ref(useDisplay());
</script>

<template>
	<v-container class="sub-container p-r-0">
		<div class="sub-visual-wrapper" :class="currentMenu.path.replace('/', '')">
			<div
				class="sub-visual-container d-flex justify-center align-center mx-auto color-light font-weight-bold font-size-28-40"
			>
				{{ currentMenu?.title }}
			</div>
		</div>
		<div class="sub-navigation-wrapper">
			<div class="border-bottom border-gray-ec">
				<div class="sub-navigation-container mx-auto m-r-0 d-flex justify-start align-stretch mx-auto">
					<router-link to="/" class="d-inline-block p-r-4 border-left border-right border-gray-ec" v-if="!display.xs">
						<v-img :src="icHome" width="1.5rem" />
					</router-link>
					<v-menu v-if="!display.xs && !isEmpty(currentMenu.title)" transition="slide-y-transition" class="sub-nav">
						<template #activator="{ props }">
							<v-card
								v-bind="props"
								class="rounded-0 px-r-6 d-flex justify-space-between align-center border-right border-gray-ec"
								elevation="0"
								:class="[display.xs && 'py-r-4']"
							>
								<div class="font-size-16-16 w-100 d-flex justify-space-between align-center">
									<v-scale-transition>
										{{ currentMenu.title }}
									</v-scale-transition>
									<v-img :src="icNavArrow" class="ml-r-2" width="20" max-width="20" />
								</div>
							</v-card>
						</template>
						<v-list class="sub-nav-list" elevation="5">
							<v-list-item
								v-for="(menu, index) in menuData"
								:key="index"
								:to="menu.path"
								:value="index"
							>
								<v-list-item-title class="color-dark font-size-14-16">
									{{ menu.title }}
								</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu>
					<v-menu v-if="!isEmpty(currentSubMenu.title)" transition="slide-y-transition" class="sub-nav" :class="[display.xs && 'sub-nav-mobile']">
						<template #activator="{ props }">
							<v-card
								v-bind="props"
								class="rounded-0 px-r-6 d-flex justify-space-between align-center border-right border-gray-ec"
								elevation="0"
								:class="[display.xs && 'py-r-4 w-100']"
							>
								<div class="font-size-16-16 w-100 d-flex justify-space-between align-center">
									<v-scale-transition>
										{{ currentSubMenu.title }}
									</v-scale-transition>
									<v-img :src="icNavArrow" class="ml-r-2" width="20" max-width="20" />
								</div>
							</v-card>
						</template>
						<v-list class="sub-nav-list" elevation="5">
							<v-list-item
								v-for="(subMenu, index) in currentMenu.subMenu"
								:key="index"
								:to="subMenu.path"
								:value="index"
							>
								<v-list-item-title class="color-dark font-size-14-16">
									{{ subMenu.title }}
								</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu>
				</div>
			</div>
		</div>
		<div
			class="sub-contents-container mx-auto mt-r-7"
			:class="[!componentProps.noGutter && 'px-r-7 px-r-contents-0', componentProps.wide && 'wide']"
		>
			<div class="sub-contents-title font-size-20-32 mt-r-16 font-weight-medium text-center mb-r-16">
				{{ componentProps.title ? componentProps.title : currentSubMenu.title }}
				<div class="bg-primary mx-auto mt-r-6 mt-r-md-5"></div>
			</div>
			<slot />
		</div>
	</v-container>
</template>
