<script setup lang="ts">
import {isEmpty} from "@utils";

const componentProps = defineProps<{
	noGutter?: boolean;
	title?: string;
}>();
</script>

<template>
    <div class="font-size-16-25" :class="[componentProps.noGutter && 'px-r-7 px-r-contents-0']">
		<p class="font-size-25-30 font-weight-medium mb-r-7" v-if="!isEmpty(componentProps.title)">
			{{componentProps.title}}
		</p>
		<slot />
	</div>
</template>