<script lang="ts" setup>
import { changeDateFormat, changeNumberFormat } from '@utils';
import type { PageInterface } from '@/interface/user/board';
import type { SearchInterface } from '@/interface/user/common';
import {DisplayInstance} from "vuetify";

const componentProps = defineProps<{
	dataList: any[];
	fetchState: {
		loading: boolean;
	};
	page: PageInterface;
	boardId: number;
	searchData: SearchInterface;
	display: DisplayInstance;
}>();
</script>

<template>
	<div>
		<ul class="w-100 border-top border-gray-d4" v-if="componentProps.display.xs">
			<template v-if="dataList.length > 0">
				<li
					v-for="(data, index) in dataList"
					:key="index"
					class="border-bottom border-gray-d4 py-r-5"
				>
					<router-link
						:to="`/board/${boardId}/${data.id}`"
						:class="[fetchState.loading && 'skeleton']"
					>
						{{ data.title }}
					</router-link>
					<div class="d-flex justify-start align-center">
						<span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
							{{ changeDateFormat(data.createdDate) }}
						</span>
						<Divider color="color-gray-70" />
						<span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
							{{ changeNumberFormat(data.readCount) }}
						</span>
					</div>
				</li>
			</template>
			<template v-else>
				<li class="border-bottom border-gray-d4 py-r-5 text-center font-size-14-20">
					데이터가 없습니다.
				</li>
			</template>
		</ul>
		<v-table class="w-100 border-top border-gray-d4" v-else>
			<thead class="bg-white-fb">
			<tr>
				<th class="font-size-12-18 font-weight-bold text-center w-10 border-bottom border-gray-d4 py-r-md-5">
					번호
				</th>
				<th class="font-size-12-18 font-weight-bold text-center w-60 border-bottom border-gray-d4 py-r-md-5">
					제목
				</th>
				<th class="font-size-12-18 font-weight-bold text-center w-20 border-bottom border-gray-d4 py-r-md-5">
					작성일
				</th>
				<th class="font-size-12-18 font-weight-bold text-center w-10 border-bottom border-gray-d4 py-r-md-5">
					조회수
				</th>
			</tr>
			</thead>
			<tbody v-if="dataList.length > 0">
			<tr v-for="(data, index) in dataList" :key="index">
				<td class="font-size-12-18 text-center border-bottom border-gray-d4 py-r-md-5">
                            <span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
                                {{
									changeNumberFormat(
										page.totalElements - page.page * 10 - index
									)
								}}
                            </span>
				</td>
				<td class="font-size-12-18 text-center border-bottom border-gray-d4 py-r-md-5">
					<router-link :to="`/board/${boardId}/${data.id}`">
						<v-banner class="border-0 p-r-0" lines="one">
							<v-banner-text
								:class="[fetchState.loading && 'skeleton']"
								class="font-size-12-18 pr-r-xs-0 color-gray-56"
							>{{ data.title }}
							</v-banner-text>
						</v-banner>
					</router-link>
				</td>
				<td class="font-size-12-18 text-center border-bottom border-gray-d4 py-r-md-5">
                        <span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
                            {{ changeDateFormat(data.createdDate) }}
                        </span>
				</td>
				<td class="font-size-12-18 text-center border-bottom border-gray-d4 py-r-md-5">
                        <span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
                            {{ changeNumberFormat(data.readCount) }}
                        </span>
				</td>
			</tr>
			</tbody>
			<tbody v-else>
			<tr>
				<td class="font-size-16-20 font-weight-medium text-center border-bottom border-gray-d4 py-r-md-5"
					colspan="4">
					데이터가 없습니다.
				</td>
			</tr>
			</tbody>
		</v-table>
	</div>
</template>
