<script lang="ts" setup>
import {onMounted, ref} from 'vue';
import {apiSaveBoards, apiUpdateBoards} from '@/services/pro/boardsService';
import {BoardsInterface, initBoards} from '@/interface/pro/boards';
import {convertErrorObject} from '@/utils';
import {EnumTypeInterface} from '@/interface/pro/enumType';
import {userStore} from '@/store/pro/user';


const boardsProps = defineProps<{
  selectedItem: BoardsInterface,
  boardTypes: EnumTypeInterface[],
}>();
const emit = defineEmits(['update', 'handleBoardsItem']);

const boards = ref<BoardsInterface>(initBoards);
const boardsHandleState = ref(false);
const responseErrors = ref([]);

const store = userStore();
const iAlert =store.iAlert;

onMounted(() => {
    if (boardsProps.selectedItem.id && boardsProps.selectedItem.id > 0) {
        boards.value = {...boardsProps.selectedItem};
    }
});

const submitAfterAction = (apiResult: any) => {
    if (apiResult.status === 200) {
        const newBoardsInfo = {...boards.value};
        if (apiResult.data.id) {
            newBoardsInfo.id = apiResult.data.id;
        }
        emit('handleBoardsItem');
        emit('update', false);
        boards.value = {...initBoards};
    } else {
        responseErrors.value = convertErrorObject(apiResult);
    }
};

const handleSubmit = async () => {
    boardsHandleState.value = true;
    try {
        const boardsInfo = {...boards.value};
        let apiResult: any;
        if (boards.value.id) {
            apiResult = await apiUpdateBoards(boardsInfo);
        } else {
          boardsInfo.id = null;
            apiResult = await apiSaveBoards(boardsInfo);
        }
        submitAfterAction(apiResult);
    } catch (e) {
        console.log(e);
    } finally {
        boardsHandleState.value = false;
    }
};

const getBoardTypes = () => {
  let list = [];

  boardsProps.boardTypes.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}
</script>

<template>
    <VForm>
        <VRow>
            <VCol cols="12">
                <v-select v-model="boards.type" label="게시판 타입" :items="getBoardTypes()"></v-select>
                <span v-if="responseErrors.type" class="text-error">{{ responseErrors.type.reason }}</span>
            </VCol>
        </VRow>
        <VRow>
            <VCol cols="12">
                <VTextField id="name" v-model="boards.name" label="게시판 이름" :error="responseErrors.name" placeholder="게시판 이름" />
                <span v-if="responseErrors.name" class="text-error">{{ responseErrors.name.reason }}</span>
            </VCol>
        </VRow>
        <VRow>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center"><label for="enableSecret">비밀글 사용</label></VCol>
                    <VCol cols="6"><VSwitch id="enableSecret" v-model="boards.enableSecret" color="primary" /></VCol>
                </VRow>
            </VCol>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="enableReply">댓글 사용</label>
                    </VCol>

                    <VCol cols="6">
                        <VSwitch id="enableReply" v-model="boards.enableReply" color="primary" />
                    </VCol>
                </VRow>
            </VCol>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="enableComment">답글 사용</label>
                    </VCol>

                    <VCol cols="6">
                        <VSwitch id="enableComment" v-model="boards.enableComment" color="primary" />
                    </VCol>
                </VRow>
            </VCol>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="enableWriteAnonymousUser">비회원작성 사용</label>
                    </VCol>

                    <VCol cols="6">
                        <VSwitch id="enableWriteAnonymousUser" v-model="boards.enableWriteAnonymousUser" color="primary" />
                    </VCol>
                </VRow>
            </VCol>
        </VRow>
        <VRow>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="enableEditor">에디터 사용</label>
                    </VCol>

                    <VCol cols="6">
                        <VSwitch id="enableEditor" v-model="boards.enableEditor" color="primary" />
                    </VCol>
                </VRow>
            </VCol>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="enableFileUpload">파일업로드 사용</label>
                    </VCol>

                    <VCol cols="6">
                        <VSwitch id="enableFileUpload" v-model="boards.enableFileUpload" color="primary" />
                    </VCol>
                </VRow>
            </VCol>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="uploadableNumberOfFiles">업로드 갯수</label>
                    </VCol>

                    <VCol cols="6">
                        <VTextField v-model="boards.uploadableNumberOfFiles" label="업로드 갯수" type="number" placeholder="업로드 갯수" :disabled="!boards.enableFileUpload" />
                    </VCol>
                </VRow>
            </VCol>
            <VCol cols="3">
                <VRow no-gutters>
                    <VCol cols="6" class="d-flex align-center">
                        <label for="enable">게시판 사용</label>
                    </VCol>

                    <VCol cols="6">
                        <VSwitch id="enable" v-model="boards.enable" color="primary" />
                    </VCol>
                </VRow>
            </VCol>
        </VRow>
        <VRow>

            <VCol cols="12" class="text-center">
                <VBtn color="primary" type="button" size="large" :disabled="boardsHandleState" @click="handleSubmit">{{ boards.id ? '수정' : '등록' }}</VBtn>
            </VCol>
        </VRow>
      <IAlert :i-alert='iAlert'></IAlert>
    </VForm>
</template>
