<script lang="ts" setup>
import {ComputedRef, onMounted, ref, watch, watchEffect} from 'vue';
import type {Header, Item, SortType} from 'vue3-easy-data-table';
import Vue3EasyDataTable, {ServerOptions} from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';

import BoardsFormComponent from '@/pages/pro/boards/BoardsFormComponent.vue';
import {apiDeleteBoards, apiGetBoards, apiGetSearchBoardsInfo} from '@/services/pro/boardsService';
import type {SearchInterface, ThemeColorInterface} from '@/interface/pro/common';
import {alertError, alertSuccess, alertWarning, getVuetifyThemeColors} from '@/utils';
import {apiGetEnumType} from '@/services/pro/enumService';
import {useRowsPerPage, UseRowsPerPageReturn} from 'use-vue3-easy-data-table';
import {apiDeleteArticle} from '@/services/pro/articlesService';
import {userStore} from '@/store/pro/user';


const headers: Header[] = [
    {text: 'id', value: 'id', sortable: true},
    {text: '게시판명', value: 'name', sortable: true},
    {text: '게시판타입', value: 'type', sortable: true},
    {text: '비밀글 사용', value: 'enableSecret', sortable: false},
    {text: '댓글 사용', value: 'enableReply', sortable: false},
    {text: '답글 사용', value: 'enableComment', sortable: false},
    {text: '비회원작성 사용', value: 'enableWriteAnonymousUser', sortable: false},
    {text: '에디터 사용', value: 'enableEditor', sortable: false},
    {text: '파일업로드 사용', value: 'enableFileUpload', sortable: false},
    {text: '업로드 갯수', value: 'uploadableNumberOfFiles', sortable: false},
    {text: '게시판 사용', value: 'enable', sortable: true},
    {text: '기능', value: 'operation'},
];

const dataTable = ref();

const items = ref<Item[]>([]);

const loading = ref(false);

const selectedItem = ref<Item>({});

const sortBy: string[] = headers.filter(value => value.sortable).map(header => header.value).filter(val => val != 'operation');
const sortType: SortType[] = ['desc', 'asc'];
const searchField = ['name', 'type', 'enable'];
const searchValue = ref('');
const itemsSelected = ref<Item[]>([]);

const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());
const boardType = ref([]);

const router = useRouter();

const store = userStore();
const iAlert =store.iAlert;

const serverItemsLength = ref(0);
const serverOptions = ref<ServerOptions>({
  page: 1,
  rowsPerPage: 25,
  sortBy: 'id',
  sortType: 'desc',
});
const searchData = ref<SearchInterface>({
  searchType: undefined,
  keyword: undefined,
  page: serverOptions.value.page,
  rowsPerPage: serverOptions.value.rowsPerPage,
  sortBy: serverOptions.value.sortBy,
  sortType: serverOptions.value.sortType,
});

onMounted(async () => {
  await handleSearch();
});

const searchTypes = [
    {type: 'type', name: '게시판타입'},
    {type: 'name', name: '게시판명'},
];


const dialog = ref(false);

const handleDialogState = (dialogState: boolean) => {
    dialog.value = dialogState;
};

const addItem = () => {
    selectedItem.value = {};
    dialog.value = true;
};

const editItem = (item: Item) => {
    selectedItem.value = item;
    dialog.value = true;
};


const handleBoardsItem = async () => {
  await handleSearch();
}

const handleSearch = async () => {
    loading.value = true;
    try {

      let res = await apiGetEnumType("BoardType");
      boardType.value = res.data;

      searchData.value.page = serverOptions.value.page;
      searchData.value.rowsPerPage = serverOptions.value.rowsPerPage;
      searchData.value.sortBy = serverOptions.value.sortBy;
      searchData.value.sortType = serverOptions.value.sortType;

        res = await apiGetSearchBoardsInfo(searchData.value);
        if (res.status == 200) {
          serverItemsLength.value = res.data.page.totalElements;
            items.value = res.data.data;
        }
    } catch {
    } finally {
        loading.value = false;
    }
};

watch(serverOptions,  async (value) => { await handleSearch(); }, { deep: true });

const deleteItem = async (id) => {
  return await apiDeleteBoards(id);
}
const handleDelete = async () => {


  if (itemsSelected.value.length == 0)
  {
    alertWarning('삭제 할 항목을 선택하세요.');
    return;
  }

  if (confirm('선택 된 항목을 삭제하시겠습니까?')) {
    try {
      itemsSelected.value.forEach(item => {
        deleteItem(item.id!);
      });
      alertSuccess('삭제되었습니다.', () => {
        router.go(router.currentRoute);
      })

    } catch (e) {
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
};

</script>

<template>
    <div>
      <IAlert :i-alert='iAlert'></IAlert>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                      <VCardTitle class='mb-3'>게시판 설정</VCardTitle>
                        <VRow>
                            <VCol cols="12" md="3">
                                <VSelect v-model="searchData.type" :items="searchTypes" item-value="type" item-title="name" clearable label="검색유형" variant="solo"></VSelect>
                            </VCol>

                            <VCol cols="12" md="3">
                                <VTextField id="search" v-model="searchData.keyword" placeholder="검색어" type="text" @keyup.enter='handleSearch' class="me-2">
                                    <template #append>
                                        <VBtn color="primary" size="large" @click="handleSearch">검색</VBtn>
                                    </template>
                                </VTextField>
                            </VCol>
                        </VRow>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                        <VRow>
                            <VCol cols="3">
                                <VTextField id="searchInResult" v-model="searchValue" placeholder="결과내 검색" type="text" class="me-2" />
                            </VCol>
                            <VCol cols='2'  offset="7" class="text-end">
                              <div class='d-flex align-center justify-end'>
                                <VBtn color="red" size="large" @click='handleDelete' class='mr-4' variant='tonal'>선택삭제</VBtn>
                                <VBtn color="primary" size="large" @click="addItem">추가</VBtn>
                              </div>
                            </VCol>
                        </VRow>
                    </VCardItem>
                    <VCardItem>
                        <Vue3EasyDataTable ref="dataTable" v-model:items-selected="itemsSelected" show-index :headers="headers" :items="items" multi-sort :sort-by="sortBy" :sort-type="sortType"
                                           :theme-color="currentTheme.primary" buttons-pagination :search-field="searchField" :search-value="searchValue" :loading="loading" class="customize-table"
                                           v-model:server-options="serverOptions"
                                           :server-items-length="serverItemsLength">
                            <template #loading>
                                <Loading />
                            </template>
                          <template #item-boardType="item">{{boardType.value.find(type => type.code == item.type).value}}</template>
                          <template #item-enableSecret="item">{{item.enableSecret ? '사용' : '사용안함'}}</template>
                          <template #item-enableReply="item">{{item.enableReply ? '사용' : '사용안함'}}</template>
                          <template #item-enableComment="item">{{item.enableComment ? '사용' : '사용안함'}}</template>
                          <template #item-enableWriteAnonymousUser="item">{{item.enableWriteAnonymousUser ? '사용' : '사용안함'}}</template>
                          <template #item-enableEditor="item">{{item.enableEditor ? '사용' : '사용안함'}}</template>
                          <template #item-enableFileUpload="item">{{item.enableFileUpload ? '사용' : '사용안함'}}</template>
                          <template #item-enable="item">{{item.enable ? '사용' : '사용안함'}}</template>
                            <template #item-operation="item">
                                <div class="operation-wrapper">
                                    <VBtn class="me-2" size="small" variant="tonal" @click="editItem(item)">수정</VBtn>
                                </div>
                            </template>
                        </Vue3EasyDataTable>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>

        <DialogComponent dialog-title="게시판 추가" :dialog-state="dialog" @update="handleDialogState">
            <template #contents>
                <BoardsFormComponent :selected-item="selectedItem" :board-types='boardType' @update="handleDialogState" @handle-boards-item="handleBoardsItem" />
            </template>
        </DialogComponent>
    </div>
</template>
