<script lang="ts" setup>
import {changeDateFormat, changeNumberFormat, getFileUrl} from '@utils';
import {YoutubeInterface} from "@/interface/user/youtube";

const componentProps = defineProps<{
	data: YoutubeInterface;
}>();
</script>

<template>
	<div class="mt-r-14">
		<div v-if="componentProps.data">
			<div class="d-flex flex-column flex-sm-row justify-space-between align-start align-sm-end p-r-4 bg-white-fb border-top border-bottom border-gray-d4">
				<p class="font-size-16-25">
					{{ componentProps.data?.title }}
				</p>
				<div class="d-flex justify-start align-center mt-r-2 mt-r-sm-0">
					<span class="font-size-12-18 color-gray-8e mr-r-4">조회수 {{ changeNumberFormat(componentProps.data.readCount) }} 회</span>
					<span class="created-date font-size-12-18 color-gray-8e">
					{{ changeDateFormat(componentProps.data.createdDate) }}
				</span>
				</div>
			</div>
			<div class="board-contents px-r-5 px-r-sm-10 py-r-10 border-bottom border-gray-d4 font-size-12-18" v-html="componentProps.data.content"></div>
		</div>
	</div>
</template>
