<script lang="ts" setup>
import {ref} from 'vue';
import {useRouter} from 'vue-router';
import {storeToRefs} from 'pinia';
import {logo, icMenu, icSearchBlack} from '@/assets/user/images/common';
import {menuStore} from '@/store/user/menu';
import {isEmpty} from '@utils';
import {useDisplay} from "vuetify";

const store = menuStore();

const {menu} = storeToRefs(store);

const menuData = ref(menu);

const drawer = ref(false);
const currentMenu = ref([]);
const subNavState = ref(false);


const handleSubNav = () => {
	subNavState.value = !subNavState.value;
};

const router = useRouter();

const display = ref(useDisplay());

router.beforeResolve(() => {
	if(subNavState.value){
		subNavState.value = false;
	}
});

</script>

<template>
	<v-toolbar
		v-if="display.xs"
		class="toolbar border-bottom border-light bg-transparent position-relative w-100"
		density="compact"
		elevation="0"
	>
		<v-toolbar-title>
			<router-link to="/">
				<v-img :src="logo" class="nav-logo" max-width="282"/>
			</router-link>
		</v-toolbar-title>
		<v-spacer></v-spacer>
		<v-app-bar-nav-icon color="light" class="bg-transparent" @click.stop="drawer = !drawer">
			<v-img :src="icMenu" width="24"/>
		</v-app-bar-nav-icon>
	</v-toolbar>
	<v-toolbar
		v-else
		class="nav-wrapper bg-transparent w-100 overflow-visible position-relative mx-auto"
		app
		dense
		hide-on-scroll
		height="auto"
	>
		<div class="navbar d-block mx-auto w-100 px-r-xl-0">
			<div class="d-flex align-center">
				<div class="nav-logo">
					<router-link to="/" class="d-inline-block">
						<v-img :src="logo" max-width="331"/>
					</router-link>
				</div>
				<v-spacer/>
				<div class="ml-auto d-flex">
					<v-hover
						v-slot="{ isHovering, props }"
						v-for="(menu, index) in menuData"
						:key="index"
					>
						<div v-bind="props" class="menu-item position-relative">
							<router-link
								:to="menu?.subMenu[0].path"
								class="router-link font-size-14-20 d-inline-block py-r-5 px-r-12"
							>
								{{ menu?.title }}
							</router-link>
							<v-expand-transition v-if="menu?.subMenu.length > 0">
								<v-card
									v-if="isHovering && !subNavState"
									class="sub-menu-wrapper position-absolute w-100 rounded-lg"
									:class="`sub-menu-wrapper-${index + 1}`"
									elevation="0"
								>
									<v-card-text>
										<v-hover
											v-slot="{ isHovering, props }"
											v-for="(subMenu, subIndex) in menu?.subMenu"
											:key="subIndex"
										>
											<router-link
												:to="subMenu?.path"
												class="sub-menu-item d-block text-center font-size-12-18 py-r-3"
												:class="{
															'color-primary': isHovering,
														}"
												v-bind="props"
											>
												{{ subMenu?.title }}
											</router-link>
										</v-hover>
									</v-card-text>
								</v-card>
							</v-expand-transition>
						</div>
					</v-hover>
				</div>
				<div class="d-flex">
					<v-btn class="w-auto h-auto p-r-0">
						<v-img :src="icSearchBlack" width="2rem"/>
					</v-btn>
					<v-btn class="w-auto h-auto p-r-0 ml-r-6" @click="handleSubNav">
						<v-img :src="icMenu" width="2rem"/>
					</v-btn>
				</div>
			</div>
		</div>
		<v-expand-transition v-if="!display.xs">
			<div class="sub-nav-wrapper bg-light position-absolute left-0 w-100 border-top border-gray-e5" v-if="subNavState">
				<div class="sub-nav-container d-flex justify-end mx-auto pr-r-22">
					<div
						v-for="(menu, index) in menuData"
						:key="index"
						class="menu-item position-relative">
						<v-hover
							v-slot="{ isHovering, props }"
							v-for="(subMenu, subIndex) in menu?.subMenu"
							:key="subIndex"
						>
							<router-link
								:to="subMenu?.path"
								class="sub-menu-item d-block text-center font-size-12-18 py-r-3"
								:class="{
								'color-primary': isHovering,
							}"
								v-bind="props"
							>
								{{ subMenu?.title }}
							</router-link>
						</v-hover>
					</div>
				</div>
			</div>
		</v-expand-transition>
	</v-toolbar>
	<v-navigation-drawer v-model="drawer" class="" location="end" temporary>
		<v-list-item class="close-drawer text-end py-r-0 pr-r-0">
			<v-app-bar-nav-icon variant="plain" @click.stop="drawer = !drawer">
				<v-icon class="" icon="mdi-close" size="30"/>
			</v-app-bar-nav-icon>
		</v-list-item>
		
		<v-divider></v-divider>
		
		<v-list v-model="currentMenu" density="compact">
			<template v-for="(menu, index) in menuData" :key="index">
				<v-list-group v-if="menu.subMenu.length > 0" :value="`menu-${index}`">
					<template #activator="{ props }">
						<v-list-item active-color="primary" v-bind="props">
							<v-list-item-title class="font-size-16-16">{{ menu.title }}</v-list-item-title>
						</v-list-item>
					</template>
					<v-list-item
						v-for="(subMenu, subIndex) in menu.subMenu"
						:key="subIndex"
						:to="subMenu.path"
						:value="`menu-${index}-subIndex-${subIndex}`"
						active-color="primary"
						class="font-size-16-16"
					>
						<v-list-item-title class="font-size-16-16">{{ subMenu.title }}</v-list-item-title>
					</v-list-item>
				</v-list-group>
				<v-list-item
					v-else
					:to="menu.path"
					:value="`menu-${index}`"
					active-color="primary"
					class="font-size-16-16"
				>
					<v-list-item-title class="font-size-16-16">{{ menu.title }}</v-list-item-title>
				</v-list-item>
			</template>
		</v-list>
	</v-navigation-drawer>
</template>