<script lang="ts" setup>
import { useRoute } from 'vue-router';
import { footerLogo } from '@/assets/user/images/common';

const route = useRoute();
</script>

<template>
	<v-footer
		:class="[route.path === '/' ? '' : 'sub mt-r-20']"
		class="footer overflow-visible bg-dark-3b px-r-0 pt-r-8 pb-r-12 pt-r-md-10 pb-r-md-15 w-100 flex-grow-0"
	>
		<div
			class="footer-container w-100 mx-auto position-relative d-flex flex-column flex-md-row justify-center justify-md-start align-center align-md-start"
		>
			<MoveTop />
			<div class="text-right text-center text-md-end mr-r-md-12">
				<v-img :src="footerLogo" class="footer-logo d-inline-block" max-width="191" min-width="156" />
			</div>
			<div class="mt-8 mt-md-0">
				<div class="grid-divider d-flex justify-center justify-md-start">
					<v-hover v-slot="{ isHovering, props }">
						<router-link
							:class="[
								isHovering
									? 'font-notosanskr-bold color-success'
									: 'font-notosanskr-regular color-light',
							]"
							class="divider-item px-r-6 pl-r-sm-0 font-size-10-14"
							to="/terms"
							v-bind="props"
						>
							이용약관
						</router-link>
					</v-hover>
					<v-hover v-slot="{ isHovering, props }">
						<router-link
							:class="[
								isHovering
									? 'font-notosanskr-bold color-success'
									: 'font-notosanskr-regular color-light',
							]"
							class="divider-item px-r-6 font-size-10-14"
							to="/policy"
							v-bind="props"
						>
							개인정보처리방침
						</router-link>
					</v-hover>
				</div>
				<div class="font-size-10-14 font-notosanskr-regular text-center text-md-start mt-r-3">
					<p class="color-gray-8e">63243 제주특별자치도 제주시 산천단동길 16 바이오융합센터</p>
					<p class="color-gray-8e mt-r-3">TEL  064-722-4843<Divider color="color-secondary" class="mx-r-2"/>FAX  064-755-4843<Divider color="color-secondary" class="mx-r-2"/>E-mail  jejusen@jejuhub.org</p>
					<p class="color-gray-8e mt-r-3">COPYRIGHT 2022 JEJU TECHNOPARK. ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</div>
	</v-footer>
</template>
