<script setup lang='ts'>
import {useRoute} from "vue-router";
import '@/assets/user/css/style.scss';

const route = useRoute();
</script>
<template>
	<v-main :class="[route.path === '/' ? '' : 'sub']" class="user-root-wrapper root-wrapper bg-light d-flex flex-column justify-space-between align-center">
		<Navbar />
		<v-layout class="root-container mx-auto w-100">
			<router-view v-slot="{ Component, route }">
				<component :is="Component" :key="route" />
			</router-view>
		</v-layout>
		<UserFooter />
	</v-main>
</template>