<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiDeleteSupportRegister, apiGetSupportRegisterInfo, apiSaveSupportRegister, apiUpdateSupportRegister} from '@/services/pro/supportRegisterService';
import type {SupportRegisterInterface} from "@/interface/pro/supportRegister";
import {userStore} from '@/store/pro/user';
import {initSupportRegister} from "@/interface/pro/supportRegister";
import {apiGetEnumType} from "@/services/pro/enumService";

const supportRegister = ref<SupportRegisterInterface>({...initSupportRegister});

const route = useRoute();
const supportRegisterId = ref();
const supportRegisterInfo = ref<SupportRegisterInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;
const files = ref<any>([]);
const registerStatus = ref([]);

onMounted(async () => {

  const res = await apiGetEnumType("RegisterStatus");
  registerStatus.value = res.data;

  supportRegisterId.value = route.query.id;
  if (supportRegisterId.value) {
    await apiGetSupportRegisterInfo(supportRegisterId.value).then((res) => {
      supportRegister.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(supportRegister.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/support/register/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const supportRegisterInfo = {...supportRegister.value};
    
    let apiResult: any;
    if (supportRegister.value.id) {
      apiResult = await apiUpdateSupportRegister(supportRegisterInfo);
    } else {
      apiResult = await apiSaveSupportRegister(supportRegisterInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteSupportRegister(supportRegister.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/support/register/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const handleFileAdd = (fileIds: number) => {
  files.value.push(fileIds);
};

const handleFileRemove = (fileIds: number) => {
  files.value = files.value.filter((file: number) => file !== fileIds);
};

const getType = (types : any[]) => {
  let list = [];
  types.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}

</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>기업 지원 신청</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">기업지업 접수 제목</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="title" v-model="supportRegister.title" label="기업지업 접수 제목" :error="!isEmpty(responseErrors.title)" placeholder="기업지업 접수 제목" />
                  <span v-if="!isEmpty(responseErrors.title)" class="text-error">{{ responseErrors.title.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">기업지원 애로사항 내용</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="content" v-model="supportRegister.content" label="기업지원 애로사항 내용" :error="!isEmpty(responseErrors.content)" placeholder="기업지원 애로사항 내용" />
                  <span v-if="!isEmpty(responseErrors.content)" class="text-error">{{ responseErrors.content.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">접수 상태</VCol>
                <VCol xs="12" md="9">
                  <v-select label="접수 상태" v-model="supportRegister.status" :items="getType(registerStatus)"></v-select>
                  <span v-if="!isEmpty(responseErrors.status)" class="text-error">{{ responseErrors.status.reason }}</span>
                </VCol>
              </VRow>
              <VRow v-if="supportRegister.status === 'REJECT'">
                <VCol xs="12" md="3">승인 불가 사유</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="reason" v-model="supportRegister.reason" label="승인 불가 사유" :error="!isEmpty(responseErrors.reason)" placeholder="승인 불가 사유" />
                  <span v-if="!isEmpty(responseErrors.reason)" class="text-error">{{ responseErrors.reason.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">첨부파일</VCol>
                <VCol xs="12" md="9">
                  <FileUploadComponent :files="supportRegister.files" :max-files="5" @add="handleFileAdd" @remove="handleFileRemove" />
                </VCol>
              </VRow>


              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="supportRegister.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ supportRegister.id ? '수정' : '등록' }}</VBtn>

                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
