<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiDeleteDevice, apiGetDeviceInfo, apiSaveDevice, apiUpdateDevice} from '@/services/pro/deviceService';
import type {DeviceInterface} from "@/interface/pro/device";
import {initDevice} from "@/interface/pro/device";
import {userStore} from '@/store/pro/user';
import {apiGetEnumType, apiGetEnumAll} from "@/services/pro/enumService";

console.log(initDevice);
const device = ref<DeviceInterface>(initDevice);

const route = useRoute();
const deviceId = ref();
const deviceInfo = ref<DeviceInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;
const buildType = ref([]);
const images = ref<any>([]);

onMounted(async () => {
  const res = await apiGetEnumType("BuildType");
  buildType.value = res.data;

  deviceId.value = route.query.id;
  if (deviceId.value) {
    await apiGetDeviceInfo(deviceId.value).then((res) => {
      device.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(device.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/device/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const deviceInfo = {...device.value};

    if (images.value.length > 0) {
      deviceInfo.imageIds = images.value;
    }
    let apiResult: any;
    if (device.value.id) {
      apiResult = await apiUpdateDevice(deviceInfo);
    } else {
      apiResult = await apiSaveDevice(deviceInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteDevice(device.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/device/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const getBuildType = () => {
  let list = [];
  buildType.value.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}

const handleDropzoneAdd = (fileIds: number) => {
  images.value.push(fileIds);
};

const handleDropzoneRemove = (fileIds: number) => {
  images.value = images.value.filter((file: number) => file !== fileIds);
};

</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>장비 상세 {{device.id ? '수정' : '등록'}}</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">장비명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="name" v-model="device.name" label="장비명" :error="!isEmpty(responseErrors.name)" placeholder="장비명을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.name)" class="text-error">{{ responseErrors.name.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">제조사</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="manufacture" v-model="device.manufacture" label="제조사" :error="!isEmpty(responseErrors.manufacture)" placeholder="제조사를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.manufacture)" class="text-error">{{ responseErrors.manufacture.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">모델명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="model" v-model="device.model" label="모델명" :error="!isEmpty(responseErrors.model)" placeholder="모델명을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.model)" class="text-error">{{ responseErrors.model.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">도입연도</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="inYearMonth" v-model="device.inYearMonth" label="도입연도" :error="!isEmpty(responseErrors.inYearMonth)" placeholder="도입연도를 yyyy년 mm월 형식으로 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.inYearMonth)" class="text-error">{{ responseErrors.inYearMonth.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">위치</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="location" v-model="device.location" label="위치" :error="!isEmpty(responseErrors.location)" placeholder="위치를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.location)" class="text-error">{{ responseErrors.location.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">주요 기능</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="features" v-model="device.features" label="주요 기능" :error="!isEmpty(responseErrors.features)" placeholder="주요 기능을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.features)" class="text-error">{{ responseErrors.features.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">용도</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="purpose" v-model="device.purpose" label="용도" :error="!isEmpty(responseErrors.purpose)" placeholder="용도를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.purpose)" class="text-error">{{ responseErrors.purpose.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">비용</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="cost" v-model="device.cost" label="비용" :error="!isEmpty(responseErrors.cost)" placeholder="비용을 10,000원/일 형식으로 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.cost)" class="text-error">{{ responseErrors.cost.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">특이사항</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="specialNote" v-model="device.specialNote" label="특이사항" :error="!isEmpty(responseErrors.specialNote)" placeholder="특이사항을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.specialNote)" class="text-error">{{ responseErrors.specialNote.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">장비 제원</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="specifications" v-model="device.specifications" label="장비 제원" :error="!isEmpty(responseErrors.specifications)" placeholder="장비 제원을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.specifications)" class="text-error">{{ responseErrors.specifications.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">제우스 링크</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="url" v-model="device.url" label="제우스 링크" :error="!isEmpty(responseErrors.url)" placeholder="제우스 링크를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.url)" class="text-error">{{ responseErrors.url.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이용가능여부</VCol>
                <VCol xs="12" md="9">
                  <VSwitch id="enable" v-model="device.enable" :error="!isEmpty(responseErrors.enable)" color="primary"  />
                  <span v-if="!isEmpty(responseErrors.enable)" class="text-error">{{ responseErrors.enable.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">구축 상태</VCol>
                <VCol xs="12" md="3">
                  <v-select label="구축 상태" v-model="device.buildType" :items="getBuildType()"></v-select>
                  <span v-if="!isEmpty(responseErrors.buildType)" class="text-error">{{ responseErrors.buildType.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이미지 업로드</VCol>
                <VCol xs="12" md="9">
                  <DropzoneComponent :files="device.images" :max-files="3" @add="handleDropzoneAdd" @remove="handleDropzoneRemove" />
                  <span v-if="!isEmpty(responseErrors.imageIds)" class="text-error">{{ responseErrors.imageIds.reason }}</span>
                </VCol>
              </VRow>
              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="device.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ device.id ? '수정' : '등록' }}</VBtn>

                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
