<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	corporationCorporationMobile1,
	corporationCorporationMobile2,
	corporationCorporationPC1, corporationCorporationPC2, sponLogo
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout>
		<v-container class="p-r-0">
			<div class="d-flex justify-space-between align-end">
				<div>
					<p class="font-size-30-45 font-weight-bold">
						후원납입방법
					</p>
					<p class="font-size-18-24 mt-r-13 mt-r-sm-8">
						더불어 함께 행복한 사회적경제, 여러분의 작은 나눔으로 시작됩니다.<br />
						따뜻한 사회를 위해 나눔을 실천하세요.
					</p>
				</div>
				<div>
					<v-img :src="sponLogo" width="10rem" v-if="!display.xs" />
				</div>
			</div>
			<div class="d-flex flex-column flex-sm-row justify-start align-start mt-r-13 mt-r-sm-25 border-top border-gray-d4 pt-r-11">
				<span class="bg-primary rounded-pill py-r-1 px-r-8 font-size-18-25">후원계좌</span>
				<v-container class="p-r-0 m-r-0 mt-r-10 mt-r-sm-0 ml-r-sm-20 flex-1">
					<v-row no-gutters>
						<v-col cols="4" sm="3" md="2" class="indent-blue-dot-bold font-size-16-25 font-weight-bold color-blue-c1">
							은행명
						</v-col>
						<v-col cols="8" sm="9" md="10" class="font-size-16-25 color-gray-56">
							제주은행
						</v-col>
						<v-col cols="4" sm="3" md="2" class="indent-blue-dot-bold font-size-16-25 font-weight-bold color-blue-c1">
							계좌번호
						</v-col>
						<v-col cols="8" sm="9" md="10" class="font-size-16-25 color-gray-56">
							10-01-122994
						</v-col>
						<v-col cols="4" sm="3" md="2" class="indent-blue-dot-bold font-size-16-25 font-weight-bold color-blue-c1">
							예금주
						</v-col>
						<v-col cols="8" sm="9" md="10" class="font-size-16-25 color-gray-56">
							사단법인 제주사회적경제네트워크
						</v-col>
						<v-col cols="12" class="font-size-12-14 color-gray-56 mt-r-8 px-r-xs-4">
							사단법인 제주사회적경제네트워크는 2013년 7월 16일에 설립된 비영리법인으로써 기획재정부장관이 지정하는 공익법인 기부금 대상단체입니다.<br />
							기부금을 납부하시면 <span class="color-blue-c1">법인세법 제 24조 및 소득세법 34조 및 61조에 의거</span> 지정기부금 세제혜택을 받으실 수 있습니다.
						</v-col>
					</v-row>
				</v-container>
			</div>
			<div class="bg-white-fb border-top border-bottom border-gray-d4 py-r-6 text-center mt-r-10 mt-r-sm-13">
				<p class="font-size-14-20 font-weight-bold">문의처</p>
				<div class="d-flex flex-column flex-sm-row justify-center align-center mt-r-3 mt-r-sm-4">
					<span>사무처 064-722-4843</span>
					<Divider color="color-blue-c1 font-weight-bold" v-if="!display.xs" />
					<span>jejusen@jejuhub.org</span>
				</div>
			</div>
		</v-container>
	</SubLayout>
</template>
