<script setup lang="ts">
import {useDisplay} from "vuetify";
import {onMounted, ref} from "vue";
import {changeNumberFormat, randomColor} from "@utils";
import {Chart as ChartJS, ArcElement, Tooltip, Legend} from 'chart.js'
import {Doughnut} from 'vue-chartjs'

const statusList = ref([
	{
		year: 2022,
		breakdownList: [
			{
				name: '회원후원',
				cost: 10,
				percentage: 10
			},
			{
				name: '기업지원기금',
				cost: 20,
				percentage: 20
			},
			{
				name: '금융지원기금',
				cost: 5,
				percentage: 5
			},
			{
				name: '테스트기금',
				cost: 15,
				percentage: 15
			},
			{
				name: '기타',
				cost: 50,
				percentage: 40
			},
		]
	},
	{
		year: 2021,
		breakdownList: [
			{
				name: '회원후원',
				cost: 10,
				percentage: 10
			},
			{
				name: '기업지원기금',
				cost: 20,
				percentage: 20
			},
			{
				name: '금융지원기금',
				cost: 5,
				percentage: 5
			},
			{
				name: '테스트기금',
				cost: 15,
				percentage: 15
			},
			{
				name: '기타',
				cost: 50,
				percentage: 40
			},
		]
	}
])

ChartJS.register(ArcElement, Tooltip, Legend);

onMounted(() => {
})

const doughnutData = {
	labels: ['VueJs', 'EmberJs', 'ReactJs', 'AngularJs'],
	datasets: [
		{
			backgroundColor: ['#41B883', '#ffb400', '#E46651', '#00D8FF', '#DD1B16'],
			data: [10, 20, 5, 15, 50]
		}
	]
}

const handleDoughnutData = (breakdownList: any[]) => {
	const doughnutData:{
		labels: string[],
		datasets: any[]
	} = {
		labels: [],
		datasets: []
	}
	
	const dataset: {
		backgroundColor: string[],
		data: any[]
	} = {
		backgroundColor: [],
		data: [],
	}
	breakdownList.forEach((breakdown) => {
		dataset.backgroundColor.push(`#${randomColor()}`);
		dataset.data.push(breakdown.cost);
		doughnutData.labels.push(breakdown.name);
	});
	doughnutData.datasets.push(dataset);
	
	return doughnutData;
}

const options = {
	responsive: true,
	maintainAspectRatio: false,
	aspectRatio: 2,
	plugins: {
		legend: {
			position: 'bottom',
		},
	}
};

const display = ref(useDisplay());
</script>
<template>
	<SubLayout>
		<v-container class="px-r-0">
			<v-card
				v-for="(status, statusIndex) in statusList"
				:key="statusIndex"
				:class="[statusIndex > 0 && 'mt-r-8', !display.xs && 'p-r-4']"
				:elevation="display.xs ? 0 : 5"
			>
				<p class="font-size-20-30 font-weight-medium">
					{{ status.year }} 후원금 지출 현황
				</p>
				<div class="d-flex p-r-0 mt-r-8">
					<div class="flex-1 pr-r-4" v-if="!display.xs">
						<Doughnut :data="handleDoughnutData(status.breakdownList)" :options="options" class="w-100"/>
					</div>
					<div class="flex-1 pl-r-sm-4">
						<v-table class="text-center">
							<caption class="border-bottom border-gray-70 pb-r-2">
								<div class="d-flex justify-space-between align-center">
									<span class="font-size-12-16 color-gray-70">기준일 : {{ status.year }}</span>
									<span class="font-size-12-16 color-gray-70">단위 : 원</span>
								</div>
							</caption>
							<thead class="bg-white-fb">
							<tr>
								<th class="font-size-12-18 font-weight-bold text-center p-r-xs-4 w-33 border-bottom border-gray-d4">
									구분
								</th>
								<th class="font-size-12-18 font-weight-bold text-center p-r-xs-4 w-33 border-left border-bottom border-gray-d4">
									초기창업팀
								</th>
								<th class="font-size-12-18 font-weight-bold text-center p-r-xs-4 w-33 border-left border-bottom border-gray-d4">
									예비창업팀
								</th>
							</tr>
							</thead>
							<tbody>
							<tr
								v-for="(breakdown, breakdownIndex) in status.breakdownList"
								:key="breakdownIndex"
							>
								<td class="font-size-12-18 p-r-xs-4 border-bottom border-gray-d4 font-weight-bold">
									{{ breakdown.name }}
								</td>
								<td class="font-size-12-18 p-r-xs-4 border-left border-bottom border-gray-d4 text-end">
									{{ changeNumberFormat(breakdown.cost) }}
								</td>
								<td class="font-size-12-18 p-r-xs-4 border-left border-bottom border-gray-d4 ">
									{{ breakdown.percentage }}%
								</td>
							</tr>
							</tbody>
						</v-table>
					</div>
				</div>
			</v-card>
		</v-container>
	</SubLayout>
</template>
