<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	businessPromoteMobile1, businessPromotePC1,
	businessUnionMobile1, businessUnionMobile2, businessUnionMobile3,
	businessUnionPC1, businessUnionPC2, businessUnionPC3,
	icBusinessUnion1,
	icBusinessUnion2,
	icBusinessUnion3
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout no-gutter>
		<v-container class="p-r-0">
			<SubDescription>
				<span class="font-weight-bold">사회혁신가육성사업은</span> 창의적이고 혁신적인 아이디어를 가지고 사회문제를 해결하는<br/>
				‘사회적기업가’의 초기 창업활동을 지원합니다.
			</SubDescription>
			
			<SubSection no-gutter title="사업개요" class="mt-r-17 mt-r-sm-25 overflow-x-auto">
				<v-table class="business-promote-table border-top border-gray-70 text-center w-100">
					<tr class="bg-white-fb">
						<th class="font-size-11-18 font-weight-bold py-r-5 w-20 border-bottom border-gray-d4">구분</th>
						<th class="font-size-11-18 font-weight-bold py-r-5 w-40 border-left border-bottom border-gray-d4">초기창업팀</th>
						<th class="font-size-11-18 font-weight-bold py-r-5 w-40 border-left border-bottom border-gray-d4">예비창업팀</th>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">신청요건</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">
							<ul>
								<li class="indent-dot justify-center">3인 이상의 창업팀</li>
								<li class="indent-dot justify-center">모집 마감일 기준 2년 미만의 창업자 혹은 미창업</li>
							</ul>
						</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">미창업자</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">지원금</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">3,300만원(평균, 차등지급)</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">700만원</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">공통 지원내용</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4" colspan="2">
							<ul>
								<li class="indent-dot justify-center">창업의무교육 20시간 제공</li>
								<li class="indent-dot justify-center">월 1회의 담임멘토링 및 연 3회 전문멘토링(특화, 사업개발 등)</li>
								<li class="indent-dot justify-center">창업공간 제공(공용공간)</li>
								<li class="indent-dot justify-center">전기수 창업팀 간 네트워킹 및 자원 연계</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">모집기간</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">1월(12월 말 모집공고) → 2월 말 결과 공고 및 3월 협약</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">5월 → 6월 말 결과 공고 및 7월 협약</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">공통 지원내용</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">
							<ul>
								<li class="indent-dot justify-center">예비사회적기업 지정 및 신청 여부</li>
								<li class="indent-dot justify-center">영업활동 여부(매출 or 고용)</li>
							</ul>
						</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">
							<ul>
								<li class="indent-dot justify-center">법인 설립여부</li>
								<li class="indent-dot justify-center">3인 이상의 팀 구성 여부</li>
								<li class="indent-dot justify-center">영업활동 여부(매출 or 고용)</li>
							</ul>
						</td>
					</tr>
					
				</v-table>
			</SubSection>
			
			<SubSection no-gutter title="사회혁신가육성 선발과정" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessPromoteMobile1" v-if="display.xs" />
				<v-img :src="businessPromotePC1" v-else />
			</SubSection>
			
			<SubSection no-gutter title="선정기준" class="mt-r-17 mt-r-sm-25">
				<div class="d-flex flex-column flex-sm-row justify-space-between">
					<span class="bg-green-9a rounded-pill flex-1 text-center py-r-4"><span class="font-size-15-20 color-light">소셜미션</span></span>
					<span class="bg-info rounded-pill flex-1 text-center py-r-4" :class="[display.xs ? 'mt-r-4' : 'ml-r-2']"><span class="font-size-15-20 color-light">사회적기업가자질</span></span>
					<span class="bg-blue-5e8 rounded-pill flex-1 text-center py-r-4" :class="[display.xs ? 'mt-r-4' : 'ml-r-2']"><span class="font-size-15-20 color-light">창업아이템</span></span>
					<span class="bg-blue-4e8 rounded-pill flex-1 text-center py-r-4" :class="[display.xs ? 'mt-r-4' : 'ml-r-2']"><span class="font-size-15-20 color-light">사업실현가능성</span></span>
					<span class="bg-primary rounded-pill flex-1 text-center py-r-4" :class="[display.xs ? 'mt-r-4' : 'ml-r-2']"><span class="font-size-15-20 color-light">기대효과</span></span>
				</div>
			</SubSection>
			
			
			
			<SubSection no-gutter title="연계 프로그램 운영" class="mt-r-17 mt-r-sm-25">
				<div class="d-flex flex-column flex-sm-row justify-space-between">
					<div class="">
						<p class="font-size-20-28 color-light text-center py-r-4 rounded-t-lg bg-primary">창업 상시상담</p>
						<div class="border border-t-0 border-gray-d4 rounded-b-lg px-r-4 py-r-8">
							사회적기업으로 창업하고자 하는 예비창업가 대상으로 상시 운영<br/>
							사업계획, 추진 로드맵, 관련 지원사업 연계 등 상담
						</div>
					</div>
					<div class="" :class="[display.xs ? 'mt-r-12' : 'ml-r-12']">
						<p class="font-size-20-28 color-light text-center py-r-4 rounded-t-lg bg-green-9a">사회적기업 창업아카데미</p>
						<div class="border border-t-0 border-gray-d4 rounded-b-lg px-r-4 py-r-8">
							사회적기업으로 창업하고자 하는 예비창업가 대상으로 상시 운영<br/>
							사업계획, 추진 로드맵, 관련 지원사업 연계 등 상담
						</div>
					</div>
				</div>
			</SubSection>
			
		</v-container>
	</SubLayout>
</template>
