<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	businessSocialMobile1, businessSocialMobile2, businessSocialPC1, businessSocialPC2,
	corporationCorporationMobile1,
	corporationCorporationMobile2,
	corporationCorporationPC1, corporationCorporationPC2
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout no-gutter>
		<v-container class="p-r-0">
			<SubDescription>
				<span class="font-weight-bold">사회적기업이란</span> 사회적 목적을 우선으로 추구하면서<br />
				재화 · 서비스의 생산 · 판매 등 영업활동을 수항하는 기업을 말합니다.<br />
				취약계층에게 지속 가능한 일자리를 제공하고, 우리 사회에 부족한 사회 서비스를 확충합니다.
			</SubDescription>
			
			<SubSection no-gutter title="사회적기업 개념" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessSocialMobile1" v-if="display.xs" />
				<v-img :src="businessSocialPC1" v-else />
			</SubSection>
			<SubSection no-gutter title="사회적기업 인증 절차" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessSocialMobile2" v-if="display.xs" />
				<v-img :src="businessSocialPC2" v-else />
			</SubSection>
			
			<ul class="bg-white-fb px-r-7 py-r-8 mt-r-10 mt-r-sm-24">
				<li class="indent-check font-size-14-18">사회적기업으로 인증받으려면 취약계층에게 일자리·사회서비스 등을 제공하는 법인·단체 등을 설립하여야 합니다.</li>
				<li class="indent-check font-size-14-18 mt-r-4">기업을 설립하고 영업활동을 하면 인증 신청을 할 수 있으나 영업활동을 통한 수입이 같은 기간 지출된 노무비의 50%이상이 되어야 합니다.</li>
				<li class="indent-check font-size-14-18 mt-r-4">
					<p>
						사회적기업 인증을 신청하려는 기관은 신청 전에
						<span class="color-primary">반드시 권역별 지원기관의 사전 상담 및 컨설팅을 받으셔야 합니다.</span>
					</p>
				</li>
			</ul>
			
			<SubSection no-gutter title="지정요건 (사회적기업 / 예비사회적기업 비교)" class="mt-r-17 mt-r-sm-25 overflow-x-auto">
				<v-table class="business-social-table border-top border-gray-70">
					<tr class="bg-white-fb">
						<th class="font-size-12-18 font-weight-bold px-r-7 py-r-5 w-20 border-bottom border-gray-d4">구분</th>
						<th class="font-size-12-18 font-weight-bold px-r-7 py-r-5 w-40 border-left border-bottom border-gray-d4">사회적기업</th>
						<th class="font-size-12-18 font-weight-bold px-r-7 py-r-5 w-40 border-left border-bottom border-gray-d4">예비사회적기업</th>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold px-r-7 py-r-5 bg-white-fb border-bottom border-gray-d4">주관</th>
						<td class="font-size-12-16 px-r-7 py-r-5 bg-white-f9 text-center border-left border-bottom border-gray-d4">고용노동부 장관 인증</td>
						<td class="font-size-12-16 px-r-7 py-r-5 bg-white-f9 text-center border-left border-bottom border-gray-d4">중앙행정기관장 또는 자치단체장 지정</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold px-r-7 py-r-5 bg-white-fb border-bottom border-gray-d4" rowspan="7">요건</th>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">① 조직형태</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">① 조직형태</td>
					</tr>
					<tr>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">② 유급근로자를 고용하여 영업활동을 수행할 것</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">② 영업활동을 수행할 것(일자리제공형은 1명이상 고용 필요)</td>
					</tr>
					<tr>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">③ 사회적 목적 실현(취약계층 고용 · 사회 서비스제공 등)</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">
							③ 사회적 목적 실현 실적 또는 사업계획서 확인<br />
							(취약계층 고용 · 사회 서비스제공 등)
						</td>
					</tr>
					<tr>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">④ 이해관계자가 참여하는 의사결정 구조</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">④ -</td>
					</tr>
					<tr>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">⑤ 영업활동을 통한 수입(매출액이 노무비의 50% 이상)</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">⑤ -</td>
					</tr>
					<tr>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">⑥ 정관 · 규약 등을 갖출 것</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">⑥ 예비사회적기업 지정요건에 맞는 정관 · 규약 등을 갖출 것</td>
					</tr>
					<tr>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">
							⑦ 배분 가능한 이윤의 2/3이상 사회적 목적을 위해 재투자<br />
							(상법상 회사 등의 경우)
						</td>
						<td class="font-size-12-16 px-r-7 py-r-5 border-left border-bottom border-gray-d4">
							⑦ 배분 가능한 이윤의 2/3이상 사회적 목적을 위해 재투자<br />
							(상법상 회사 등의 경우)
						</td>
					</tr>
				</v-table>
			</SubSection>
			
			<SubSection no-gutter title="인증요건" class="mt-r-17 mt-r-sm-25">
				<div class="border-top border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">1</span>조직형태</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">사회적기업으로 인증받기 위해서는 사회적기업육성법에 따른 조직형태를 갖추어야 함</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56 flex-wrap">
							사회적기업 인증가능 조직형태 예시
							<div class="d-flex flex-column flex-sm-row justify-space-between align-sm-end font-size-12-16 bg-white-fb p-r-4 mt-r-4 w-100">
								<div class="d-flex flex-column flex-sm-row">
									<ul class="d-flex flex-sm-column flex-wrap" :class="[display.xs ? 'py-r-4' : 'px-r-4']">
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">사단법인</li>
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">제단법인</li>
									</ul>
									<div class="d-flex border-gray-c9" :class="[display.xs ? 'border-top' : 'border-left']">
										<ul class="w-50 w-sm-auto" :class="[display.xs ? 'py-r-4' : 'px-r-4']">
											<li class="indent-dot color-gray-56">주식회사</li>
											<li class="indent-dot color-gray-56">유한회사</li>
											<li class="indent-dot color-gray-56">합자회사</li>
										</ul>
										<ul class="w-50 w-sm-auto" :class="[display.xs ? 'py-r-4' : 'px-r-4']">
											<li class="indent-dot color-gray-56">합명회사</li>
											<li class="indent-dot color-gray-56">유한책임회사</li>
											<li class="indent-dot color-gray-56">합자조합</li>
										</ul>
									</div>
									<ul class="d-flex flex-sm-column border-gray-c9 flex-wrap" :class="[display.xs ? 'border-top py-r-4' : 'border-left px-r-4']">
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">공익법인</li>
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">비영리민간단체</li>
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">사회복지법인</li>
									</ul>
									<ul class="d-flex flex-sm-column border-gray-c9 flex-wrap" :class="[display.xs ? 'border-top py-r-4' : 'border-left px-r-4']">
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">(사회적)협동조합</li>
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">영농(영어)조합법인</li>
										<li class="indent-dot color-gray-56 w-50 w-sm-auto">농업(어업)회사법인</li>
									</ul>
								</div>
								<span class="font-size-12-14 color-gray-56 mt-r-8 mt-r-sm-0">※ 개인사업자는 인증 불가</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">2</span>유급 근로자의 고용</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">사회적기업으로 인증받기 위해서는 유급근로자를 고용하여 재화와 서비스의 생산 · 판매 등 영업활동을 해야함</li>
						<li class="indent-blue-dot-bold font-size-12-18">
							<div class="font-size-12-18 color-gray-56">
								신청기업은 신청 전월말 기준 1명 이상의 유급 근로자를 고용하여 영업활동을 수행해야 함
								<ul>
									<li class="indent-dot color-gray-56 font-size-10-16">단, 사회적 목적 실현 유형 중 일자리제공형은 신청월 직전 6개월 평균 3명 이상 고용</li>
									<li class="indent-dot color-gray-56 font-size-10-16">고용형태와 상관없이 고용보험에 가입된 자를 유급근로자로 인정，유급근로자를 고용함에 있어 고용노동관계법령을 준수해야 함</li>
								</ul>
							</div>
						</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">전체 근로자에 대해 6개월 이내 고용조정 사실이 없어야 함</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">3</span>사회적 목적의 실현</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">사회적기업은 사회적 목적을 조직의 주된 목적으로 하여야 함</li>
						<li class="indent-blue-dot-bold font-size-12-18">
							<div class="w-100 color-gray-56">
								사회적기업으로 인증받기 위해서는 다음의 유형 중 하나에 부합해야 함
								<v-container class="p-r-0 m-r-0">
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="5" sm="4" md="3" lg="2" class="font-size-12-16 bg-blue-5e8 color-light p-r-xs-4 text-center d-flex justify-center align-center">
											사회서비스 제공형
										</v-col>
										<v-col cols="7" sm="8" md="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4">
											<ul>
												<li class="indent-dot">전체 서비스 수혜자 중 취약계층의 비율이 30% 이상일 것</li>
											</ul>
										</v-col>
									</v-row>
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="5" sm="4" md="3" lg="2" class="font-size-12-16 bg-blue-4e8 color-light p-r-xs-4 text-center d-flex justify-center align-center">
											일자리 제공형
										</v-col>
										<v-col cols="7" sm="8" md="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4">
											<ul>
												<li class="indent-dot">전체 서비스 수혜자 중 취약계층의 비율이 30% 이상일 것</li>
											</ul>
										</v-col>
									</v-row>
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="5" sm="4" md="3" lg="2" class="font-size-12-16 bg-blue-c1 color-light p-r-xs-4 text-center d-flex justify-center align-center">
											지역사회 공헌형
										</v-col>
										<v-col cols="7" sm="8" md="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4">
											<ul>
												<li class="indent-dot">조직의 주된 목적이 지역사회에 공헌하는 것이며, 다음 중 하나를 충족할 것</li>
												<li class="indent-dash">지역의 인적·물적 자원 활용 지역주민의 소득과 일자리를 늘리는 경우 : 전체 근로자 중  해당 지역에 거주하는 취약계층의 고용비율이 20% 이상</li>
												<li class="indent-dash">지역의 인적·물적 자원 활용 지역에 사회서비스를 제공하는 경우 : 해당 조직으로부터 사회서비스를 제공받는 지역 취약계층 비율이 20% 이상</li>
												<li class="indent-dash">지역의 빈곤·소외·범죄 등 사회문제를 해결하는 경우 : 해당 부분의 수입 또는 지출이 조직의 전체 수입 또는 지출의 40% 이상</li>
											</ul>
										</v-col>
									</v-row>
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="5" sm="4" md="3" lg="2" class="font-size-12-16 bg-green-b3 color-light p-r-xs-4 text-center d-flex justify-center align-center">
											혼합형
										</v-col>
										<v-col cols="7" sm="8" md="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4">
											<ul>
												<li class="indent-dot">전체 근로자 및 전체 사회서비스 수혜자 중 취약계층 비중이 각각20% 이상일 것</li>
											</ul>
										</v-col>
									</v-row>
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="5" sm="4" md="3" lg="2" class="font-size-12-16 bg-green-9a color-light p-r-xs-4 text-center d-flex justify-center align-center">
											기타(창의 · 혁신)형
										</v-col>
										<v-col cols="7" sm="8" md="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4">
											<ul>
												<li class="indent-dot">사업의 특성상 사회적 목적의 실현 여부를 요건에 따라 판단하기 곤란한 경우에 해당하며, 사회적기업육성전문위원회에서 사회적 목적의 실현 여부를 판단</li>
											</ul>
										</v-col>
									</v-row>
									<div class="mt-r-4">
										<p class="font-size-13-18 color-blue-5e8">취약계층</p>
										<p class="font-size-11-16 color-gray-56">저소득자 · 고령자 · 장애인 · 성매매피해자 청년 · 경력단절여성 중 고용촉진장려금 지급 대상자 · 북한이탈주민 · 가정폭력 피해자 · 한부모가족지원법상 보호대상자 · 결혼이민자 · 갱생보호 대상자 · 범죄구조피해자 · 기타(1년 이상 장기실업자, 보호관찰청소년, 보호종료아동, 청소년쉼터에 입퇴소한 자, 노숙인, 약물· 알콜· 도박중독자, 여성가장, 난민 등) </p>
										<div class="font-size-11-16 color-gray-9e">
											(사회적기업 육성법 시행령 2조） 자신에게 필요한 사회서비스를 시장가격으로 구매하는데 어려움이 있거나 노동시장의 통상적인 조건에서 취업이 특히 곤란한 계층
											<ul>
												<li class="indent-dash color-gray-9e">사회서비스 대상 취약계층은 위의 취약계층을 포함하여 조손가정，외국인근로자，금융채무불이행자 및 저신용자，학교폭력피해자，학교밖청소년，중증질환자 등을 포함하여 탄력적으로 인정</li>
											</ul>
										</div>
									</div>
									<div class="mt-r-4">
										<p class="font-size-13-18 color-blue-5e8">사회서비스란</p>
										<p class="font-size-11-16 color-gray-56">교육 · 보육 · 보건 · 사회복지 · 환경 · 문화예술, 관광 및 운동서비스 · 청소등 사업시설관리 · 고용서비스 등 사업지원 서비스 · 간병 및 개인서비스 · 가사지원 · 산리모전 및 관리  · 기타</p>
									</div>
								</v-container>
							</div>
						</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">4</span>이해관계자가 참여하는 의사결정구조</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18">
							<div class="color-gray-56">
								사회적기업은 근로자，서비스 수혜자 등 다양한 이해관계자가 실질적으로 참여하는 의사결정구조를 갖추어야 함
								<ul>
									<li class="indent-dot font-size-11-16 color-gray-56">법령상 의결권이 있는 이사회를 주된 의사결정기구로 인정（불가피한 경우，사회적기업육성전문위원회 심의를 통해 다른 유형의 의사결정구조 인정 가능)</li>
								</ul>
							</div>
						</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">신청기업은 정관에 근거하여 인증 신청월의 직전 6개월 이내 최소 1회 이상 회의개최 실적이 있어야 함</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">5</span>영업활동을 통한 수입</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18">
							<div class="w-100 color-gray-56">
								사회적기업 인증 신청월 직전 6개월 동안의 영업활동을 통한 총 수입이 같은 기간 지출된 총 노무비 대비 50% 이상이어야함
								<ul>
									<li class="indent-dot font-size-11-16 color-gray-56">단, 영업활동 기간이 6개월 미만인 경우에는 그 기간 동안의 영업활동을 통한 수입 및 노무비를 기준으로 산정</li>
								</ul>
								<v-container class="p-r-0 m-r-0">
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="12" sm="3" lg="2" class="font-size-12-16 bg-white-fb px-r-xs-4 d-flex justify-center align-center" :class="[display.xs && 'pt-r-xs-4']">
											<p class="w-100" :class="[!display.xs && 'border-right border-blue-c1']">영업활동을 통한 수입</p>
										</v-col>
										<v-col cols="12" sm="9" lg="10" class="font-size-12-16 bg-white-fb px-r-xs-4 pb-r-xs-4 pt-r-sm-4">
											<ul>
												<li class="indent-dot">재화 및 서비스 공급을 통해 얻은 수입(=매출액) * 단순 지원금，보조금 해당하지 않음</li>
												<li class="indent-dot">제조업과 유통업은 원재료비와 상품매출원가 제외</li>
											</ul>
										</v-col>
									</v-row>
									<v-row no-gutters class="mt-r-xs-4">
										<v-col cols="12" sm="3" lg="2" class="font-size-12-16 bg-white-fb px-r-xs-4 d-flex justify-center align-center" :class="[display.xs && 'pt-r-xs-4']">
											<p class="w-100" :class="[!display.xs && 'border-right border-blue-c1']">노무비</p>
										</v-col>
										<v-col cols="12" sm="9" lg="10" class="font-size-12-16 bg-white-fb px-r-xs-4 pb-r-xs-4 pt-r-sm-4">
											<ul>
												<li class="indent-dot">포함 : 급여, 제수당, 상여금, 일용임금, 퇴직금(지급금)</li>
												<li class="indent-dot">제외 : 교육훈련비, 퇴직급여충당금, 사용자부담 사회보험료등</li>
											</ul>
										</v-col>
									</v-row>
								</v-container>
							</div>
						</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">
							단, 자본 완전잠식, 사업의 지속가능성이 현저하게 부족한 경우(매출액의 규모, 수익구조 등)에는 재무현황 등 추가자료를 통해 위원회에서 인증여부를 판단할 수 있음
						</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">6</span>정관의 필수사항</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">해당 기관의 정관이나 규약에 법정 기재사항(10가지)을 반드시 갖춰야 함</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">필수사항 : ①목적，②사업내용，③ 명칭，④주된 사무소의 소재지，⑤ 기관의 의사결정방식，⑥수익배분 및 재투자 관한 사항，⑦출자 및 융자에 관한 사항，⑧종사자의 구성 및 임면에 관한 사항，⑨해산 및 청산에 관한 사항，⑩ 그밖에 대통령령으로 정하는 사항</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">7</span>이윤의 사회적 목적 재투자</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">회계연도별로 배분 가능한 이윤이 발생한 경우에는 이윤의 3분의 2 이상을 사회적 목적을 위하여 사용되어야함</li>
						<li class="indent-blue-dot-bold font-size-12-18">
							<div class="color-gray-56">
								정관 상 해당 규정이 명시되어 있어야 하며，배분 가능한 이윤은 근로자의 근로조건 개선，사회공헌사업 등에 우선 사용되어야 함
								<ul>
									<li class="font-size-11-16 color-gray-56 indent-dot">이윤의 배분이 가능한 상법상 회사 등의 경우</li>
									<li class="font-size-11-16 color-gray-56 indent-dot">예비사회적기업의 경우 이익금 처분 내용 확인</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</SubSection>
		</v-container>
	</SubLayout>
</template>
