<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	businessPromoteMobile1,
	businessPromotePC1,
	businessSupportMobile1,
	businessSupportMobile2, businessSupportMobile3, businessSupportMobile4,
	businessSupportPC1,
	businessSupportPC2, businessSupportPC3, businessSupportPC4,
	businessUnionMobile1,
	businessUnionMobile2,
	businessUnionMobile3,
	businessUnionPC1,
	businessUnionPC2,
	businessUnionPC3,
	icBusinessUnion1,
	icBusinessUnion2,
	icBusinessUnion3
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout no-gutter>
		<v-container class="p-r-0">
			<SubDescription>
				<p class="font-size-23-35 color-blue-c1">제주사회연대기금 ‘제주고팡’</p>
				<div class="mt-r-4">
					<span class="font-weight-bold">사회적금융지원사업은</span> 도내 사회적경제조직 전체가 참여하는 수눌음 정신을 기반으로 한<br />
					제주사회연대기금'제주고팡'을 조성함으로써 제주도내 기업의 경영안정성 도모하고자 합니다.
				</div>
			</SubDescription>
			
			<SubSection no-gutter title="사업목적" class="mt-r-17 mt-r-sm-25">
				<ul>
					<li class="indent-dot-bold font-size-18-25">도내 사회적경제조직 전체가 참여하는 수눌음 정신을 기반으로 한 연대기금을 조성함으로써 기업의 경영안정성 도모</li>
					<li class="indent-dot-bold font-size-18-25">제주도내 사회적경제조직이 공동으로 위기를 관리하고 극복할 수 있는 기틀 마련</li>
					<li class="indent-dot-bold font-size-18-25">사회적경제조직 종사자 참여를 통해 안전망을 강화시키고 공동체의식을 고취</li>
					<li class="indent-dot-bold font-size-18-25">기존 제도권 금융과 사회적 금융의 사각지대를 보완하는 대안금융 역할</li>
				</ul>
			</SubSection>
			
			<SubSection no-gutter title="공제기금의 기능" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessSupportMobile1" v-if="display.xs" />
				<v-img :src="businessSupportPC1" v-else />
			</SubSection>
			
			<SubSection no-gutter title="차별성" class="mt-r-17 mt-r-sm-25">
				<ul class="bg-white-fb px-r-7 py-r-8">
					<li class="indent-check">
						<div class="font-size-15-20">
							<p class="color-blue-c1">제도권 금융과 사회적 금융의 사각지대 보완</p>
							지역 신뢰자본 기반의 높은 금융 접근성(간편심사, 신속대출)
						</div>
					</li>
					<li class="indent-check mt-r-4">
						<div class="font-size-15-20">
							<p class="color-blue-c1">제주지역 사회적경제 활성화를 위한 연대와 협력</p>
							참여 조직에 지속적인 모니터링 등 사업 지원<br />
							참여 조직 간 협력 지원 등 연대 기반 조성
						</div>
					</li>
				</ul>
			</SubSection>
			
			<SubSection no-gutter title="사업대상" class="mt-r-17 mt-r-sm-25">
				<p class="font-size-18-25">제주도 내 사회적경제조직</p>
				<div class="font-size-18-25 color-gray-9e mt-r-4">
					"사회적경제조직"이란 구성원간 협력‧자조를 바탕으로 재화‧용역생산 등을 통해 사회적가치를 창출하는 사회적기업‧예비사회적기업‧사회적협동조합‧협동조합‧마을기업‧자활기업‧사회적경제중간지원조직‧비영리법인 등의 법인 또는 법인격 없는 단체
				</div>
				<div class="d-flex flex-column flex-sm-row justify-center align-stretch mt-r-8">
					<div class="flex-1">
						<div class="font-size-18-30 color-light text-center border border-blue-5e8 bg-blue-5e8 py-r-4">
							1단계
							<span class="font-size-13-20 d-block color-light mt-r-2">2022-2023년</span>
						</div>
						<div class="font-size-13-20 border border-t-0 border-gray-d4 px-r-4 py-r-8 text-center">
							제주사회적경제네트워크 회원<br />
							(단체, 개인회원) 대상
						</div>
					</div>
					<div class="flex-1" :class="[display.xs ? 'mt-r-12' : 'ml-r-12']">
						<div class="font-size-18-30 color-light text-center border border-blue-c1 bg-blue-c1 py-r-4">
							2단계
							<span class="font-size-13-20 d-block color-light mt-r-2">2023-2024년</span>
						</div>
						<div class="font-size-13-20 border border-t-0 border-gray-d4 px-r-4 py-r-8 text-center">
							제주사회적경제 활성화를 위한
							지역 공공기관·민간기업
						</div>
					</div>
					<div class="flex-1" :class="[display.xs ? 'mt-r-12' : 'ml-r-12']">
						<div class="font-size-18-30 color-light text-center border border-primary bg-primary py-r-4">
							3단계
							<span class="font-size-13-20 d-block color-light mt-r-2">2024년 이후</span>
						</div>
						<div class="font-size-13-20 border border-t-0 border-gray-d4 px-r-4 py-r-8 text-center">
							제주지역 사회적경제조직, 개인회원 및
							사회적경제조직의 종사자
						</div>
					</div>
				</div>
			</SubSection>
			
			<SubSection no-gutter title="사업구조" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessSupportMobile2" v-if="display.xs" />
				<v-img :src="businessSupportPC2" v-else />
			</SubSection>
			
			<SubSection no-gutter title="기금운영" class="mt-r-17 mt-r-sm-25">
				<div class="border-top border-bottom border-gray-70 py-r-6">
					<div class="px-r-0 px-r-sm-5">
						<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">1</span>자금납입</p>
						<div class="w-100 overflow-x-auto mt-r-4">
							<v-table class="business-support-table border-top border-gray-70 text-center">
								<tr class="bg-white-fb">
									<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-bottom border-gray-d4" colspan="2">구분</th>
									<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-left border-bottom border-gray-d4">규모</th>
									<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-left border-bottom border-gray-d4">기간</th>
									<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-left border-bottom border-gray-d4">보상</th>
									<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-left border-bottom border-gray-d4">원금회수</th>
								</tr>
								<tr>
									<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4" rowspan="2">부금</th>
									<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">적립식</th>
									<th class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">30만원~100만원(10만원 단위)</th>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4" rowspan="2">만기 36, 48, 60개월 중 선택</td>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4" rowspan="2">부금 납입 이자 없음</td>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4" rowspan="2">납입 만기 시 원금 회수 가능</td>
								</tr>
								<tr>
									<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">일시납</th>
									<th class="font-size-12-18 py-r-5 border-left border-bottom border-gray-d4">5천만</th>
								</tr>
								<tr>
									<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4" colspan="2">출연(기부)</th>
									<th class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">무제한</th>
									<th class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">가입 시 일시납</th>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">기부금영수증 발행</td>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">회수 불가</td>
								</tr>
								<tr>
									<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4" colspan="2">출자</th>
									<th class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">무제한</th>
									<th class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">가입 시 일시납</th>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">이자수익 배당</td>
									<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">기금 탈퇴 시 지분 회수 가능</td>
								</tr>
							</v-table>
						</div>
						<p class="font-size-12-18 color-gray-70 mt-r-4 text-end">
							* 부금 납입 총액은 5천만원을 초과 할 수 없음
						</p>
					</div>
					<div class="px-r-0 px-r-sm-5 py-r-5">
						<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">2</span>대출실행</p>
						<div class="w-100 overflow-x-auto mt-r-4">
							<v-table class="business-support-table border-top border-gray-70 text-center">
							<tr class="bg-white-fb">
								<th class="font-size-12-18 font-weight-bold py-r-5 w-10 border-bottom border-gray-d4">구분</th>
								<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-left border-bottom border-gray-d4">한도</th>
								<th class="font-size-12-18 font-weight-bold py-r-5 w-25 border-left border-bottom border-gray-d4">이자율</th>
								<th class="font-size-12-18 font-weight-bold py-r-5 w-20 border-left border-bottom border-gray-d4">상환기간</th>
								<th class="font-size-12-18 font-weight-bold py-r-5 w-25 border-left border-bottom border-gray-d4">상환방식</th>
							</tr>
							<tr>
								<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">1</th>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4" rowspan="3">
									최대5천만원<br/>
									<br/>
									*신용대출 : 납입 부금의 3배
								</td>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4" rowspan="3">
									납입 부금 범위 이내 : 3%<br/>
									납입 부금 초과 금액 : 3.75<br/>
									<br/>
									*최초 1회 0.5<br/>의 공제안정화<br/>
									기금납부(기부영수증 발행)
								</td>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4" rowspan="2">12개월 이내</td>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">만기일시상황</td>
							</tr>
							<tr>
								<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">2</th>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">원리금균등분할상환</td>
							</tr>
							<tr>
								<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">3</th>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">
									18개월 이내<br />
									(거치 6개월 포함)
								</td>
								<td class="font-size-12-18 px-r-2 py-r-5 border-left border-bottom border-gray-d4">
									거치식원리금<br />
									균등분할상환
								</td>
							</tr>
							
						</v-table>
						</div>
						<p class="font-size-12-18 color-gray-70 mt-r-4">
							* 부금을 일시납 한 경우에도 가입 개월 수에 따라 배수대출이 적용됨 (예시: 10백만원 일시납으로 50만원납 36개월 부금에 가입 시 20개월분을 선납 한 것으로 봄)
						</p>
					</div>
					
					<ul>
						<li class="indent-blue-dot-bold">
							<div class="d-flex flex-column flex-sm-row justify-start align-start align-sm-center">
								<p class="font-size-18-22 font-weight-bold">대출자격</p>
								<span class="font-size-18-22 ml-r-sm-4">제주도 내 사회적경제조직</span>
								<span class="font-size-16-18 color-gray-70 ml-r-sm-4">* 부금을 3회차 이상 납입한 때(부금 연체가 없어야 함)</span>
							</div>
						</li>
						<li class="indent-blue-dot-bold mt-r-8">
							<div class="w-100">
								<p class="font-size-18-22 font-weight-bold">심사구조</p>
								<div class="mt-r-4">
									<span class="font-size-16-20 bg-blue-c1 color-light rounded-pill px-r-6 py-r-2 text-center">부금 내 대출</span>
									<ul class="mt-r-4 w-100">
										<li class="indent-dot font-size-16-18 color-gray-56">신청 후, 5일 이내 집행</li>
										<li class="indent-dot font-size-16-18 w-100">
											<div class="w-100 color-gray-56">
												신청 절차
												<div class="mt-r-4">
													<v-img :src="businessSupportMobile3" width="100%" v-if="display.xs" />
													<v-img :src="businessSupportPC3" width="100%" v-else />
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="mt-r-4">
									<span class="font-size-16-20 bg-blue-4e8 color-light rounded-pill px-r-6 py-r-2 text-center">부금 외 대출</span>
									<ul class="mt-r-4 w-100">
										<li class="indent-dot font-size-16-18 color-gray-56">신청 후, 2일 이내 집행</li>
										<li class="indent-dot font-size-16-18">
											<div class="w-100 color-gray-56">
												신청 절차
												<div class="mt-r-4">
													<v-img :src="businessSupportMobile4" width="100%" v-if="display.xs" />
													<v-img :src="businessSupportPC4" width="100%" v-else />
												</div>
											</div>
										</li>
									</ul>
								</div>
								<div class="mt-r-4">
									<span class="font-size-16-20 bg-green-9a color-light rounded-pill mt-r-4 px-r-6 py-r-2 text-center">기금심의 운영</span>
									<ul class="mt-r-4">
										<li class="indent-dot font-size-16-18 color-gray-56">법인 융자심의 위원회 심사</li>
										<li class="indent-dot font-size-16-18 color-gray-56">연대기금 전용 업무처리 세칙 운용</li>
									</ul>
								</div>
							</div>
						</li>
						<li class="indent-blue-dot-bold mt-r-8">
							<div class="w-100">
								<div class="d-flex flex-column flex-sm-row justify-start align-start align-sm-center">
									<p class="font-size-18-22 font-weight-bold">결손부담</p>
									<span class="font-size-18-22 ml-r-sm-4">결손부담주체 : (사)제주사회적경제네트워크</span>
								</div>
								<div class="font-size-18-22 mt-r-4">
									대손충당금 적립
								</div>
								<v-table class="border-top border-gray-70 mt-r-4">
									<tr class="bg-white-fb">
										<th class="font-size-12-18 font-weight-bold text-center px-r-7 py-r-5 w-30 border-bottom border-gray-d4">구분</th>
										<th class="font-size-12-18 font-weight-bold text-center px-r-7 py-r-5 w-70 border-left border-bottom border-gray-d4">출처</th>
									</tr>
									<tr>
										<td class="font-size-12-16 px-r-7 py-r-5 text-center border-bottom border-gray-d4">공제안정화기금</td>
										<td class="font-size-12-16 px-r-7 py-r-5 text-center border-left border-bottom border-gray-d4">고용부금 외 대출금의 0.05%(최초 1회)</td>
									</tr>
									<tr>
										<td class="font-size-12-16 px-r-7 py-r-5 text-center border-bottom border-gray-d4">대손충당적립금</td>
										<td class="font-size-12-16 px-r-7 py-r-5 text-center border-left border-bottom border-gray-d4">
											채권의 0.7%
											<p class="font-size-10-16 color-gray-56">※'여신전문금융업감독규정 제11조 대손충당금 등 적립기준'은 "정상"분류 자산의 100분의 0.5 이상으로 규정</p>
										</td>
									</tr>
								</v-table>
							</div>
						</li>
						<li class="indent-blue-dot-bold mt-r-8">
							<div class="">
								<p class="font-size-18-22 font-weight-bold">사후관리</p>
								<ul class="mt-r-4">
									<li class="indent-dot font-size-16-18">융자 실행 후 정기 모니터링 실시</li>
									<li class="indent-dot font-size-16-18">사업/재무 진단 컨설팅 제공</li>
									<li class="indent-dot font-size-16-18">상환 부실 우려 조직 집중관리(지원사업 매칭, 폐업/사업 정리 지원)</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</SubSection>
			
		</v-container>
	</SubLayout>
</template>
