<script setup lang="ts">

import {useDisplay} from "vuetify";
import {ref} from "vue";
import {
	businessUnionMobile1, businessUnionMobile2, businessUnionMobile3,
	businessUnionPC1, businessUnionPC2, businessUnionPC3,
	icBusinessUnion1,
	icBusinessUnion2,
	icBusinessUnion3
} from "@/assets/user/images/sub";

const display = ref(useDisplay());
</script>
<template>
	<SubLayout no-gutter>
		<v-container class="p-r-0">
			<SubDescription>
				<span class="font-weight-bold">협동조합이란</span> 재화 또는 용역의 구매·생산·판매·제공 등을 협동으로 영위함으로써<br />
				조합원의 권익을 향상하고 지역사회에 공헌하는 사업조직을 말합니다.
			</SubDescription>
			
			<SubSection no-gutter title="협동조합" class="mt-r-17 mt-r-sm-25">
				<ul>
					<li class="indent-dot font-size-18-25">재화 또는 용역의 구매·생산·판매·제공 등을 협동으로 영위함으로써 조합원의 권익을 향상하고 지역사회에 공헌하는 사업조직</li>
					<li class="indent-dot font-size-18-25">공동으로 소유되고 민주적으로 운영되는 사업체를 통하여 공통의 경제적,사회적,문화적 필요와 욕구를 충족시키고자하는 사람들이 자발적으로 결성한 자율적인 조직</li>
				</ul>
			</SubSection>
			<SubSection no-gutter title="사회적협동조합" class="mt-r-17 mt-r-sm-25">
				협동조합 중 지역주민들의 권익·복리 증진과 관련된 사업을 수행하거나 취약계층에게 사회서비스 또는 일자리를 제공하는 등 영리를 목적으로 하지 아니하는 협동조합
			</SubSection>
			
			<div class="mt-r-4 px-r-7 px-r-contents-0">
				<v-img :src="businessUnionMobile1" v-if="display.xs" />
				<v-img :src="businessUnionPC1" v-else />
			</div>
			
			<SubSection no-gutter title="협동조합과 사회적협동조합 비교" class="mt-r-17 mt-r-sm-25 overflow-x-auto">
				<v-table class="business-union-table border-top border-gray-70 text-center">
					<tr class="bg-white-fb">
						<th class="font-size-12-18 font-weight-bold py-r-5 w-15 border-bottom border-gray-d4"></th>
						<th class="font-size-12-18 font-weight-bold py-r-5 w-15 border-left border-bottom border-gray-d4">구분</th>
						<th class="font-size-12-18 font-weight-bold py-r-5 w-35 border-left border-bottom border-gray-d4">협동조합</th>
						<th class="font-size-12-18 font-weight-bold py-r-5 w-35 border-left border-bottom border-gray-d4">사회적협동조합</th>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 bg-blue-fb color-blue-c1 border-bottom border-gray-d4" rowspan="4">공통점</th>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">근거법률</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4" colspan="2">협동조합기본법</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">사업목적</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4" colspan="2">조합원 실익 증진</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">운영방식</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4" colspan="2">1인 1표</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">책임방식</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4" colspan="2">유한책임</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 bg-beige-f2 border-bottom border-gray-d4" rowspan="8">차이점</th>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">법인격</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">(영리)법인</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">비영리법인</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">설립</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">시 · 도지사 신고</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">주사업 소관부처 인가</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">사업</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">금융 및 보험업을 제외한 모든 사업 분야</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">
							금융 및 보험업을 제외한 모든 사업 분야<br />
							공익사업(주사업) 40% 이상 수행
						</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">경영공시</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">
							의무사항 아님<br />
							(단, 조합원 수 200인 이상 또는 출자금 납입총액 30억원 이상 또는 우선출자 발행 협동조합인 경우만 의무)
						</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">의무사항</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">법정 적립금</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">
							잉여금의 10/100이상<br />
							(출자금 납입총액의 3배에 이를 때까지)
						</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">
							잉여금의 30/100이상<br />
							(출자금 납입총액의 3배에 이를 때까지)
						</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">배당</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">배당가능</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">배당금지</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">청산</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">정관에 따라 잔여재산 처리</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">비영리법인 국고 등 귀속</td>
					</tr>
					<tr>
						<th class="font-size-12-18 font-weight-bold py-r-5 border-left border-bottom border-gray-d4">배당(수정필요)</th>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">직권 또는 신고에 따른 조사, 시정명령</td>
						<td class="font-size-12-16 py-r-5 border-left border-bottom border-gray-d4">조사 및 시정명령, 인가요건 위반시 인가 취소</td>
					</tr>
				</v-table>
			</SubSection>
			
			<SubSection no-gutter title="사회적협동조합과 사회적기업 비교" class="mt-r-17 mt-r-sm-25">
				<v-table class="border-top border-gray-70 text-center w-100">
					<tr class="bg-white-fb">
						<th class="font-size-11-18 font-weight-bold py-r-5 w-20 border-bottom border-gray-d4">구분</th>
						<th class="font-size-11-18 font-weight-bold py-r-5 w-40 border-left border-bottom border-gray-d4">사회적협동조합</th>
						<th class="font-size-11-18 font-weight-bold py-r-5 w-40 border-left border-bottom border-gray-d4">사회적기업</th>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">적용법령</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">협동조합기본법</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">사회적기업육성법</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">제도성격</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">인가제(법인격 부여)</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">인가제(법인격 부여)</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">소관부처</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">주시업 소관부처</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">고용노동부</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">법인성격</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">비영리</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">영리와 비영리 포함</td>
					</tr>
					<tr>
						<th class="font-size-10-18 font-weight-bold py-r-5 border-bottom border-gray-d4">이윤</th>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">배당불가</td>
						<td class="font-size-10-16 py-r-5 border-left border-bottom border-gray-d4">배당 가능한 이윤 발생시 이윤의 2/3 이상을 사회적 목적을 위해 재투자(상법상 회사 등의 경우)</td>
					</tr>
				</v-table>
				<p class="font-size-10-16 color-gray-56 text-center text-sm-end mt-r-2">
					운영중인 법인이 사회적기업으로 인증받는 것이므로, 협동조합 설립 이후 인증 신청을 준비해볼 수 있습니다.
				</p>
			</SubSection>
			
			<SubSection no-gutter title="협동조합 설립의 좋은 점" class="mt-r-17 mt-r-sm-25">
				<ul class="bg-white-fb px-r-7 py-r-8">
					<li class="indent-check font-size-14-18 mt-r-4">각 경제 주체의 만족도 증가 : 소비자 편익증가, 생산자의 안정적 수익 보장, 근로자의 고용 불안정 해결</li>
					<li class="indent-check font-size-14-18 mt-r-4">기존 복지체계에 의료, 돌봄 등 사회서비스의 민간 참여 확대</li>
					<li class="indent-check font-size-14-18 mt-r-4">새로운 법인격 도입을 통한 경제 활력 제고</li>
					<li class="indent-check font-size-14-18 mt-r-4">민주적 운영(1인 1표)으로 조합원 만족감 제고 및 주인의식 향상</li>
				</ul>
			</SubSection>
			
			<SubSection no-gutter title="협동조합 7대 원칙" class="mt-r-17 mt-r-sm-25">
				<div class="border-top border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">1</span>자발적이고 개방적인 조합원 제도</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">협동조합은 자발적이며, 모든 사람들에게 성(性)적·사회적·인종적·정치적·종교적 차별 없이 열려있는 조직</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">2</span>조합원에 의한 민주적 관리</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">조합원들은 정책수립과 의사 결정에 활발하게 참여하고 선출된 임원들은 조합원에게 책임을 갖고 봉사</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">조합원마다 동등한 투표권(1인 1표)을 가지며, 협동조합연합회도 민주적인 방식으로 조직·운영</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">3</span>조합원의 경제적 참여</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">협동조합의 자본은 공정하게 조성되고 민주적으로 통제</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">자본금의 일부는 조합의 공동재산이며, 출자배당이 있는 경우에 조합원은 출자액에 따라 제한된 배당금을 받음</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">잉여금은 1)협동조합의 발전을 위해 일부는 배당하지 않고 유보금으로 적립 2)사업이용 실적에 비례한 편익제공 3)기타 협동조합 활동 지원 등에 배분</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">4</span>자율과 독립</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">협동조합이 다른 조직과 약정을 맺거나 외주에서 자본을 조달할때 조합원에 의한 민주적 관리가 보장되고, 협동조합의 자율성이 유지되어야 함</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">5</span>교육,훈련 및 정보 제공</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">조합원, 선출된 임원, 경영자, 직원들에게 교육과 훈련을 제공</li>
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">젊은 세대와 여론 지도층에게 협동의 본질과 장점에 대한 정보를 제공</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">6</span>협동조합 간의 협동</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">국내,국외에서 공동으로 협력 사업을 전개함으로써 협동조합 운동의 힘을 강화시키고, 조합원에게 효과적으로 봉사</li>
					</ul>
				</div>
				<div class="border-bottom border-gray-d4 px-r-0 px-r-sm-5 py-r-5">
					<p class="font-size-18-25 color-primary"><span class="font-weight-bold color-primary pr-r-4">7</span>지역사회에 대한 기여</p>
					<ul class="pl-r-4">
						<li class="indent-blue-dot-bold font-size-12-18 color-gray-56">조합원의 동의를 토대로 조합이 속한 지역사회의 지속가능한 발전을 위해 노력</li>
					</ul>
				</div>
			</SubSection>
			<SubSection no-gutter title="협동조합 지원" class="mt-r-17 mt-r-sm-25">
				<v-container class="p-r-0 m-r-0">
					<v-row no-gutters class="mt-r-xs-4">
						<v-col cols="12" sm="3" lg="2" class="bg-blue-c1 d-flex justify-center align-center text-center" :class="[display.xs ? 'rounded-t-lg' : 'rounded-s-lg']">
							<div class="font-size-15-20 color-light py-r-4">
								<v-img :src="icBusinessUnion1" width="4.75rem" v-if="!display.xs" />
								설립지원
							</div>
						</v-col>
						<v-col cols="12" sm="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4"  :class="[display.xs ? 'rounded-b-lg' : 'rounded-e-lg']">
							<div class="font-size-13-16">
								<p class="font-size-15-18 color-primary">상담지원</p>
								권역별 통합지원기관 운영을 통한 현장 밀착형 협동조합 종합지원체계 구축
							</div>
							<div class="font-size-13-16 mt-r-4">
								<p class="font-size-15-18 color-primary">상담지원</p>
								권역별 통합지원기관 운영을 통한 현장 밀착형 협동조합 종합지원체계 구축
							</div>
						</v-col>
					</v-row>
					<v-row no-gutters class="mt-r-xs-4">
						<v-col cols="12" sm="3" lg="2" class="bg-blue-4e8 d-flex justify-center align-center text-center" :class="[display.xs ? 'rounded-t-lg' : 'rounded-s-lg']">
							<div class="font-size-15-20 color-light py-r-4">
								<v-img :src="icBusinessUnion2" width="4.75rem" v-if="!display.xs" />
								운영지원
							</div>
						</v-col>
						<v-col cols="12" sm="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4"  :class="[display.xs ? 'rounded-b-lg' : 'rounded-e-lg']">
							<div class="font-size-13-16">
								<p class="font-size-15-18 color-primary">교육</p>
								인재 육성 및 운영 지원을 위한 다양한 교육과정 및 콘텐츠 제공
							</div>
							<div class="font-size-13-16 mt-r-4">
								<p class="font-size-15-18 color-primary">경영공시</p>
								협동조합의 목적에 부합한 운영 지원 및 신뢰성 있는 경영공시 정보 제공
							</div>
							<div class="font-size-13-16 mt-r-4">
								<p class="font-size-15-18 color-primary">전문상시상담</p>
								분야별 전문가 상담으로 설립 · 운영상의 애로사항 해소와 운영 내실화 도모
							</div>
						</v-col>
					</v-row>
					<v-row no-gutters class="mt-r-xs-4">
						<v-col cols="12" sm="3" lg="2" class="bg-blue-c1 d-flex justify-center align-center text-center" :class="[display.xs ? 'rounded-t-lg' : 'rounded-s-lg']">
							<div class="font-size-15-20 color-light py-r-4">
								<v-img :src="icBusinessUnion3" width="4.75rem" v-if="!display.xs" />
								판로지원
							</div>
						</v-col>
						<v-col cols="12" sm="9" lg="10" class="font-size-12-16 bg-white-fb p-r-xs-4"  :class="[display.xs ? 'rounded-b-lg' : 'rounded-e-lg']">
							<div class="font-size-13-16">
								<p class="font-size-15-18 color-primary">공공판로</p>
								사회적협동조합의 공공조달 역량 강화를  통한 공공시장 진입 지원
							</div>
							<div class="font-size-13-16 mt-r-4">
								<p class="font-size-15-18 color-primary">민간판로</p>
								협동조합이 생산, 판매하는 상품의 유통채널 진입지원 및 협동조합간 거래 확대 지원
							</div>
						</v-col>
					</v-row>
				</v-container>
			</SubSection>
			<SubSection no-gutter title="협동조합 설립절차" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessUnionMobile2" v-if="display.xs" />
				<v-img :src="businessUnionPC2" v-else />
				<p class="mt-r-17 mt-r-sm-13">신청서류</p>
				<div class="font-size-13-20 bg-white-fb py-r-12 px-r-7 mt-r-4 keep-all">
					①설립 신고서 1부, ②정관 사본 1부, ③창립총회 개최 공고문 1부. ④창립총회 의사록 사본 1부, ⑤임원 명부 1부, ⑥사업계획서 1부,<br />
					⑦수입·지출 예산서 1부, ⑧출자 1죄당 금액과 조합원 또는 회원별로 인수하려는 출자좌수를 적은 서류(출자자명부) 1부,<br />
					⑨발기인 및 설립동의자 명부 1부, ⑩합병 또는 분할을 의결한 총회 의사록 사본 1부(합병·분할로 설립하는 경우에만 제출)
				</div>
			</SubSection>
			<SubSection no-gutter title="사회적협동조합 설립절차" class="mt-r-17 mt-r-sm-25">
				<v-img :src="businessUnionMobile3" v-if="display.xs" />
				<v-img :src="businessUnionPC3" v-else />
				<p class="mt-r-17 mt-r-sm-13">신청서류</p>
				<div class="font-size-13-20 bg-white-fb py-r-12 px-r-7 mt-r-4 keep-all">
					①설립인가 신청서 1부, ②정관 사본 1부, ③창립총회 개최 공고문 1부. ④창립총회 의사록 사본 1부, ⑤임원 명부와 임원약력(이력서) 각 1부,<br />
					⑥사업계획서 1부, ⑦수입·지출 예산서 1부, ⑧출자 1죄당 금액과 조합원 또는 회원별로 인수하려는 출자좌수를 적은 서류(출자자명부) 1부,<br />
					⑨발기인 및 설립동의자 명부 1부, ⑩주 사업의 내용이 설립인가 기준을 충족하는 것을 증명하는 서류(세부사업계획서 등)<br />
					⑪합병 또는 분할을 의결한 총회 의사록 사본 1부(합병·분할로 설립하는 경우에만 제출)
				</div>
			</SubSection>
		</v-container>
	</SubLayout>
</template>
