<script lang="ts" setup>
import type {RouteParams} from 'vue-router';
import {useRoute} from 'vue-router';
import {onMounted, ref} from 'vue';
import type {BoardInterface} from '@/interface/user/board';
import {apiGetBoardArticleDetail, apiGetBoardArticleNext, apiGetBoardArticlePrev} from '@/services/user/boardService';
import type {ResponseInterface} from '@/interface/user/common';
import NoticeDetail from '@/components/user/board/notice/NoticeDetail.vue';
import DownloadDetail from '@/components/user/board/download/DownloadDetail.vue';
import {initBoard} from '@/interface/user/board';

const route = useRoute();

const params: RouteParams = route.params;

const boardId = ref(Number(params.boardId.toString()));
const id = ref(Number(params.id.toString()));

const data = ref<BoardInterface>({
	...initBoard,
	title: '2022년도 (사회적)협동조합 맞춤형 컨설팅 지원 사업 모집 공고',
	readCount: 1000,
	createdDate: new Date(),
	content: '1. 사업개요<br />\n' +
		'<br />\n' +
		' □ 대    상: 제주도내 (사회적)협동조합<br />\n' +
		' □ 사업기간: 2022년 3월 3일(목) ~ 2022년 12월 9일(금)까지<br />\n' +
		' □ 지원분야: 노무·법무, 세무·회계, 홍보·마케팅, 경영·조직관리<br />\n' +
		' □ 지원내용<br />\n' +
		'    - 각 분야 전문 컨설턴트 매칭(1회기는 4시간 기준)<br />\n' +
		'    - 기업별 최대 3회(12시간)이내 지원: 영역별 구분하여 신청 가능<br />\n' +
		'      ex) 노무·법무 2회, 세무·회계 1회(총 3회)<br />\n' +
		' □ 컨설팅비용: 무료(자부담 없음)<br />\n' +
		'<br />\n' +
		'1. 신청방법 및 추진절차<br />\n' +
		'<br />\n' +
		' □ 신청기간: 2022년 3월 3일(목) ~ 예산 소진 시 까지<br />\n' +
		' □ 신청방법: E-mail 신청 (jejusen2015@daum.net)<br />\n' +
		' □ 선정기준<br />\n' +
		'   - 우선선정기업<br />\n' +
		'   ㆍ사업개시 3년 이내의 신생기업<br />\n' +
		'   ㆍ최근 2년 이내 경영악화기업<br />\n' +
		'   ㆍ긴급하게 해결해야 할 애로사항이 발생한 기업<br />\n' +
		'  - 선정제외기업<br />\n' +
		'   ㆍ과거 부정수급으로 적발되어 약정 해지된 기업<br />\n' +
		'   ㆍ해당연도에 동일 또는 유사한 내용의 컨설팅은 국가 혹은 타 지원기관에서 3회 이상 받은 기업<br />\n' +
		'   ㆍ영업활동과 관련하여 법령 위반으로 사회적 물의를 일으킨 경우<br />\n' +
		'   ㆍ기타 조례, 규칙 등을 통해 참여제한 대상으로 명시한 기업',
	normalFiles: [
		{
			id: 1,
			fileName: "홍보용 샘플제작지원 안내.pdf"
		},
		
		{
			id: 2,
			fileName: "접수서식.hwp"
		}
	],
});
const prev = ref<BoardInterface>({...initBoard, title: '2022년도 (사회적)협동조합 맞춤형 컨설팅 지원 사업 모집 공고',});
const next = ref<BoardInterface>({...initBoard, title: '2022년도 (사회적)협동조합 맞춤형 컨설팅 지원 사업 모집 공고',});


const fetchData = async () => {
	await apiGetBoardArticleDetail(boardId.value, id.value).then((res: ResponseInterface) => {
		data.value = res.data;
	});
	
	await apiGetBoardArticlePrev(boardId.value, id.value).then((res: ResponseInterface) => {
		prev.value = res.data;
	});
	
	await apiGetBoardArticleNext(boardId.value, id.value).then((res: ResponseInterface) => {
		next.value = res.data;
	});
};

onMounted(async () => {
	// await fetchData();
});
</script>

<template>
	<SubLayout>
		<NoticeDetail
			v-if="boardId === 1"
			:next="next"
			:data="data"
			:prev="prev"
			:article-id="id"
			:board-id="boardId"
		/>
		<NewsDetail
			v-if="boardId === 2"
			:next="next"
			:data="data"
			:prev="prev"
			:article-id="id"
			:board-id="boardId"
		/>
		<PhotoDetail
			v-if="boardId === 3"
			:next="next"
			:data="data"
			:prev="prev"
			:article-id="id"
			:board-id="boardId"
		/>
		<DownloadDetail
			v-if="boardId === 4"
			:next="next"
			:data="data"
			:prev="prev"
			:article-id="id"
			:board-id="boardId"
		/>
	</SubLayout>
</template>
