<script lang="ts" setup>
import {ref, watchEffect} from 'vue';
import {useRoute} from 'vue-router';
import type {ResponseInterface, SearchInterface} from '@/interface/user/common';
import {initSearchData} from '@/interface/user/common';
import type {BoardInterface, PageWithHostInterface, SearchTypeInterface} from "@/interface/user/board";
import {initBoard, initPageWithHost} from "@/interface/user/board";
import {apiGetBoardArticles} from "@/services/user/boardService";
import {useDisplay} from "vuetify";
import {swiperSample} from "@/assets/user/images/main";

const route = useRoute();
const boardId = Number(route.params.boardId);

const dataList = ref<BoardInterface[]>([]);

const page = ref<PageWithHostInterface>({
	...initPageWithHost,
	totalPages: 35,
	totalElements: 346,
	locationHost: boardId,
});

const searchTypes = ref<SearchTypeInterface[]>([
	{type: '', name: '분류 선택'},
	{type: '분류1', name: '분류1'},
	{type: '분류2', name: '분류2'},
]);

const searchData = ref<SearchInterface>({
	...initSearchData,
	length: 10,
});

const handleSearchData = (data: SearchInterface) => {
	console.log(data);
	searchData.value = {...data};
};

const fetchState = ref({
	loading: true,
});

const fetchData = async () => {
	dataList.value = [
		{
			...initBoard,
			id: 1,
			title: '화장품 효능 확인을 위한 심사 교육',
			createdDate: new Date(),
			readCount: 1000,
			files: [
				{
					id: 1,
					img: swiperSample,
				},
			],
			normalFiles: [
				{
					id: 1,
					fileName: "홍보용 샘플제작지원 안내.pdf"
				},
				
				{
					id: 2,
					fileName: "접수서식.hwp"
				}
			],
		},
		{
			...initBoard,
			id: 2,
			title: '화장품 효능 확인을 위한 심사 교육',
			createdDate: new Date(),
			readCount: 1000,
			files: [
				{
					id: 1,
					img: swiperSample,
				},
			],
		},
		{
			...initBoard,
			id: 3,
			title: '화장품 효능 확인을 위한 심사 교육',
			createdDate: new Date(),
			readCount: 1000,
		},
	];
	// await apiGetBoardArticles(id, searchData.value).then((res: ResponseInterface) => {
	// 	const {totalPages, number, totalElements} = res.data.page;
	// 	page.value = {
	// 		...page.value,
	// 		totalElements,
	// 		totalPages,
	// 		number,
	// 	};
	// 	dataList.value = res.data.data;
	// });
	fetchState.value.loading = false;
};

const handleSearch = async () => {
	fetchState.value.loading = true;
	await fetchData();
};

const handlePage = (number: number) => {
	console.log('fetch notice for change page');
	page.value.page = number;
};

watchEffect(async () => {
	console.log('watchEffect');
	await fetchData();
});

const display = ref(useDisplay());

</script>

<template>
	<SubLayout>
		<div class="skeleton-container mt-r-14">
			<Search :search-types="searchTypes" :current-data="searchData" @search="handleSearch" @update="handleSearchData"/>
			<NoticeList
				v-if="boardId === 1"
				:board-id="boardId"
				:search-data="searchData"
				:data-list="dataList"
				:fetch-state="fetchState"
				:page="page"
				:display="display"
			/>
			<NewsList
				v-if="boardId === 2"
				:board-id="boardId"
				:search-data="searchData"
				:data-list="dataList"
				:fetch-state="fetchState"
				:page="page"
				:display="display"
			/>
			<PhotoList
				v-if="boardId === 3"
				:board-id="boardId"
				:search-data="searchData"
				:data-list="dataList"
				:fetch-state="fetchState"
				:page="page"
				:display="display"
			/>
			<DownloadList
				v-if="boardId === 4"
				:board-id="boardId"
				:search-data="searchData"
				:data-list="dataList"
				:fetch-state="fetchState"
				:page="page"
				:display="display"
			/>
			<CustomPagination :page="page" @search="handlePage"/>
		</div>
	</SubLayout>
</template>
