<script setup lang="ts">
import type {Anchor} from 'vuetify/lib/components';
import {useRouter} from 'vue-router';
import avatar1 from '@/assets/pro/images/avatars/avatar-1.png';
import {apiLogout} from '@/services/pro/userService';
import {userStore} from '@/store/pro/user';

const avatarBadgeProps = {
    dot: true,
    location: 'bottom right' as Anchor,
    offsetX: 3,
    offsetY: 3,
    color: 'success',
    bordered: true,
};

const router = useRouter();

const handleLogout = () => {
    apiLogout();
    router.replace('/login');
};

const store = userStore();
const user = store.getCurrentUser;
</script>

<template>
    <VBadge v-bind="avatarBadgeProps">
        <VAvatar
            style="cursor: pointer"
            color="primary"
            variant="tonal"
        >
            <VImg :src="avatar1" />

            <!-- SECTION Menu -->
            <VMenu
                activator="parent"
                width="230"
                location="bottom end"
                offset="14px"
            >
                <VList>
                    <!-- 👉 User Avatar & Name -->
                    <VListItem>
                        <template #prepend>
                            <VListItemAction start>
                                <VBadge v-bind="avatarBadgeProps">
                                    <VAvatar
                                        color="primary"
                                        size="40"
                                        variant="tonal"
                                    >
                                        <VImg :src="avatar1" />
                                    </VAvatar>
                                </VBadge>
                            </VListItemAction>
                        </template>

                        <VListItemTitle class="font-weight-semibold"> {{ user.name }} </VListItemTitle>
                        <VListItemSubtitle class="text-disabled"> Admin </VListItemSubtitle>
                    </VListItem>

                    <VDivider class="my-2" />

                    <!-- 👉 Logout -->
                    <VListItem @click="handleLogout">
                        <template #prepend>
                            <VIcon
                                class="me-2"
                                icon="mdi-logout-variant"
                                size="22"
                            />
                        </template>

                        <VListItemTitle>Logout</VListItemTitle>
                    </VListItem>
                </VList>
            </VMenu>
            <!-- !SECTION -->
        </VAvatar>
    </VBadge>
</template>
