<script setup lang="ts">
import {ref} from 'vue';
import cmsLogo from '@/assets/pro/images/logos/cms-logo.png';

const tempData = [
	{
		id: 1,
		title: 'Dashboard',
		to: '/pro',
		icon: 'mdi-home-outline',
	},
	{
		id: 1,
		title: '장비관리',
		icon: 'mdi-devices',
		children: [
			{
				id: 20,
				title: '장비 관리',
				to: '/pro/device/list',
				icon: 'mdi-circle-outline',
			},
		],
	},
	{
		id: 1,
		title: '시설관리',
		icon: 'mdi-office-building',
		children: [
			{
				id: 20,
				title: '시설 관리',
				to: '/pro/infra/list',
				icon: 'mdi-circle-outline',
			},
			{
				id: 20,
				title: '시설 예약관리',
				to: '/pro/infra/reservation/list',
				icon: 'mdi-circle-outline',
			},
		],
	},
	{
		id: 1,
		title: '기업 지원 관리',
		icon: 'mdi-face-agent',
		children: [
			{
				id: 20,
				title: '기업 지원 관리',
				to: '/pro/support/list',
				icon: 'mdi-circle-outline',
			},
			{
				id: 20,
				title: '기업 지원 신청 관리',
				to: '/pro/support/register/list',
				icon: 'mdi-circle-outline',
			},
			{
				id: 20,
				title: '기술 교육 관리',
				to: '/pro/technical/list',
				icon: 'mdi-circle-outline',
			},
		],
	},
	{
		id: 1,
		title: '문의관리',
		to: '/pro/question/list',
		icon: 'mdi-lock-question',
	},
	{
		id: 1,
		title: '회원 관리',
		to: '/pro/member/list',
		icon: 'mdi-account-group',
	},
	{
		id: 18,
		title: '게시판 설정',
		to: '/pro/boards/list',
		icon: 'mdi-clipboard',
	},
	{
		id: 19,
		title: '게시판',
		icon: 'mdi-clipboard-list-outline',
		children: [
			{
				id: 19,
				title: '공지사항',
				to: '/pro/articles/1/list',
				icon: 'mdi-circle-outline',
			},
			{
				id: 23,
				title: '사업정보',
				to: '/pro/articles/477/list',
				icon: 'mdi-circle-outline',
			},
		],
	},

];
const menuData = ref(tempData);

const open = ref(null);
const admins = ref([
	['Management', 'mdi-account-multiple-outline'],
	['Settings', 'mdi-cog-outline'],
]);
const cruds = ref([
	['Create', 'mdi-plus-outline'],
	['Read', 'mdi-file-outline'],
	['Update', 'mdi-update'],
	['Delete', 'mdi-delete'],
]);
</script>

<template>
	<!-- 👉 Nav header -->
	<div class="nav-header">
		<RouterLink to="/pro" class="app-logo d-flex align-center gap-x-3 app-title-wrapper">
			<!-- ℹ️ You can also use img tag or VImg here -->
			<VImg :src="cmsLogo" width="100" max-width="150" class="mx-auto"/>
		</RouterLink>
	</div>
	
	<!-- 👉 Nav items -->
	<VCard class="mt-6">
		<VList v-model:opened="open">
			<VerticalNav :menu-items="menuData"/>
		</VList>
	</VCard>
</template>

<style lang="scss">
.v-navigation-drawer {
	height: 100%;
}

.upgrade-banner {
	margin-top: auto;
}
</style>
