<script setup lang="ts">
import type {ThemeSwitcherTheme} from '@assets/pro/scss/layouts/types';

const themes: ThemeSwitcherTheme[] = [
    {
        name: 'light',
        icon: 'mdi-weather-sunny',
    },
    {
        name: 'dark',
        icon: 'mdi-weather-night',
    },
];
</script>

<template>
    <ThemeSwitcher :themes="themes" />
</template>
