<template>
    <div class="w-100 h-100 d-flex align-center justify-space-between">
        <!-- 👉 Footer: left content -->
        <span class="d-flex align-center"> Copyright &copy; <b>주식회사 인플라이</b> All rights reserved. </span>
    </div>
</template>
