<script lang="ts" setup>
import {loadFonts} from '@/plugins/webfontloader';

import '@assets/pro/scss/layouts/_default-layout.scss';
import '@assets/pro/scss/core/libs/vuetify/index.scss';
import '@assets/pro/scss/styles.scss';
import '@assets/pro/scss/core/index.scss';
loadFonts();
// Components
</script>

<template>
	<v-layout class="layout-wrapper layout-nav-type-vertical w-auto">
		<VerticalNavLayout>
			<!-- 👉 navbar -->
			<template #navbar>
				<VSpacer />
				<NavbarThemeSwitcher />
				<VBtn
					icon
					variant="text"
					color="default"
					class="me-2"
					size="small"
				>
					<VIcon
						icon="mdi-bell-outline"
						size="24"
					/>
				</VBtn>
				<AdminProfile />
			</template>
			
			<!-- 👉 Drawer content -->
			<template #navigation-drawer-content>
				<DrawerContent />
			</template>
			
			<!-- 👉 Pages -->
			<div class="layout-page-content">
				<RouterView v-slot="{Component}">
					<Component :is="Component" />
				</RouterView>
			</div>
			
			<!-- 👉 Footer -->
			<template #footer>
				<ProFooter />
			</template>
		</VerticalNavLayout>
	</v-layout>
</template>

<style lang="scss">
.app-bar-search {
    .v-input__control {
        width: 236px;
    }

    .v-field__outline__start {
        border-radius: 28px 0 0 28px !important;
        flex-basis: 20px !important;
    }

    .v-field__outline__end {
        border-radius: 0 28px 28px 0 !important;
    }
}
</style>
