<script lang="ts" setup>
import type {NavLink} from '@assets/pro/scss/layouts/types';

const props = defineProps<{item: NavLink}>();
</script>

<template>
    <VListItem
        :title="item.title"
        :prepend-icon="item.icon"
        :value="item.title"
        :to="item.to"
    >
      <p :title='item.title' class='w-100 h-100 position-absolute'></p>
        <span
            v-if="item.badgeContent"
            key="badge"
            class="nav-item-badge"
            :class="item.badgeClass"
        >
            {{ item.badgeContent }}
        </span>
    </VListItem>
</template>

<style lang="scss">
.nav-link a {
    display: flex;
    align-items: center;
}
</style>
