<script setup lang="ts">

const props = defineProps<
	{
		menuItems: any[]
	}>();
</script>

<template>
    <template
        v-for="menuItem in props.menuItems"
        :key="`menu_${menuItem.id}`"
    >
        <VerticalNavLink
            v-if="!menuItem.children"
            :item="menuItem"
        />
        <template v-else>
            <VListGroup :title="menuItem.title" >
                <template #activator="{props}">
                    <VListItem
                        v-bind="props"
                        :prepend-icon="menuItem.icon"
                        :title="menuItem.title"
                        :value="menuItem.title"
                    >
                      <p :title='menuItem.title' class='w-100 h-100 position-absolute'></p>
                    </VListItem>
                </template>
                <VerticalNav :menu-items="menuItem.children" />
            </VListGroup>
        </template>
    </template>
</template>

<style lang="scss">
.layout-vertical-nav {
    .nav-group a {
        display: flex;
        align-items: center;
    }
}
</style>
