<script setup lang="ts">
import { VueDaumPostcode } from "vue-daum-postcode";
import { ref } from "vue";

const componentProps = defineProps<{
    cls: string;
}>();

const emit = defineEmits(["show", "handleAddress"]);

const dialogState = ref<boolean>();

const handlePostCode = (addressObject: any) => {
	emit("handleAddress", addressObject);
    dialogState.value = false;
};
</script>

<template>
    <VDialog v-model="dialogState" class="common-dialog w-33">
        <template v-slot:activator="{ props }">
            <VBtn class="h-auto" :class="componentProps.cls" v-bind="props" color="primary">
                <span class="font-size-12-16 color-light"> 주소 조회 </span>
            </VBtn>
        </template>
        <VCard>
            <VCardItem>
                <VueDaumPostcode @complete="handlePostCode">
                  <template #loading>
                    <img src="/cms-logo.png" height="50" alt="Logo" />
                  </template>
                </VueDaumPostcode>
            </VCardItem>
        </VCard>
    </VDialog>
</template>
