<script setup lang="ts">
import {ref, watchEffect} from 'vue';

interface DialogInterface {
    dialogTitle: string;
    dialogState: boolean;
}

const dialogProps = withDefaults(defineProps<DialogInterface>(), {
    dialogTitle: 'dialogTitle',
    dialogState: false,
});

const emit = defineEmits(['update']);

const dialog = ref<boolean>(false);

watchEffect(() => {
    dialog.value = dialogProps.dialogState;
});
watchEffect(() => {
    emit('update', dialog.value);
});
</script>

<template>
    <VDialog
        v-model="dialog"
        max-width="1000"
    >
        <VCard>
            <VCardTitle>
                <span class="text-h5">{{ dialogProps.dialogTitle }}</span>
            </VCardTitle>
            <VCardText>
                <slot name="contents"></slot>
            </VCardText>
            <VCardActions>
                <VSpacer></VSpacer>
                <slot name="actions"></slot>
            </VCardActions>
        </VCard>
    </VDialog>
</template>
