<script setup lang="ts">
import {onMounted, ref} from 'vue';
import VueDropzone from 'vue2-dropzone-vue3';
import {userStore} from '@/store/pro/user';
import {isEmpty} from '@/utils';
import {apiDeleteFiles} from '@/services/pro/filesService';
import type {DropzoneFileInterface, FileInterface} from '@/interface/pro/files';
import {setToken} from '@/plugins/pro-axios';

interface DropzoneFilesPropsInterface {
    files: FileInterface[];
    maxFiles: any;
}

const props = withDefaults(defineProps<DropzoneFilesPropsInterface>(), {
    files: () => [],
    maxFiles: 1,
});

const emit = defineEmits(['add', 'remove']);

const store = userStore();
const currentToken = store.getCurrentToken ?? {token: ''};

const articlesDropzone = ref();
const dropzoneFiles = ref<any>([]);
const addedDropzoneFiles = ref<any>([]);
const dropzoneOptions = {
    url: `${import.meta.env.VITE_API_SAMPLE_BASE_URL}/pro/api/v1/files/upload`,
    thumbnailWidth: 150,
    thumbnailHeight: 150,
    maxFiles: props.maxFiles,
    maxFilesize: 100,
    headers: {Authorization: `${setToken(currentToken.token)}`},
    addRemoveLinks: true,
    clickable: true,
    paramName: 'files',
    dictCancelUpload: '업로드 취소',
    dictCancelUploadConfirmation: '이 업로드를 취소 하시겠습니까?',
    dictDefaultMessage: '업로드하려면 여기에 파일을 드롭하세요.',
    dictFallbackMessage: '브라우저가 드래그 앤 드롭 파일 업로드를 지원하지 않습니다.',
    dictFallbackText: '예전처럼 파일을 업로드하려면 아래의 대체 양식을 사용하세요.',
    dictFileSizeUnits: {tb: 'TB', gb: 'GB', mb: 'MB', kb: 'KB', b: 'b'},
    dictFileTooBig: '파일이 너무 큽니다 ({{filesize}}MiB). 최대 파일 크기: {{maxFilesize}}MiB.',
    dictInvalidFileType: '이 유형의 파일은 업로드 할 수 없습니다.',
    dictMaxFilesExceeded: '더 이상 파일을 업로드 할 수 없습니다.',
    dictRemoveFile: '삭제',
    dictRemoveFileConfirmation: null,
    dictResponseError: '서버가 {{statusCode}} 코드로 응답했습니다.',
    dictUploadCanceled: '업로드가 취소되었습니다.',
};

const dropzoneSuccess = (file: DropzoneFileInterface, xhr: any) => {
    if (!isEmpty(xhr)) {
        dropzoneFiles.value?.push(xhr[0].id);
        file.fileId = xhr[0].id;
        emit('add', xhr[0].id);
    }
};

const dropzoneRemove = async (file: DropzoneFileInterface) => {
    if (addedDropzoneFiles.value.includes(file.fileId)) {
        emit('remove', file.fileId);
    } else {
        const apiResult = await apiDeleteFiles(file.fileId);
        if (apiResult.status === 200) {
            dropzoneFiles.value = dropzoneFiles.value.filter((item: number) => item !== file.fileId);
            emit('remove', file.fileId);
        }
    }
};

onMounted(() => {
    props.files.forEach((item: FileInterface) => {
        if (item.contentType.includes('image')) {
            const file = {size: item.size, name: item.fileName, type: item.contentType, fileId: item.id};
            const url = `${import.meta.env.VITE_API_SAMPLE_BASE_URL}/pro/api/v1/files/${item.id}?sfn=${item.saveFileName}`;
            articlesDropzone.value.manuallyAddFile(file, url);
            addedDropzoneFiles.value.push(item.id);
            emit('add', item.id);
        }
    });
});
</script>

<template>
    <VueDropzone
        id="dropzone"
        ref="articlesDropzone"
        :options="dropzoneOptions"
        @vdropzone-success="dropzoneSuccess"
        @vdropzone-removed-file="dropzoneRemove"
        :destroyDropzone="false"
    />
</template>

<style lang="scss">
.vue-dropzone {
    border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));

    .dz-preview {
        border-radius: 1rem;

        > div {
            border-radius: 1rem !important;
        }

        .dz-image {
            //border-radius: 1rem;
            width: 150px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .dz-details {
            background: rgb(var(--v-theme-primary));
        }

        .dz-success-mark,
        .dz-error-mark {
            background: none;

            svg {
                fill: rgb(var(--v-theme-primary));
                background: rgba(255, 255, 255, 0.7);
                border-radius: 50%;
            }
        }
    }
}
</style>
