<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {apiDeleteFiles, apiSaveFiles} from '@/services/pro/filesService';
import type {FileInterface} from '@/interface/pro/files';

interface FilesPropsInterface {
    files: FileInterface[];
    maxFiles: any;
}
const props = withDefaults(defineProps<FilesPropsInterface>(), {
    files: () => [],
    maxFiles: 1,
});

const emit = defineEmits(['add', 'remove']);

const inputFilesRef = ref();
const inputFilesTemp = ref<any>([]);
const inputFiles = ref<any>([]);
const addedInputFiles = ref<any>([]);
const maxFilesError = ref(false);

const rules = ref([
    (files: any) => {
        let overSize = false;
        files.forEach((file: any) => {
            overSize = file.size > 1024 * 1024 * 100;
        });

        return !files || !overSize || `최대 파일 사이즈는 maxSize 입니다.`;
    },
    (files: any) => {
        return (
            !files ||
            !(files.length + addedInputFiles.value.length > props.maxFiles) ||
            `첨부가능한 파일 갯수는 ${props.maxFiles}개 입니다.`
        );
    },
]);

const handleFileClear = () => {
    inputFiles.value.forEach(async (fileId: number) => {
        await apiDeleteFiles(fileId);
        emit('remove', fileId);
    });
    inputFiles.value = [];
};

const handleFileUpload = async () => {
    handleFileClear();
    if (inputFilesTemp.value.length > props.maxFiles) {
        maxFilesError.value = true;

        return false;
    }
    const apiResult = await apiSaveFiles(inputFilesTemp.value);
    if (apiResult.status === 200) {
        apiResult.data.forEach((file: any) => {
            inputFiles.value.push(file.id);
            emit('add', file.id);
        });
    }
};

onMounted(() => {
    props.files.forEach((item: FileInterface) => {
      addedInputFiles.value.push({fileName: item.fileName, fileId: item.id});
      emit('add', item.id);
    });
    inputFilesRef.value.validate();
});

const removeAddedFile = (fileId: number) => {
    inputFiles.value = inputFiles.value.filter((item: number) => item !== fileId);
    addedInputFiles.value = addedInputFiles.value.filter((item: any) => item.fileId !== fileId);
    inputFilesRef.value.validate();
    emit('remove', fileId);
};
</script>

<template>
    <VFileInput
        ref="inputFilesRef"
        v-model="inputFilesTemp"
        color="primary"
        counter
        :rules="rules"
        label="파일추가"
        multiple
        placeholder="파일추가"
        prepend-icon="mdi-paperclip"
        variant="outlined"
        :show-size="1000"
        @change="handleFileUpload"
        @click:clear="handleFileClear"
    >
        <template #selection="{fileNames}">
            <template
                v-for="(fileName, index) in fileNames"
                :key="fileName"
            >
                <VChip
                    v-if="index < 2"
                    color="deep-purple-accent-4"
                    label
                    size="small"
                    class="mr-2"
                >
                    {{ fileName }}
                </VChip>

                <span
                    v-else-if="index === 2"
                    class="text-overline text-grey-darken-3 mx-2"
                >
                    +{{ inputFilesTemp.length - 2 }} File(s)
                </span>
            </template>
        </template>
    </VFileInput>
    <div v-if="addedInputFiles.length > 0">
        <VChip
            v-for="addedFile in addedInputFiles"
            :key="addedFile.fileId"
            class="ma-2"
            closable
            color="cyan"
            label
            @click:close="removeAddedFile(addedFile.fileId)"
        >
            <!--            <VIcon start></VIcon> -->
            {{ addedFile.fileName }}
        </VChip>
    </div>
</template>
