<script setup lang="ts">
import {ref, watchEffect} from 'vue';

interface AlertInterface {
	type: string;
	variant: string;
	message: string;
	timer: number;
	callback: any;
}

interface AlertPropsInterface {
	iAlert : AlertInterface;
}


const alertProps = defineProps<AlertPropsInterface>();

const isShow = ref(false);

const init = () => {
  alertProps.iAlert.message = '';
}

watchEffect(() => {
  if (alertProps.iAlert.message != '')
  {
    isShow.value = true;
    setTimeout(() => {
      isShow.value = false;
      alertProps.iAlert.callback();
      init();
    }, alertProps.iAlert.timer);
  }
})

</script>

<template>
    <div v-if='isShow'>
      <v-alert :type='alertProps.iAlert.type' :variant='alertProps.iAlert.variant' >{{alertProps.iAlert.message}}</v-alert>
    </div>
</template>
