<script setup lang="ts">
import {ref, watchEffect} from 'vue';

const props = defineProps<{
    list: string;
}>();

const emit = defineEmits(['change']);

const text = ref<string>('');
const list = ref<any[]>([]);

watchEffect(() => {
    if (props.list.length > 0) {
        const tempList = props.list.split(',');
        list.value = tempList;
    }
});

const remove = (index: number) => {
    list.value.splice(index, 1);
};

const submit = () => {
    if (text.value.length > 0) {
        if (text.value === ',') {
            text.value = '';
        }
        text.value = text.value.replace(',', '');
        const isNotExist = list.value.every(item => {
            return item !== text.value;
        });
        if (isNotExist) {
            list.value.push(text.value.replace(',', ''));
            text.value = '';
        }
        emit('change', list.value);
    }
};
</script>

<template>
    <div class="p-2">
        <div class="d-flex align-center flex-wrap">
            <v-sheet
                class="d-inline-block border-1 rounded h-auto font-size-14-16 pa-2 border ma-2"
                v-for="(item, index) in list"
                :key="index"
            >
                <span class="tags-text">{{ item }}</span>
                <v-icon
                    icon="mdi-close"
                    size="x-small"
                    color="error"
                    @click="remove(index)"
                    class="ml-2 py-0"
                />
            </v-sheet>
            <input
                type="text"
                class="d-block border ml-4 w-auto rounded pa-2"
                v-model="text"
                v-on:keyup.enter="submit"
            />
        </div>
    </div>
</template>
