<script>
export default {
    name: 'Loading',
};
</script>

<template>
    <div class="position-relative h-100 bg-transparent d-flex justify-center align-center">
      <div class="d-flex justify-center align-center flex-column">
        <div class="loading-logo">
            <img
                src="/cms-logo.png"
                height="50"
                alt="Logo"
            />
        </div>
        <div class="loading">
            <div class="effect-1 effects"></div>
            <div class="effect-2 effects"></div>
            <div class="effect-3 effects"></div>
        </div>
      </div>
    </div>
</template>

<style></style>
