<script setup lang="ts">
import {onMounted, ref} from 'vue';

import SunEditor from 'suneditor';
import 'suneditor/dist/css/suneditor.min.css';
import lang from 'suneditor/src/lang';
import link from 'suneditor/src/plugins/dialog/link';
import list from 'suneditor/src/plugins/submenu/list';
import {
    align,
    blockquote,
    font,
    fontColor,
    fontSize,
    formatBlock,
    hiliteColor,
    horizontalRule,
    image,
    lineHeight,
    paragraphStyle,
    table,
    textStyle,
} from 'suneditor/src/plugins';
import type {SunEditorOptions} from 'suneditor/src/options';
import {userStore} from '@/store/pro/user';
import {setToken} from '@/plugins/pro-axios';

interface Props {
    content: string;
}

const props = defineProps<Props>();

const emit = defineEmits(['update']);

const sunEditorConfig = ref<SunEditorOptions>({
    mode: 'classic',
    height: '400',
    charCounter: true,
    tabDisable: false,
    linkTargetNewWindow: true,
    linkRel: [
        'author',
        'external',
        'help',
        'license',
        'next',
        'follow',
        'nofollow',
        'noreferrer',
        'noopener',
        'prev',
        'search',
        'tag',
    ],
    linkRelDefault: {
        default: 'nofollow',
        check_new_window: 'noreferrer noopener',
        check_bookmark: 'bookmark',
    },
    plugins: [
        align,
        link,
        list,
        font,
        image,
        fontColor,
        fontSize,
        formatBlock,
        hiliteColor,
        horizontalRule,
        lineHeight,
        paragraphStyle,
        table,
        textStyle,
        blockquote,
    ],
    buttonList: [
        ['undo', 'redo'],
        ['font', 'fontSize', 'formatBlock', 'fontColor', 'hiliteColor', 'textStyle'],
        ['paragraphStyle', 'blockquote', 'bold', 'underline', 'italic', 'strike'],
        ['subscript', 'superscript'],
        ['removeFormat', 'outdent', 'indent', 'align', 'horizontalRule', 'list', 'lineHeight', 'table'],
        ['link', 'image', 'showBlocks', 'codeView', 'preview', 'print'],
    ],
    imageUploadUrl: `${import.meta.env.VITE_API_SAMPLE_BASE_URL}/pro/api/v1/files/upload/sun?type=Images`,
    lang: lang.ko,
    value: props.content,
});
const editor = ref();

const handleContent = (contentData: string) => {
    emit('update', contentData);
};

onMounted(() => {
    const store = userStore();
    const currentToken = store.getCurrentToken ?? {token: ''};

    editor.value = SunEditor.create('content', sunEditorConfig.value, {
        imageUploadHeader: {
            Authorization: setToken(currentToken.token),
        },
    });
    editor.value.onChange = handleContent;
});
</script>

<template>
    <textarea
        id="content"
        @onchange="handleContent"
    >
    </textarea>
</template>

<style scoped lang="scss">
#content {
    width: 100%;
}
</style>
