<script setup lang="ts">
import AnalyticsTotalProfitLineCharts from '@/views/dashboards/analytics/AnalyticsTotalProfitLineCharts.vue';
import AnalyticsWeeklyOverview from '@/views/dashboards/analytics/AnalyticsWeeklyOverview.vue';

const totalProfit = {
    title: 'Total Profit',
    color: 'secondary',
    icon: 'mdi-poll',
    stats: '￦2,000천원',
    change: 42,
    subtitle: 'Weekly DataSet',
};

const newProject = {
    title: '신규 사업자',
    color: 'primary',
    icon: 'mdi-briefcase-variant-outline',
    stats: '2',
    change: -18,
    subtitle: 'Yearly Client',
};
</script>

<template>
    <VRow class="match-height">
        <VCol cols="12"
              md='12'
        >
            <AnalyticsWeeklyOverview />
        </VCol>

        <VCol
            cols="12"
            md='12'
        >
            <VRow class="match-height">
                <VCol
                    cols="12"
                >
                    <AnalyticsTotalProfitLineCharts />
                </VCol>

            </VRow>
        </VCol>
    </VRow>
</template>
