<script lang="ts" setup>
import {useTheme} from 'vuetify';
import {computed, ref} from 'vue';
import {useRouter} from 'vue-router';
import cmsLogo from '@/assets/pro/images/logos/cms-logo.png';

import authV1MaskDark from '@/assets/pro/images/pages/auth-v1-mask-dark.png';
import authV1MaskLight from '@/assets/pro/images/pages/auth-v1-mask-light.png';
import authV1Tree2 from '@/assets/pro/images/pages/auth-v1-tree-2.png';
import authV1Tree from '@/assets/pro/images/pages/auth-v1-tree.png';
import type {UserLoginInterface} from '@/interface/pro/user';
import {userStore} from '@/store/pro/user';
import {apiLogin} from '@/services/pro/userService';

const accountInfo = ref<UserLoginInterface>({
    username: '',
    password: '',
    remember: true,
});

const vuetifyTheme = useTheme();
const authThemeMask = computed(() => {
    return vuetifyTheme.global.name.value === 'light' ? authV1MaskLight : authV1MaskDark;
});

const isPasswordVisible = ref(false);
const loginHandleState = ref(false);

const router = useRouter();
const store = userStore();

const handleLogin = async () => {
    loginHandleState.value = true;
	console.log(accountInfo.value);
    try {
        await apiLogin(accountInfo.value);
        const user = store.getCurrentUser;
        if (user) {
            await router.push({path: '/pro'});
        }
    } catch (e) {
        console.log(e);
    } finally {
        loginHandleState.value = false;
    }
};
</script>

<template>
    <div class="auth-wrapper d-flex align-center justify-center pa-4">
        <VCard
            class="auth-card pa-4 pt-7"
            min-width="300"
            max-width="448"
            width="50%"
        >
            <VCardItem class="justify-center">
                <VImg
                    :src="cmsLogo"
                    width="100"
                />
            </VCardItem>

            <VCardText>
                <VForm @submit.prevent="handleLogin">
                    <VRow>
                        <!-- email -->
                        <VCol cols="12">
                            <VTextField
                                v-model="accountInfo.username"
                                label="Email"
                                type="email"
                            />
                        </VCol>

                        <!-- password -->
                        <VCol cols="12">
                            <VTextField
                                v-model="accountInfo.password"
                                label="Password"
                                :type="isPasswordVisible ? 'text' : 'password'"
                                :append-inner-icon="isPasswordVisible ? 'mdi-eye-off-outline' : 'mdi-eye-outline'"
                                @click:append-inner="isPasswordVisible = !isPasswordVisible"
                            />

                            <!-- remember me checkbox -->
                            <div class="d-flex align-center justify-space-between flex-wrap mt-1 mb-4">
                                <VCheckbox
                                    v-model="accountInfo.remember"
                                    label="Remember me"
                                />
                            </div>

                            <!-- login button -->
                            <VBtn
                                block
                                type="submit"
                                :disabled="loginHandleState"
                            >
                                Login
                            </VBtn>
                        </VCol>
                    </VRow>
                </VForm>
            </VCardText>
        </VCard>

        <VImg
            class="auth-footer-start-tree d-none d-md-block"
            :src="authV1Tree"
            :width="250"
        />

        <VImg
            :src="authV1Tree2"
            class="auth-footer-end-tree d-none d-md-block"
            :width="350"
        />

        <!-- bg img -->
        <VImg
            class="auth-footer-mask d-none d-md-block"
            :src="authThemeMask"
        />
    </div>
</template>

<style lang="scss">
@import '@assets/pro/scss/core/pages/page-auth.scss';
</style>

<route lang="yaml">
meta:
    layout: blank
</route>
