<script setup lang="ts">
import {useRouter} from "vue-router";
const router = useRouter();
</script>

<template>
	<div class="d-flex flex-column justify-center align-center mx-auto">
		<div class="text-center my-r-4">
			<h1 class="text-h1">
				404
			</h1>
			<h5 class="text-h5 mb-r-4">
				페이지를 찾을수 없습니다.
			</h5>
		</div>
		<v-btn class="mt-r-4" @click="router.back();">
			<span class="color-light">돌아가기</span>
		</v-btn>
	</div>
</template>

<style lang="scss" scoped>
</style>