<script lang="ts" setup>
import {onMounted, ref} from 'vue';
import {Swiper, SwiperSlide} from 'swiper/vue';
import {Autoplay, Pagination, Navigation} from 'swiper';
import {
	bannerSample1,
	bannerSample2,
	bannerSample3,
	bannerSample4,
	icArrowNext,
	icArrowPrev,
	icFacebook,
	icPause,
	icPauseDark,
	icPlay, icPlayDark,
	icPlus,
	icQuick1,
	icQuick2,
	icQuick3,
	icQuick4,
	icSearchMain,
	icSwiperNext,
	icSwiperPause,
	icSwiperPrev,
	logoSample1,
	logoSample2,
	logoSample3,
	logoSample4,
	logoSample5,
	swiperSample,
} from '@/assets/user/images/main';
import {addTempItem, changeDateFormat, dDay} from '@utils';
import 'swiper/css';
import "swiper/css/pagination";
import 'swiper/css/free-mode';
import {imgDefault} from '@/assets/user/images/common';
import {useDisplay} from "vuetify";
import "swiper/css/navigation";
import {useRouter} from "vue-router";

const bannerList = ref([
	{
		id: 1,
		title: '제주사회적경제<br />네트워크',
		subTitle: '험께 살아가는 내일을 준비하고<br /> <span class="color-light font-weight-bold">사람 중심의 사회적 가치를 키워 나가는 곳</span>',
		link: 'https://naver.com',
		target: '',
		files: [
			{
				id: 1,
				img: bannerSample1,
			},
		],
	},
	
	{
		id: 2,
		title: '제주사회적경제<br />네트워크',
		subTitle: '험께 살아가는 내일을 준비하고<br /> <span class="color-light font-weight-bold">사람 중심의 사회적 가치를 키워 나가는 곳</span>',
		link: 'https://google.com',
		target: '_blank',
		files: [
			{
				id: 1,
				img: bannerSample2,
			},
		],
	},
	
	{
		id: 3,
		title: '제주사회적경제<br />네트워크',
		subTitle: '험께 살아가는 내일을 준비하고<br /> <span class="color-light font-weight-bold">사람 중심의 사회적 가치를 키워 나가는 곳</span>',
		link: 'https://daum.net',
		target: '_blank',
		files: [
			{
				id: 1,
				img: bannerSample3,
			},
		],
	},
	
	{
		id: 4,
		title: '제주사회적경제<br />네트워크',
		subTitle: '험께 살아가는 내일을 준비하고<br /> <span class="color-light font-weight-bold">사람 중심의 사회적 가치를 키워 나가는 곳</span>',
		link: 'https://daum.net',
		target: '_blank',
		files: [
			{
				id: 1,
				img: bannerSample4,
			},
		],
	},
]);

const bannerInfo = ref({
	index: 0,
	cycle: true,
});

const handleBanner = (index: number) => {
	bannerInfo.value.index = index;
	console.log(index);
};

const quickMenu = ref([
	{
		title: '사회적기업',
		icon: icQuick1,
		link: '/user/business/social',
	},
	{
		title: '협동조합팀',
		icon: icQuick2,
		link: '/user/board',
	},
	{
		title: '창업육성팀',
		icon: icQuick3,
		link: '/user/board',
	},
	{
		title: '마을기업',
		icon: icQuick4,
		link: '/user',
	},
]);

const noticeList = ref([
	{
		id: 1,
		title: '청정바이오소재 기업 지원 사업 안내',
		createdDate: changeDateFormat(new Date()),
		link: '/user',
	},
	{
		id: 2,
		title: '2023년 신규 사업 운영 일정 안내',
		createdDate: changeDateFormat(new Date()),
		link: '/user',
	},
]);

const downloadList = ref([
	{
		id: 1,
		title: '청정바이오소재 코스메틱화 교육 안내',
		createdDate: changeDateFormat(new Date()),
		link: '/user',
	},
	{
		id: 2,
		title: '코스메틱 재료화 교육 운영 안내',
		createdDate: changeDateFormat(new Date()),
		link: '/user',
	},
	{
		id: 3,
		title: '2022 코스메틱 기업대상 프로그램 안내',
		createdDate: changeDateFormat(new Date()),
		link: '/user',
	},
]);

const bannerSwiperRef = ref();
const bannerSwiperStatus = ref(false);
const onBannerSwiper = (swiper: any) => {
	bannerSwiperRef.value = swiper;
}
const handleSlideLoop = () => {
	if (bannerSwiperRef.value.autoplay.paused) {
		bannerSwiperRef.value.autoplay.run();
		bannerSwiperStatus.value = false;
	} else {
		bannerSwiperRef.value.autoplay.pause();
		bannerSwiperStatus.value = true;
	}
};
const handleSlidePrev = () => {
	bannerSwiperRef.value.slidePrev();
}

const handleSlideNext = () => {
	bannerSwiperRef.value.slideNext();
}


const newsSwiperRef = ref();
const newsInfo = ref({
	index: 0,
	cycle: true,
});
const newsSwiper = (swiper: any) => {
	newsSwiperRef.value = swiper;
};
const newsSlideChange = (state: any) => {
	newsInfo.value.index = state.activeIndex;
};
const handleNewsSwiper = (index: number) => {
	newsInfo.value.index = index;
	newsSwiperRef.value.slideTo(index);
};
const handleNewsLoop = () => {
	if (newsInfo.value.cycle) {
		newsSwiperRef.value.autoplay.pause();
	} else {
		newsSwiperRef.value.autoplay.run();
	}
	newsInfo.value.cycle = !newsInfo.value.cycle;
}
const newsCardList = ref([
	{
		id: 1,
		title: '2022년 제주 (예비)사회적기업 컨설팅 지원사업 대상기업 모집',
		status: 1,
		startDate: new Date(),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 1,
				img: bannerSample2,
			},
		],
	},
	{
		id: 2,
		title: '회전농축시스템',
		status: 2,
		startDate: new Date('2023-01-31'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 2,
				img: swiperSample,
			},
		],
	},
	{
		id: 3,
		title: '총 유기탄소 분석기',
		status: 3,
		startDate: new Date('2023-01-25'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 3,
				img: imgDefault,
			},
		],
	},
	{
		id: 4,
		title: '초순수제조장치',
		status: 4,
		startDate: new Date('2023-01-28'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 4,
				img: swiperSample,
			},
		],
	},
	{
		id: 5,
		title: '초순수제조장치',
		status: 4,
		startDate: new Date('2023-01-28'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 4,
				img: swiperSample,
			},
		],
	},
]);


const socialSwiperRef = ref();
const socialInfo = ref({
	index: 0,
	cycle: true,
});
const socialSwiper = (swiper: any) => {
	socialSwiperRef.value = swiper;
};
const socialSlideChange = (state: any) => {
	socialInfo.value.index = state.activeIndex;
};
const handleSocialSwiper = (index: number) => {
	socialInfo.value.index = index;
	socialSwiperRef.value.slideTo(index);
};
const handleSocialLoop = () => {
	if (socialInfo.value.cycle) {
		socialSwiperRef.value.autoplay.pause();
	} else {
		socialSwiperRef.value.autoplay.run();
	}
	socialInfo.value.cycle = !socialInfo.value.cycle;
}
const socialCardList = ref([
	{
		id: 1,
		title: '2022년 제주 (예비)사회적기업 컨설팅 지원사업 대상기업 모집',
		status: 1,
		startDate: new Date(),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 1,
				img: bannerSample2,
			},
		],
	},
	{
		id: 2,
		title: '회전농축시스템',
		status: 2,
		startDate: new Date('2023-01-31'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 2,
				img: swiperSample,
			},
		],
	},
	{
		id: 3,
		title: '총 유기탄소 분석기',
		status: 3,
		startDate: new Date('2023-01-25'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 3,
				img: imgDefault,
			},
		],
	},
	{
		id: 4,
		title: '초순수제조장치',
		status: 4,
		startDate: new Date('2023-01-28'),
		industry: '사회적 기업가 육성사업',
		file: [
			{
				id: 4,
				img: swiperSample,
			},
		],
	},
]);


const logoSwiperRef = ref();
const logoInfo = ref({
	index: 0,
	cycle: true,
});
const logoSwiper = (swiper: any) => {
	logoSwiperRef.value = swiper;
};
const logoSlideChange = (state: any) => {
	logoInfo.value.index = state.activeIndex;
};
const logoList = ref([
	{
		id: 1,
		link: 'https://naver.com',
		file: [
			{
				id: 1,
				img: swiperSample,
			},
		],
	},
	{
		id: 2,
		link: 'https://naver.com',
		file: [
			{
				id: 2,
				img: logoSample2,
			},
		],
	},
	{
		id: 3,
		link: 'https://naver.com',
		file: [
			{
				id: 3,
				img: logoSample3,
			},
		],
	},
	{
		id: 4,
		link: 'https://naver.com',
		file: [
			{
				id: 4,
				img: logoSample4,
			},
		],
	},
	{
		id: 1,
		link: 'https://naver.com',
		file: [
			{
				id: 1,
				img: logoSample5,
			},
		],
	},
	{
		id: 2,
		link: 'https://naver.com',
		file: [
			{
				id: 2,
				img: logoSample1,
			},
		],
	},
	{
		id: 3,
		link: 'https://naver.com',
		file: [
			{
				id: 3,
				img: logoSample2,
			},
		],
	},
	{
		id: 4,
		link: 'https://naver.com',
		file: [
			{
				id: 4,
				img: logoSample3,
			},
		],
	},
	{
		id: 1,
		link: 'https://naver.com',
		file: [
			{
				id: 1,
				img: logoSample4,
			},
		],
	},
	{
		id: 2,
		link: 'https://naver.com',
		file: [
			{
				id: 2,
				img: logoSample5,
			},
		],
	},
	{
		id: 3,
		link: 'https://naver.com',
		file: [
			{
				id: 3,
				img: logoSample1,
			},
		],
	},
	{
		id: 4,
		link: 'https://naver.com',
		file: [
			{
				id: 4,
				img: logoSample2,
			},
		],
	},
	{
		id: 1,
		link: 'https://naver.com',
		file: [
			{
				id: 1,
				img: logoSample3,
			},
		],
	},
	{
		id: 2,
		link: 'https://naver.com',
		file: [
			{
				id: 2,
				img: logoSample4,
			},
		],
	},
	{
		id: 3,
		link: 'https://naver.com',
		file: [
			{
				id: 3,
				img: logoSample5,
			},
		],
	},
	{
		id: 4,
		link: 'https://naver.com',
		file: [
			{
				id: 4,
				img: logoSample1,
			},
		],
	},
]);
const handleLogoPrev = () => {
	logoSwiperRef.value.slidePrev();
}
const handleLogoNext = () => {
	logoSwiperRef.value.slideNext();
}
const handleLogoLoop = () => {
	if (logoInfo.value.cycle) {
		logoSwiperRef.value.autoplay.pause();
	} else {
		logoSwiperRef.value.autoplay.run();
	}
	logoInfo.value.cycle = !logoInfo.value.cycle;
}

const modules = [Autoplay, Pagination, Navigation];

const display = ref(useDisplay());

const router = useRouter();

const fetchNoticeData = () => {
	const end = 5 - noticeList.value.length;
	addTempItem(noticeList, end);
	// apiGetBoardList(boardId, page.value, searchData.value).then((res: ResponseInterface) => {
	// 	businessInfoList.value = res.data.content;
	// 	const end = 5 - businessInfoList.value.length;
	// 	addTempItem(businessInfoList, end);
	
	// });
};
const fetchDownloadData = () => {
	const end = 5 - downloadList.value.length;
	addTempItem(downloadList, end);
	// apiGetBoardList(boardId, page.value, searchData.value).then((res: ResponseInterface) => {
	// 	businessInfoList.value = res.data.content;
	// 	const end = 5 - businessInfoList.value.length;
	// 	addTempItem(businessInfoList, end);
	// });
};

onMounted(() => {
	console.log('bannerList fetch');
	console.log('newsCardList fetch');
	console.log('socialCardList fetch');
	fetchNoticeData();
	fetchDownloadData();
	
	// if (!document.getElementById('facebook-jssdk')) {
	// 	const script = document.createElement('script');
	// 	script.src = `//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8`;
	// 	script.id = 'facebook-jssdk';
	// 	document.head.appendChild(script);
	// 	script.addEventListener('load', () => {
	// 		console.log('load success');
	// 	});
	// }
});

const script = document.createElement('script');
script.src = `//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8`;
script.id = 'facebook-jssdk';
document.head.appendChild(script);
script.addEventListener('load', () => {
	console.log('load success');
});

</script>

<template>
	<v-sheet class="main-wrapper w-100">
		<v-container class="main-container p-r-0">
			<div class="main-banner-container position-relative mx-auto">
				<Swiper
					centeredSlides
					loop
					:autoplay="{
					  delay: 2000,
					  disableOnInteraction: false,
					}"
					:pagination="{
						el: '.swiper-pagination',
        				type: 'bullets',
					  clickable: true,
					}"
					:modules="modules"
					:speed="1000"
					@swiper="onBannerSwiper"
					class="h-100"
				>
					<SwiperSlide v-for="(bannerItem, index) in bannerList" :key="index"
								 class="main-banner-item position-relative">
						<v-img :src="bannerItem.files[0].img" width="100%" cover class="main-banner-img"/>
						<div class="main-banner-contents position-absolute w-100 mx-auto h-100 px-r-6">
							<p
								class="font-size-24-50 color-light font-weight-black mt-r-40"
								v-html="bannerItem.title"
							></p>
							<p class="font-size-12-24 color-light" v-html="bannerItem.subTitle"></p>
						</div>
					</SwiperSlide>
					<div class="main-banner-control w-100 position-absolute d-flex align-center">
						<div class="swiper-pagination d-flex align-center position-relative" slot="pagination"></div>
						<v-btn
							class="btn-main-carousel bg-transparent border-0"
							icon
							size="x-small"
							variant="text"
							@click="handleSlideLoop"
						>
							<v-img :src="bannerSwiperStatus ? icPlay : icPause" class="img-main-carousel-btn"
								   width="22"/>
						</v-btn>
					</div>
					<div
						class="swiper-button-container mx-auto position-absolute d-flex justify-space-between align-center">
						<v-btn
							v-if="!display.xs"
							color="transparent"
							class="h-auto rounded-circle aspect-ratio-1-1"
							variant="elevated"
							elevation="0"
							@click="handleSlidePrev"
						>
							<v-img :src="icArrowPrev" width="6rem"/>
						</v-btn>
						<v-btn
							v-if="!display.xs"
							color="transparent"
							class="h-auto rounded-circle aspect-ratio-1-1"
							variant="elevated"
							elevation="0"
							@click="handleSlideNext"
						>
							<v-img :src="icArrowNext" width="6rem"/>
						</v-btn>
					</div>
				</Swiper>
				<div class="banner-search position-absolute border border-primary rounded-lg d-flex w-80"
					 v-if="!display.xs">
					<input type="text" class="font-size-16-25 border-0 w-100 rounded-s-lg px-r-4 py-r-6"
						   placeholder="찾고 싶은 것이 있나요?"/>
					<v-btn class="w-auto h-auto rounded-s-0 rounded-e-lg" color="light" elevation="0">
						<v-img :src="icSearchMain" width="3rem"/>
					</v-btn>
				</div>
			</div>
			<v-container class="main-quick-menu-wrapper d-flex justify-center align-center" v-if="!display.xs">
				<template v-for="(quick, index) in quickMenu" :key="index">
					<router-link
						:to="quick.link"
						class="main-quick-menu-item text-center"
					>
						<v-img :src="quick.icon" width="6.25rem"/>
						<span class="font-size-14-20 font-weight-medium">
						{{ quick.title }}
					</span>
					</router-link>
					<v-divider vertical v-if="index < quickMenu.length - 1"
							   class="main-quick-menu-divider mt-r-6 mx-r-12"/>
				</template>
			</v-container>
			<v-container class="main-board-wrapper m-r-0 px-r-7 px-r-sm-0 py-r-0">
				<div :class="[display.xs ? 'bg-light' : 'bg-white-f9']" class="py-r-12">
					<p class="font-size-25-40 font-weight-bold text-sm-center">
						알림마당
					</p>
					<v-row :no-gutters="display.xs ? true : false"
						   class="main-board-container mx-auto my-r-0 mt-r-xs-9 mt-r-sm-15">
						<v-col cols="12" sm="6" class="main-board-item position-relative">
							<v-card :class="[!display.xs && 'rounded-lg']"
									:elevation="display.xs ? 0 : 5">
								<v-card-item class="p-r-0 px-r-sm-4 py-r-sm-3">
									<p
										class="d-flex justify-space-between align-center font-size-20-28 font-weight-bold"
									>
										공지사항
										<router-link to="/">
											<v-img :src="icPlus" width="2rem" max-width="30"/>
										</router-link>
									</p>
									<div class="">
										<v-list>
											<v-list-item
												v-for="notice in noticeList"
												:key="notice.id"
												class="board-item p-r-0"
											>
												<router-link to="/"
															 class="d-flex justify-space-between align-center w-100">
													<p class="board-title font-size-14-18 overflow-hidden pr-r-3 w-100">
														{{ notice.title }}
													</p>
													<span class="board-created-date font-size-13-16 color-gray-b4">
												{{ notice.createdDate }}
											</span>
												</router-link>
											</v-list-item>
										</v-list>
									</div>
								</v-card-item>
							</v-card>
						</v-col>
						<v-col cols="12" sm="6" class="main-board-item position-relative mt-r-4 mt-r-sm-0">
							<v-card :class="[!display.xs && 'rounded-lg']"
									:elevation="display.xs ? 0 : 5">
								<v-card-item class="p-r-0 px-r-sm-4 py-r-sm-3">
									<p
										class="d-flex justify-space-between align-center font-size-20-28 font-weight-bold"
									>
										자료실
										<router-link to="/">
											<v-img :src="icPlus" width="2rem" max-width="30"/>
										</router-link>
									</p>
									<div class="">
										<v-list>
											<v-list-item
												v-for="download in downloadList"
												:key="download.id"
												class="board-item p-r-0"
											>
												<router-link to="/"
															 class="d-flex justify-space-between align-center w-100">
													<p class="board-title font-size-14-18 overflow-hidden pr-r-3 w-100">
														{{ download.title }}
													</p>
													<span class="board-created-date font-size-13-16 color-gray-b4">
												{{ download.createdDate }}
											</span>
												</router-link>
											</v-list-item>
										</v-list>
									</div>
								</v-card-item>
							</v-card>
						</v-col>
					</v-row>
				</div>
			</v-container>
			<v-container class="main-swiper-wrapper main-news-wrapper bg-white-f9 p-r-0 pt-r-4 pt-r-sm-0">
				<div class="pt-r-12 px-r-4">
					<div class="main-swiper-container main-news-container mx-auto">
						<div class="d-flex justify-space-between align-center align-center px-r-sm-0">
							<p class="font-size-25-40 font-weight-bold text-sm-center">
								외부소식
							</p>
							<router-link to="/">
								<v-img :src="icPlus" width="2rem" max-width="30"/>
							</router-link>
						</div>
						<div class="pb-r-8">
							<Swiper
								:slidesPerView="display.xs ? 'auto' : 4"
								:spaceBetween="30"
								class="px-r-2 py-r-12"
								:class="display.xs && 'overflow-visible'"
								:breakpoints="{
									'500': {
										slidesPerView: 'auto',
										spaceBetween: 30,
									},
									'600': {
										slidesPerView: 2,
										spaceBetween: 30,
									},
									'960': {
										slidesPerView: 4,
										spaceBetween: 30,
									},
								}"
								@swiper="newsSwiper"
								@slideChange="newsSlideChange"
								:autoplay="{
									delay: 2000,
		                            disableOnInteraction: false,
								}"
								:speed="1000"
								:modules="modules"
							>
								<SwiperSlide
									v-for="newsCard in newsCardList"
									:key="newsCard.id"
									class="main-swiper-slide main-news-slide h-auto"
								>
									<v-card class="rounded-lg h-100" elevation="5">
										<v-card-item class="w-100 p-r-0">
											<v-hover v-slot="{ isHovering, props }">
												<router-link to="/" v-bind="props">
													<v-img
														:src="newsCard.file[0].img"
														class="main-swiper-card-image main-news-card-image mx-auto"
														cover
													/>
													<div
														class="main-swiper-card-contents main-news-card-contents px-r-8 pb-r-4 overflow-hidden position-relative"
													>
														<v-card-title
															class="main-swiper-card-title main-news-card-title font-size-12-16 font-weight-medium my-r-4 d-flex justify-space-between align-center"
														>
														<span
															:class="[newsCard.status === 1 && 'color-primary', newsCard.status === 2 && 'color-success', newsCard.status === 3 && 'color-info', newsCard.status === 4 && 'color-error']"
														>
															{{ newsCard.industry }}
														</span>
															<span class="color-gray-8e font-weight-medium">
															D-{{ dDay(newsCard.startDate) }}
														</span>
														</v-card-title>
														<v-card-text class="p-r-0">
															<v-banner lines="two" class="p-r-xs-0">
																<v-banner-text
																	class="font-size-18-20 font-weight-medium ">
																	{{ newsCard.title }}
																</v-banner-text>
															</v-banner>
														</v-card-text>
													</div>
												</router-link>
											</v-hover>
										</v-card-item>
									</v-card>
								</SwiperSlide>
							</Swiper>
							<div class="pb-r-8 text-center d-flex justify-center align-center"
								 v-if="newsSwiperRef?.snapGrid.length > 1">
								<button
									v-for="n in newsSwiperRef?.snapGrid.length"
									:key="n"
									type="button"
									class="main-banner-delimiter swiper-delimiter mr-r-3 bg-secondary"
									:class="newsInfo.index === n - 1 ? 'rounded-pill active' : 'rounded-circle opacity-5'"
									@click="handleNewsSwiper(n - 1)"
								></button>
								<v-btn
									class="btn-main-carousel bg-transparent border-0 w-auto h-auto"
									icon
									variant="text"
									@click="handleNewsLoop"
								>
									<v-img :src="newsInfo.cycle ? icPauseDark : icPlayDark"
										   class="img-main-carousel-btn" width="22"/>
								</v-btn>
							</div>
						</div>
					</div>
				</div>
			</v-container>
			<v-container class="main-swiper-wrapper main-social-wrapper bg-white-f9 p-r-0 pt-r-4 pt-r-sm-0">
				<div class="bg-beige-f2 pt-r-12 px-r-4">
					<div class="main-swiper-container main-social-container mx-auto">
						<div class="d-flex justify-space-between align-center align-center px-r-sm-0">
							<p class="font-size-25-40 font-weight-bold text-sm-center">
								사회적경제 소식
							</p>
							<router-link to="/">
								<v-img :src="icPlus" width="2rem" max-width="30"/>
							</router-link>
						</div>
						<div class="pb-r-8">
							<Swiper
								:slidesPerView="display.xs ? 'auto' : 4"
								:spaceBetween="30"
								class="px-r-2 py-r-12"
								:class="display.xs && 'overflow-visible'"
								:breakpoints="{
									'500': {
										slidesPerView: 'auto',
										spaceBetween: 30,
									},
									'600': {
										slidesPerView: 2,
										spaceBetween: 30,
									},
									'960': {
										slidesPerView: 4,
										spaceBetween: 30,
									},
								}"
								@swiper="socialSwiper"
								@slideChange="socialSlideChange"
								:autoplay="{
									delay: 2000,
		                            disableOnInteraction: false,
								}"
								:speed="1000"
								:modules="modules"
							>
								<SwiperSlide
									v-for="socialCard in socialCardList"
									:key="socialCard.id"
									class="main-swiper-slide main-social-slide h-auto"
								>
									<v-card class="rounded-lg h-100" elevation="5">
										<v-card-item class="w-100 p-r-0">
											<v-hover v-slot="{ isHovering, props }">
												<router-link to="/" v-bind="props">
													<v-img
														:src="socialCard.file[0].img"
														class="main-swiper-card-image main-social-card-image mx-auto"
														cover
													/>
													<div
														class="main-swiper-card-contents main-social-card-contents px-r-8 pb-r-4 overflow-hidden position-relative"
													>
														<v-card-title
															class="main-swiper-card-title main-social-card-title font-size-12-16 font-weight-medium my-r-4 d-flex justify-space-between align-center"
														>
														<span
															:class="[socialCard.status === 1 && 'color-primary', socialCard.status === 2 && 'color-success', socialCard.status === 3 && 'color-info', socialCard.status === 4 && 'color-error']"
														>
															{{ socialCard.industry }}
														</span>
															<span class="color-gray-8e font-weight-medium">
															D-{{ dDay(socialCard.startDate) }}
														</span>
														</v-card-title>
														<v-card-text class="p-r-0">
															<v-banner lines="two" class="p-r-xs-0">
																<v-banner-text
																	class="font-size-18-20 font-weight-medium ">
																	{{ socialCard.title }}
																</v-banner-text>
															</v-banner>
														</v-card-text>
													</div>
												</router-link>
											</v-hover>
										</v-card-item>
									</v-card>
								</SwiperSlide>
							</Swiper>
							<div class="pb-r-8 text-center d-flex justify-center align-center"
								 v-if="socialSwiperRef?.snapGrid.length > 1">
								<button
									v-for="n in socialSwiperRef?.snapGrid.length"
									:key="n"
									type="button"
									class="main-banner-delimiter swiper-delimiter mr-r-3 bg-secondary"
									:class="socialInfo.index === n - 1 ? 'rounded-pill active' : 'rounded-circle opacity-5'"
									@click="handleSocialSwiper(n - 1)"
								></button>
								<v-btn
									class="btn-main-carousel bg-transparent border-0 w-auto h-auto"
									icon
									variant="text"
									@click="handleSocialLoop"
								>
									<v-img :src="socialInfo.cycle ? icPauseDark : icPlayDark"
										   class="img-main-carousel-btn" width="22"/>
								</v-btn>
							</div>
						</div>
					</div>
				</div>
			</v-container>
			<v-container class="main-event-wrapper p-r-0">
				<v-row class="main-event-container mx-auto m-r-0 py-r-sm-20">
					<v-col cols="12" sm="3" class="facebook d-flex flex-column p-r-4 p-r-sm-0">
						<div class="elevation-5 h-100 overflow-hidden rounded-lg">
							<div class="text-center bg-primary">
								<v-img :src="icFacebook" width="7rem" class="mx-auto py-r-4 py-r-sm-3"/>
							</div>
							<iframe
								src="https://www.facebook.com/v2.8/plugins/page.php?adapt_container_width=true&app_id=&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df2b4fea5c876b4%26domain%3Dlocalhost%26is_canvas%3Dfalse%26origin%3Dhttp%253A%252F%252Flocalhost%253A5173%252Ffbeec8052f33c4%26relation%3Dparent.parent&height=601&hide_cover=true&href=https%3A%2F%2Fwww.facebook.com%2Fjejusen&locale=ko_KR&sdk=joey&show_facepile=false&small_header=true&tabs=timeline&height=601"
								class="w-100 h-100 border-0"
							/>
						</div>
					</v-col>
					<v-col cols="12" sm="9" class="p-r-0 pl-r-sm-4">
						<v-carousel
							v-if="!display.xs"
							hide-delimiters
							height="16rem"
							class="rounded-lg"
						>
							<template #prev="{ props }">
								<v-btn
									color="dark"
									class="h-auto rounded-0 aspect-ratio-1-1 p-r-0"
									variant="elevated"
									elevation="0"
									@click="props.onClick"
								>
									<v-img :src="icArrowPrev" width="3rem"/>
								</v-btn>
							</template>
							<template #next="{ props }">
								<v-btn
									color="dark"
									class="h-auto rounded-0 aspect-ratio-1-1 p-r-0"
									variant="elevated"
									elevation="0"
									@click="props.onClick"
								>
									<v-img :src="icArrowNext" width="3rem"/>
								</v-btn>
							</template>
							<v-carousel-item
								src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
								cover
							></v-carousel-item>
							
							<v-carousel-item
								src="https://cdn.vuetifyjs.com/images/cards/hotel.jpg"
								cover
							></v-carousel-item>
							
							<v-carousel-item
								src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
								cover
							></v-carousel-item>
						</v-carousel>
						<div class="bg-blue-c1 p-r-8" :class="[!display.xs && 'rounded-lg mt-r-4' ]">
							<p class="font-size-14-35 font-weight-bold color-light">문의전화 / 상담신청</p>
							<div
								class="d-flex flex-column flex-sm-row justify-space-between align-start align-sm-center">
								<p class="d-flex justify-start align-baseline flex-sm-grow-1">
									<span class="font-size-12-18 font-weight-bold color-light">
										대표전화
									</span>
									<span class="font-size-16-35 font-weight-bold color-light ml-r-2">
										064-722-4843
									</span>
								</p>
								<p class="d-flex justify-start align-baseline flex-sm-grow-1">
									<span class="font-size-12-18 font-weight-bold color-light">
										사업팀
									</span>
									<span class="font-size-16-35 font-weight-bold color-light ml-r-2">
										064-726-4843
									</span>
								</p>
							</div>
							<div class="">
								<span class="font-size-12-18 font-weight-light color-light">업무시간  평일 09:00 ~ 18:00  I  공휴일 휴무</span>
								<div class="text-end mt-r-2">
									<v-btn class="rounded-pill px-r-10 py-r-2 h-auto" color="success">
										<span class="font-size-12-22 font-weight-bold color-light">상담신청</span>
									</v-btn>
								</div>
							</div>
						</div>
					</v-col>
				</v-row>
			</v-container>
			<v-container class="main-logo-wrapper p-r-0 m-r-0" :class="[!display.xs && 'border-top border-gray-e5']">
				<div class="main-logo-container m-r-0 mx-auto d-flex justify-start align-center py-r-4">
					<div class="main-logo-control bg-light d-flex justify-center align-center position-relative">
						<v-btn class="w-auto h-auto aspect-ratio-1-1 rounded-circle" color="transparent"
							   size="x-small" elevation="0" @click="handleLogoPrev">
							<v-img :src="icSwiperPrev" width="1.5rem"/>
						</v-btn>
						<v-btn class="w-auto h-auto aspect-ratio-1-1 rounded-circle" color="transparent"
							   size="x-small" elevation="0" @click="handleLogoLoop">
							<v-img :src="logoInfo.cycle ? icSwiperPause : icSwiperNext" width="1.5rem"/>
						</v-btn>
						<v-btn class="w-auto h-auto aspect-ratio-1-1 rounded-circle" color="transparent"
							   size="x-small" elevation="0" @click="handleLogoNext">
							<v-img :src="icSwiperNext" width="1.5rem"/>
						</v-btn>
					</div>
					<Swiper
						class="logo-wrapper h-100 w-100"
						:slidesPerView="display.xs ? 'auto' : 5"
						:spaceBetween="30"
						:class="display.xs && 'overflow-visible'"
						@swiper="logoSwiper"
						loop
						@slideChange="logoSlideChange"
						:autoplay="{
									delay: 3000,
		                            disableOnInteraction: false,
								}"
						:speed="1000"
						:modules="modules"
					>
						<SwiperSlide
							v-for="logo in logoList"
							:key="logo.id"
							class="main-swiper-slide main-logo-slide h-100"
						>
							<router-link :to="logo.link">
								<v-img
									:src="logo.file[0].img"
									class="main-swiper-card-image main-logo-card-image mx-auto h-100"
									cover
								/>
							</router-link>
						</SwiperSlide>
					</Swiper>
					<!--					<v-row class="main-logo-container m-r-0 mx-auto">-->
					<!--						<v-col cols="4" sm="2"-->
					<!--							   class="main-logo-control bg-light d-flex justify-center align-center position-relative">-->
					<!--							-->
					<!--						</v-col>-->
					<!--						<v-col cols="8" sm="10">-->
					<!--							-->
					<!--						</v-col>-->
					<!--					</v-row>-->
				</div>
			</v-container>
		</v-container>
	</v-sheet>
</template>
