<script setup lang="ts">
import { ref } from 'vue';

const policy = ref(
	'제주테크노파크 인터넷사이트 및 관련 온라인 서비스에서는 귀사의 주소, 전자 우편, 보유기술, 생산제품, 인력 등 기업 기본 정보와 회원 개인의 주소, 성명, 직책, 소속사, 등 개인 식별 정보를 수집합니다.<br /><br />\n' +
		'\n' +
		'또한 귀사 또는 귀하에게만 유일한 것이 아닌 익명의 인구 통계학적인 정보 또는 기업 동향 등 일반적인 정보를 수집하기도 합니다. 제주테크노파크 인터넷 사이트 및 관련 온라인 서비스를 통해 수집된 정보의 일부는 제주테크노파크 인터넷사이트 내에서 타 회원사 또는 일반회원과 공유할 수 있습니다. 단, 공유를 전제로 제공된 정보가 아닌 정보들에 대해서는 귀사 또는 귀하의 동의를 얻지 않고 공유하지 않습니다.귀사 또는 귀하가 제주테크노파크 인터넷사이트의 포럼, 커뮤니티, 기업기본정보, 입주기업IR 등을 통하여 개인 또는 기업별 식별 정보나 또는 민감한 데이터를 직접 공개하는 경우 본 정보가 타인에 의하여 수집되고 이용될 수 있음을 명심하시기 바랍니다.',
);
</script>

<template>
	<SubLayout title="개인정보처리방침">
		<v-container class="p-r-0">
			<div class="p-r-8 px-r-md-12 py-r-9 keep-all" v-html="policy"></div>
		</v-container>
	</SubLayout>
</template>
