<script setup lang="ts">
import { ref } from 'vue';

const terms = ref(
	'제1조 (목적)\n' +
		'이 약관은 제주테크노파크에서 운영하는 인터넷사이트(이하 "갑"라 한다)이에서 제공하는 인터넷관련 서비스 (이하 "서비스"라 한다)를 이용하는 조건, 절차에 관한 사항 또는 기타 필요\n' +
		'사항을 규정함을 목적으로 합니다.\n' +
		'\n' +
		'제2조 (용어의 정의)\n' +
		'"갑"이란 지역산업 구조의 고도화와 일자리창출 등 지역경제발전을 위해 산업통상자원부와 제주특별자치도의 지원아래 설립된 비영리 재단법인으로의 제주테크노파크를 의미합니다. 또한 "갑"이 운영하는 인터넷사이트를 의미하기도 합니다.\n' +
		"\"회원\"이란 '갑'에 로그인하여 이 약관에 따라 회원등록을 하고 '갑'으로부터 승인을 얻어 '갑'이 제공하는 서비스를 받는 법인기업 및 일반사용자를 말하며, 입주법인기업 내부의 서비스 이용자를 일반회원과 구별하여 \"기업회원\" 이라 칭하며, 회원이라 칭할때는 기업회원 그리고 일반회원을 통칭합니다.\n" +
		'"아이디(ID)"란 회원 식별과 회원의 서비스 이용을 위하여 회원이 신청하고 \'갑\'이 승인하는 문자와 숫자의 조합을 말합니다.\n' +
		'"비밀번호(Password)"란 회원의 비밀 보호를 위하여 회원 자신이 설정한 영문자와 숫자의 조합을 말합니다.',
);

// "제주테크노파크 인터넷사이트 및 관련 온라인 서비스에서는 귀사의 주소, 전자 우편, 보유기술, 생산제품, 인력 등 기업 기본 정보와 회원 개인의 주소, 성명, 직책, 소속사, 등 개인 식별 정보를 수집합니다.<br /><br />\n" +
// "\n" +
// "또한 귀사 또는 귀하에게만 유일한 것이 아닌 익명의 인구 통계학적인 정보 또는 기업 동향 등 일반적인 정보를 수집하기도 합니다. 제주테크노파크 인터넷 사이트 및 관련 온라인 서비스를 통해 수집된 정보의 일부는 제주테크노파크 인터넷사이트 내에서 타 회원사 또는 일반회원과 공유할 수 있습니다. 단, 공유를 전제로 제공된 정보가 아닌 정보들에 대해서는 귀사 또는 귀하의 동의를 얻지 않고 공유하지 않습니다.귀사 또는 귀하가 제주테크노파크 인터넷사이트의 포럼, 커뮤니티, 기업기본정보, 입주기업IR 등을 통하여 개인 또는 기업별 식별 정보나 또는 민감한 데이터를 직접 공개하는 경우 본 정보가 타인에 의하여 수집되고 이용될 수 있음을 명심하시기 바랍니다."
</script>

<template>
	<SubLayout title="이용약관">
		<v-container class="p-r-0">
			<div class="p-r-8 px-r-md-12 py-r-9 keep-all" v-html="terms"></div>
		</v-container>
	</SubLayout>
</template>
