@charset "UTF-8";
@import '@/assets/user/css/base/common';

//공통
.btn-more {
	@include set-reactive-attribute('width', 20, 38, 'min');
}

.divider {
	font-size: 0.75rem;
}

.nav-wrapper,
.toolbar {
	z-index: 901;
}

.navbar{
	max-width: calc(1920px - 180px);
}
.sub-nav-wrapper{
	top: 100%;
	z-index: 1;
	.sub-nav-container{
		max-width: calc(1920px - 180px);
	}
}

.v-navigation-drawer {
	.close-drawer .v-btn {
		margin-right: 10px;
	}

	.list-item {
	}
}

.footer {
	.footer-logo {
		@include set-reactive-attribute('width', 132, 191, 'min');
	}
}

.swiper-delimiter {
	height: 0.75rem;
	aspect-ratio: 1/1;

	&.active {
		aspect-ratio: 6/1;
	}
}

.sub-nav-mobile{
	.v-overlay__content{
		left: 0 !important;
	}
}

.root-wrapper {
	.root-container {
		.main-wrapper{
			.main-container {
				max-width: 100% !important;

				.main-banner-container {
					height: 360px;

					.main-banner-item {
						.main-banner-img {
							height: 100%;
							max-height: 700px;
							min-height: 360px;
						}

						.main-banner-contents {
							left: 50%;
							top: 0;
							transform: translate(-50%, 0);
							max-width: $grid-contents-width;
							z-index: 901;
						}
					}

					.main-banner-control {
						max-width: $grid-contents-width;
						top: 80%;
						justify-content: center;
						z-index: 1;
						.swiper-pagination{
							width: auto;
							.swiper-pagination-bullet {
								background: $light;
								&.swiper-pagination-bullet-active {
									background: $light;
								}
							}
						}
					}
				}

				.main-board-wrapper {
					max-width: 100%;

					.main-board-container {
						max-width: $grid-contents-width;

						.board-item {
							padding-inline: 0;

							.board-title {
								white-space: nowrap;
								text-overflow: ellipsis;
								flex: 1;
							}
						}
					}
				}

				.main-swiper-wrapper {
					max-width: 100%;

					.main-swiper-container {
						max-width: $grid-contents-width;

						.swiper-wrapper{
							align-items: stretch;
						}

						.main-swiper-slide {
							width: 80%;
							max-width: 237px;
							min-height: 100%;
						}

						.main-swiper-card-image {
							aspect-ratio: 300/210;
						}

						.main-swiper-card-contents {
							.main-swiper-card-title {
								white-space: nowrap;
								text-overflow: ellipsis;
							}

							.main-swiper-card-info {
								li {
									white-space: nowrap;
									text-overflow: ellipsis;

									span {
										width: 4.5rem;
									}
								}
							}
						}
					}
				}

				.main-news-wrapper {
					> div{
						background: #ffffff url('@/assets/user/images/main/bg-main-news.png') no-repeat center center;
						background-size: cover;
					}
				}

				.main-event-wrapper{
					.main-event-container{
						max-width: $grid-contents-width;
						.facebook{
							min-height: 50rem;
						}
					}
				}

				.main-logo-wrapper{
					max-width: 100%;
					.main-logo-container{
						max-width: $grid-contents-width;
						.main-logo-control{
							z-index: 2;
						}
						.main-logo-slide{
							max-width: 10rem;
							.v-img{
								aspect-ratio: 5/1;
							}
						}
					}
				}
			}
		}

		.sub-container {
			max-width: 100%;

			.sub-visual-wrapper {
				background: transparent;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				background-image: url('@/assets/user/images/sub/corporation/bg-corporation.png');

				&.corporation {
					background-image: url('@/assets/user/images/sub/corporation/bg-corporation.png');
				}
				&.business {
					background-image: url('@/assets/user/images/sub/business/bg-business.png');
				}
				&.board {
					background-image: url('@/assets/user/images/sub/board/bg-board.png');
				}
				&.spon {
					 background-image: url('@/assets/user/images/sub/spon/bg-spon.png');
				 }

				.sub-visual-container {
					height: 140px;
				}
			}

			.sub-navigation-wrapper {
				.sub-navigation-container {
				}
			}

			.sub-contents-container {
				background: white;

				.sub-contents-title {
					div {
						width: 2.75rem;
						height: 2px;
					}
				}

				.corporation-position{
					&:before{
						content: '';
						display: inline-block;
						position: absolute;
						background: $primary;
						width: 0.25rem;
						height: 1em;
						top: 0.25rem;
						left: -1rem;
					}
					span{
						z-index: 1;
					}
				}

				.corporation-intro-name{
					width: 5rem;
					max-width: 5rem;
				}

				.corporation-history-title{
					&:before{
						background: rgba(54, 101, 193, 0.1);
						content: '';
						display: block;
						width: calc(100% * 1.2);
						aspect-ratio: 1/1;
						position: absolute;
						border-radius: 100%;
					}
					&:after{
						content: '';
						display: block;
						position: absolute;
						background: $blue-c1;
						width: 2px;
						height: 9rem;
						top: 100%;
						left: 50%;
						transform: translateX(-50%);
					}
				}

				.corporation-history{
					.v-timeline-divider__before,
					.v-timeline-divider__after{
						background: $blue-c1;
					}
					.v-timeline-divider{
						padding-top: 1.25rem;
						.v-timeline-divider__dot{
							background: $blue-c1;
						}
						.v-timeline-divider__dot--size-default{
							width: 1.25rem;
							height: 1.25rem;
							.v-timeline-divider__inner-dot{
								width: calc(100% - 0.5rem);
								height: calc(100% - 0.5rem);
							}
						}
					}
					.v-timeline-item__opposite,
					.v-timeline-item__body{
						padding-top: 0;
					}
				}

				.corporation-place-map{
					aspect-ratio: 16/13;
				}

				.business-social-table{
					min-width: $grid-breakpoints-sm;
				}

				.business-union-table{
					min-width: $grid-breakpoints-sm;
				}

				.business-promote-table{
					min-width: $grid-breakpoints-sm;
				}

				.business-support-table{
					min-width: $grid-breakpoints-sm;
				}

				.img-data{
					aspect-ratio: 320/200;
				}
			}
		}
	}
}

@media screen and (min-width: $grid-breakpoints-xs) {
	.root-wrapper {
	}
}

@media screen and (min-width: $grid-breakpoints-sm) {
	.navbar {
		.nav-logo {
			img {
				position: relative;
			}
		}

		.menu-item {
			z-index: 901;
			.router-link{
				width: 11rem;
			}
		}
	}
	.sub-nav-wrapper{
		.sub-nav-container{
			.sub-menu-item{
				width: 11rem;
			}
		}
	}
	.root-wrapper {
		&.sub {
			background-size: 100% 373px;
		}

		.root-container {
			.main-wrapper {
				.main-container {
					.main-banner-container {
						height: 700px;
						.main-banner-control {
							max-width: calc(100% - 10rem);
							top: 60%;
							right: 10%;
							justify-content: end;
						}

						.swiper-button-container {
							width: calc(100% - 10rem);
							padding: 0;
							margin: 0 auto;
							left: 50%;
							top: 50%;
							z-index: 1;
							transform: translate(-50%, -50%);
						}
						.banner-search{
							max-width: 46.875rem;
							left: 50%;
							top: 70%;
							transform: translate(-50%, 0);
							z-index: 2;
							border-width: 0.25rem !important;
						}
					}

					.main-quick-menu-divider{
						max-height: 3rem;
					}

					.main-swiper-wrapper {
						.main-swiper-container {
							.main-swiper-slide {
								width: 100%;
								max-width: initial;
								min-height: 100%;
							}
						}
					}

					.main-event-wrapper{
						.main-event-container{
							max-width: $grid-contents-width;
							.facebook{
								min-height: auto;
							}
						}
					}

					.main-logo-wrapper{
						.main-logo-container{
							.main-logo-slide{
								max-width: initial;
							}
						}
					}
				}
			}

			.sub-container {
				.sub-visual-wrapper {
					.sub-visual-container {
						height: 340px;
					}
				}

				.sub-navigation-wrapper {
					.sub-navigation-container {
						.v-card{
							min-width: 12.5rem;
						}
					}
				}

				.sub-contents-container {
					.sub-contents-title {
						div {
							height: 5px;
						}
					}
					.corporation-intro{
						aspect-ratio: 13/3;
						background: url("@/assets/user/images/sub/corporation/corporation-intro.png") no-repeat;
						background-size: contain;
					}

					.corporation-position{
						&:before{
							width: 0.5rem;
							top: 0.5rem;
						}
					}

					.corporation-intro-name{
						width: 8.75rem;
						max-width: 8.75rem;
					}

					.corporation-history{
						.v-timeline-divider{
							padding-top: 1.5rem;
						}
						.v-timeline-item__opposite,
						.v-timeline-item__body{
							padding-top: 0;
						}
					}

					.corporation-place-map{
						aspect-ratio: 130/42;
					}

					.img-data{
						aspect-ratio: 400/250;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $grid-breakpoints-md) {

}

@media screen and (min-width: $grid-breakpoints-lg) {
}
