<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiDeleteInfra, apiGetInfraInfo, apiSaveInfra, apiUpdateInfra} from '@/services/pro/infraService';
import type {InfraInterface} from "@/interface/pro/infra";
import {userStore} from '@/store/pro/user';
import {initInfra} from "@/interface/pro/infra";

const infra = ref<InfraInterface>(initInfra);

const route = useRoute();
const infraId = ref();
const infraInfo = ref<InfraInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;
const images = ref<any>([]);

onMounted(async () => {
  infraId.value = route.query.id;
  if (infraId.value) {
    await apiGetInfraInfo(infraId.value).then((res) => {
      infra.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(infra.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/infra/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const infraInfo = {...infra.value};

    if (images.value.length > 0) {
      infraInfo.imageIds = images.value;
    }
    let apiResult: any;
    if (infra.value.id) {
      apiResult = await apiUpdateInfra(infraInfo);
    } else {
      apiResult = await apiSaveInfra(infraInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteInfra(infra.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/infra/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const handleDropzoneAdd = (fileIds: number) => {
  images.value.push(fileIds);
};

const handleDropzoneRemove = (fileIds: number) => {
  images.value = images.value.filter((file: number) => file !== fileIds);
};
</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>시설 상세 {{infra.id ? '수정' : '등록'}}</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">시설명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="name" v-model="infra.name" label="시설명" :error="!isEmpty(responseErrors.name)" placeholder="시설명을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.name)" class="text-error">{{ responseErrors.name.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">정원</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="capacity" v-model="infra.capacity" label="정원" :error="!isEmpty(responseErrors.capacity)" placeholder="정원을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.capacity)" class="text-error">{{ responseErrors.capacity.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">기본 요금 안내</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="baseCost" v-model="infra.baseCost" label="기본 요금 안내" :error="!isEmpty(responseErrors.baseCost)" placeholder="기본 요금 안내 정보를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.baseCost)" class="text-error">{{ responseErrors.baseCost.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">초과 요금 안내</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="overCost" v-model="infra.overCost" label="초과 요금 안내" :error="!isEmpty(responseErrors.overCost)" placeholder="초과 요금 안내 정보를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.overCost)" class="text-error">{{ responseErrors.overCost.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">시설 안내</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="infraInfo" v-model="infra.infraInfo" label="시설 안내" :error="!isEmpty(responseErrors.infraInfo)" placeholder="시설 안내 정보를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.infraInfo)" class="text-error">{{ responseErrors.infraInfo.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">예약 안내</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="reservationInfo" v-model="infra.reservationInfo" label="예약 안내" :error="!isEmpty(responseErrors.reservationInfo)" placeholder="예약 안내 정보를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.reservationInfo)" class="text-error">{{ responseErrors.reservationInfo.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">최소 예약 시간</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="minimumReservationTime" v-model="infra.minimumReservationTime" label="최소 예약 시간" :error="!isEmpty(responseErrors.minimumReservationTime)" placeholder="최소 예약 시간 정보를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.minimumReservationTime)" class="text-error">{{ responseErrors.minimumReservationTime.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이용가능여부</VCol>
                <VCol xs="12" md="9">
                  <VSwitch id="enable" v-model="infra.enable" :error="!isEmpty(responseErrors.enable)" color="primary"  />
                  <span v-if="!isEmpty(responseErrors.enable)" class="text-error">{{ responseErrors.enable.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">사용자 표출 여부</VCol>
                <VCol xs="12" md="9">
                  <VSwitch id="userDisplay" v-model="infra.userDisplay" :error="!isEmpty(responseErrors.userDisplay)" color="primary"  />
                  <span v-if="!isEmpty(responseErrors.userDisplay)" class="text-error">{{ responseErrors.userDisplay.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이미지 업로드</VCol>
                <VCol xs="12" md="9">
                  <DropzoneComponent :files="infra.images" :max-files="3" @add="handleDropzoneAdd" @remove="handleDropzoneRemove" />
                </VCol>
              </VRow>
              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="infra.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ infra.id ? '수정' : '등록' }}</VBtn>
                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
