<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiDeleteSupport, apiGetSupportInfo, apiSaveSupport, apiUpdateSupport} from '@/services/pro/supportService';
import type {SupportInterface} from "@/interface/pro/support";

import {userStore} from '@/store/pro/user';
import {apiGetEnumType} from "@/services/pro/enumService";
import {initSupport} from "@/interface/pro/support";

const support = ref<SupportInterface>({...initSupport});

const route = useRoute();
const supportId = ref();
const supportInfo = ref<SupportInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;

const supportType = ref([]);
const images = ref<any>([]);
const files = ref<any>([]);

onMounted(async () => {

  const res = await apiGetEnumType("SupportType");
  supportType.value = res.data;

  supportId.value = route.query.id;
  if (supportId.value) {
    await apiGetSupportInfo(supportId.value).then((res) => {
      support.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const changeStartDate = (singleDateTimeData: any) => {
  support.value.startDate = singleDateTimeData;
};

const changeEndDate = (singleDateTimeData: any) => {
  support.value.endDate = singleDateTimeData;
};


const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(support.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/support/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const supportInfo = {...support.value};

    supportInfo.imageIds = [];
    supportInfo.fileIds = [];

    if (files.value.length > 0) {
      supportInfo.fileIds?.push(...files.value);
    }

    if (images.value.length > 0) {
      supportInfo.imageIds?.push(...images.value);
    }
    
    let apiResult: any;
    if (support.value.id) {
      apiResult = await apiUpdateSupport(supportInfo);
    } else {
      apiResult = await apiSaveSupport(supportInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteSupport(support.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/support/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const getType = (types : any[]) => {
  let list = [];
  types.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}

const handleFileAdd = (fileIds: number) => {
  files.value.push(fileIds);
};

const handleFileRemove = (fileIds: number) => {
  files.value = files.value.filter((file: number) => file !== fileIds);
};

const handleDropzoneAdd = (fileIds: number) => {
  images.value.push(fileIds);
};

const handleDropzoneRemove = (fileIds: number) => {
  images.value = images.value.filter((file: number) => file !== fileIds);
};

</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>기업 지원</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">기업지원 타입</VCol>
                <VCol xs="12" md="9">
                  <v-select label="기업지원 타입" v-model="support.type" :items="getType(supportType)"></v-select>
                  <span v-if="!isEmpty(responseErrors.type)" class="text-error">{{ responseErrors.type.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">기업 지원명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="title" v-model="support.title" label="기업 지원명" :error="!isEmpty(responseErrors.title)" placeholder="기업 지원명" />
                  <span v-if="!isEmpty(responseErrors.title)" class="text-error">{{ responseErrors.title.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">기업 지원 서브 타이틀</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="subTitle" v-model="support.subTitle" label="기업 지원 서브 타이틀" :error="!isEmpty(responseErrors.subTitle)" placeholder="기업 지원 서브 타이틀" />
                  <span v-if="!isEmpty(responseErrors.subTitle)" class="text-error">{{ responseErrors.subTitle.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">지원 대상</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="target" v-model="support.target" label="지원 대상" :error="!isEmpty(responseErrors.target)" placeholder="지원 대상" />
                  <span v-if="!isEmpty(responseErrors.target)" class="text-error">{{ responseErrors.target.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">접수 시작 일시</VCol>
                <VCol xs="12" md="6">
                  <SingleDatePicker :date-object="support.startDate" :error="!isEmpty(responseErrors.startDate)" placeholder="접수 시작 일시" @update="changeStartDate" />
                  <span v-if="!isEmpty(responseErrors.startDate)" class="text-error">{{ responseErrors.startDate.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">접수 종료 일시</VCol>
                <VCol xs="12" md="6">
                  <SingleDatePicker :date-object="support.endDate" :error="!isEmpty(responseErrors.endDate)" placeholder="접수 종료 일시" @update="changeEndDate" />
                  <span v-if="!isEmpty(responseErrors.endDate)" class="text-error">{{ responseErrors.endDate.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">내용</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="content" v-model="support.contents" label="내용" :error="!isEmpty(responseErrors.contents)" placeholder="내용" />
                  <span v-if="!isEmpty(responseErrors.contents)" class="text-error">{{ responseErrors.contents.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">문의</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="ask" v-model="support.ask" label="문의" :error="!isEmpty(responseErrors.ask)" placeholder="문의" />
                  <span v-if="!isEmpty(responseErrors.ask)" class="text-error">{{ responseErrors.ask.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">접수 안내</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="registerInfo" v-model="support.registerInfo" label="접수 안내" :error="!isEmpty(responseErrors.registerInfo)" placeholder="접수 안내" />
                  <span v-if="!isEmpty(responseErrors.registerInfo)" class="text-error">{{ responseErrors.registerInfo.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">이미지 업로드</VCol>
                <VCol xs="12" md="9">
                  <DropzoneComponent :files="support.images" :max-files="5" @add="handleDropzoneAdd" @remove="handleDropzoneRemove" />
                  <span v-if="!isEmpty(responseErrors.imageIds)" class="text-error">{{ responseErrors.imageIds.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">첨부파일</VCol>
                <VCol xs="12" md="9">
                  <FileUploadComponent :files="support.files" :max-files="5" @add="handleFileAdd" @remove="handleFileRemove" />
                </VCol>
              </VRow>

              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="support.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ support.id ? '수정' : '등록' }}</VBtn>
                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
