@font-face {
 font-family: 'Noto Sans KR';
 font-weight: 100;
 src: url(NotoSansKR-Thin.otf);
 src: url(NotoSansKR-Thin.otf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    src: url(NotoSansKR-Light.otf);
    src: url(NotoSansKR-Light.otf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    src: url(NotoSansKR-Regular.otf);
    src: url(NotoSansKR-Regular.otf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 500;
    src: url(NotoSansKR-Medium.otf);
    src: url(NotoSansKR-Medium.otf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    src: url(NotoSansKR-Bold.otf);
    src: url(NotoSansKR-Bold.otf) format('truetype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-weight: 900;
    src: url(NotoSansKR-Black.otf);
    src: url(NotoSansKR-Black.otf) format('truetype');
}

.font-notosanskr-thin{
    font-family: 'Noto Sans KR';
    font-weight: 100;
}

.font-notosanskr-light{
    font-family: 'Noto Sans KR';
    font-weight: 300;
}

.font-notosanskr-regular{
    font-family: 'Noto Sans KR';
    font-weight: 400;
}

.font-notosanskr-medium{
    font-family: 'Noto Sans KR';
    font-weight: 500;
}

.font-notosanskr-bold{
    font-family: 'Noto Sans KR';
    font-weight: 700;
}

.font-notosanskr-black{
    font-family: 'Noto Sans KR';
    font-weight: 900;
}