<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiDeleteMember, apiGetMemberInfo, apiPutMemberInitPassword, apiSaveMember, apiUpdateMember} from '@/services/pro/memberService';
import type {MemberInterface} from "@/interface/pro/member";
import {userStore} from '@/store/pro/user';
import {initMember} from "@/interface/pro/member";
import {apiGetEnumType} from "@/services/pro/enumService";

const member = ref<MemberInterface>(initMember);

const route = useRoute();
const memberId = ref();
const memberInfo = ref<MemberInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;

const memberType = ref([]);
const joinStatus = ref([]);
const passwordShow = ref<boolean>();

onMounted(async () => {
  let res = await apiGetEnumType("MemberType");
  memberType.value = res.data;

  let joinStatusRes = await apiGetEnumType("JoinStatus");
  joinStatus.value = joinStatusRes.data;

  memberId.value = route.query.id;
  if (memberId.value) {
    await apiGetMemberInfo(memberId.value).then((res) => {
      member.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(member.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/member/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const memberInfo = {...member.value};
    
    let apiResult: any;
    if (member.value.id) {
      apiResult = await apiUpdateMember(memberInfo);
    } else {
      apiResult = await apiSaveMember(memberInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteMember(member.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/member/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const handleInitPassword = async () => {
  if (confirm('비밀번호를 초기화 하시겠습니까? \n초기화 시 비밀번호는 아이디와 동일합니다.')) {
      console.log(member.value.id);
      try {
        let apiResult = await apiPutMemberInitPassword(member.value.id!);
        if (apiResult.status === 200) {
          alertSuccess('비밀번호가 초기화 되었습니다.', () =>{
            router.push(`/pro/member/list`);
          })
        } else {
          alertError('비밀번호 초기화 처리 중 문제가 발생하였습니다.');
        }
      } catch (e) {
        alertError('비밀번호 초기화 처리 중 문제가 발생하였습니다.');
      }

  }
}

const handleAddress = (addressObject: any) => {
  const { roadAddress, jibunAddress, zonecode } = addressObject;
  member.value.address = roadAddress || jibunAddress;
  member.value.zipCode = zonecode;
};

const getType = (types : any[]) => {
  let list : any[]  = [];
  types.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });
  return list;
}

const setShow = () => {
  passwordShow.value = !passwordShow.value;
}

</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>회원 상세 {{member.id ? '수정' : '등록'}}</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">아이디</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="userId" v-model="member.userId" label="아이디" :error="!isEmpty(responseErrors.userId)" placeholder="아이디를 입력해주세요." />
                  <span v-if="!isEmpty(responseErrors.userId)" class="text-error">{{ responseErrors.userId.reason }}</span>
                </VCol>
                <VCol xs="12" md="3">비밀번호 초기화</VCol>
                <VCol xs="12" md="2">
                  <VBtn color="primary" type="button" size="large"  @click="handleInitPassword" >비밀번호 초기화</VBtn>
                </VCol>
              </VRow>
              <VRow v-if="!member.id">
                <VCol xs="12" md="3">비밀번호</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="password" :append-icon="passwordShow ? 'mdi-eye' : 'mdi-eye-off'"
                              v-model="member.password" label="비밀번호"
                              :type="passwordShow ? 'text' : 'password'"
                              :error="!isEmpty(responseErrors.password)"
                              @click:append="setShow()"
                              placeholder="비밀번호를 입력해주세요." />
                  <span v-if="!isEmpty(responseErrors.password)" class="text-error">{{ responseErrors.password.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이름</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="name" v-model="member.name" label="이름" :error="!isEmpty(responseErrors.name)" placeholder="이름을 입력해주세요." />
                  <span v-if="!isEmpty(responseErrors.name)" class="text-error">{{ responseErrors.name.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">휴대폰번호</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="phone" v-model="member.phone" label="휴대폰번호" :error="!isEmpty(responseErrors.phone)" placeholder="휴대폰 번호를 입력해주세요." />
                  <span v-if="!isEmpty(responseErrors.phone)" class="text-error">{{ responseErrors.phone.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">이메일</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="email" v-model="member.email" label="이메일" :error="!isEmpty(responseErrors.email)" placeholder="test@test.com 형식으로 이메일을 입력해주세요." />
                  <span v-if="!isEmpty(responseErrors.email)" class="text-error">{{ responseErrors.email.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">기업타입</VCol>
                <VCol xs="12" md="3">
                  <v-select label="기업타입" v-model="member.type" :items="getType(memberType)" :error="!isEmpty(responseErrors.type)"></v-select>
                  <span v-if="!isEmpty(responseErrors.type)" class="text-error">{{ responseErrors.type.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">기업명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="companyName" v-model="member.companyName" label="기업명" :error="!isEmpty(responseErrors.companyName)" placeholder="기업명을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.companyName)" class="text-error">{{ responseErrors.companyName.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">대표자명</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="ceo" v-model="member.ceo" label="대표자명" :error="!isEmpty(responseErrors.ceo)" placeholder="대표자명을 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.ceo)" class="text-error">{{ responseErrors.ceo.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">사업자등록번호</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="companyNumber" v-model="member.companyNumber" label="사업자등록번호" :error="!isEmpty(responseErrors.companyNumber)" placeholder="사업자등록번호를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.companyNumber)" class="text-error">{{ responseErrors.companyNumber.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">대표 연락처</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="callNumber" v-model="member.callNumber" label="대표 연락처" :error="!isEmpty(responseErrors.callNumber)" placeholder="대표 연락처를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.callNumber)" class="text-error">{{ responseErrors.callNumber.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">FAX 번호</VCol>
                <VCol xs="12" md="4">
                  <VTextField id="fax" v-model="member.fax" label="FAX" :error="!isEmpty(responseErrors.fax)" placeholder="FAX 번호를 입력하세요." />
                  <span v-if="!isEmpty(responseErrors.fax)" class="text-error">{{ responseErrors.fax.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">주소</VCol>
                <VCol xs="12" md="2">
                  <VTextField id="zipCode" v-model="member.zipCode" label="우편번호" :error="!isEmpty(responseErrors.zipCode)" placeholder="우편번호" readonly class="rounded-e-0" />
                </VCol>
                <VCol xs="12" md="5" class="d-flex">
                  <VTextField id="address" v-model="member.address" label="주소" :error="!isEmpty(responseErrors.address)" placeholder="주소검색 버튼을 이용하여 주소를 입력하세요." readonly class="rounded-e-0" />
                  <span v-if="!isEmpty(responseErrors.address)" class="text-error">{{ responseErrors.address.reason }}</span>
                  <AddressSearch cls="d-none d-md-block" @handle-address="handleAddress" />
                </VCol>
                <VCol xs="12" md="3"></VCol>
                <VCol xs="12" md="7">
                  <VTextField id="addressDetail" v-model="member.addressDetail" label="상세주소" :error="!isEmpty(responseErrors.addressDetail)" placeholder="상세주소" class="rounded-e-0" />
                </VCol>
              </VRow>
              <VRow v-if="member.id">
                <VCol xs="12" md="3">가입 상태</VCol>
                <VCol xs="12" md="3">
                  <v-select label="가입 상태" v-model="member.joinStatus" :items="getType(joinStatus)" :error="!isEmpty(responseErrors.joinStatus)"></v-select>
                  <span v-if="!isEmpty(responseErrors.joinStatus)" class="text-error">{{ responseErrors.joinStatus.reason }}</span>
                </VCol>
              </VRow>

              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="member.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ member.id ? '수정' : '등록' }}</VBtn>

                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
