<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {
  apiDeleteBanner,
  apiGetBanner, apiGetBannerInfo,
  apiSaveBanner,
  apiUpdateBanner,
} from '@/services/pro/bannerService';
import type {BannerInterface} from '@/interface/pro/banner';
import {initBanner} from '@/interface/pro/banner';
import {apiGetEnumType} from '@/services/pro/enumService';
import {userStore} from '@/store/pro/user';

const banner = ref<BannerInterface>(initBanner);

const files = ref<any>([]);

const route = useRoute();
const bannerId = ref();
const formHandleState = ref(false);
const responseErrors = ref([]);

const pageLoadingState = ref(true);

const bannerType = ref([]);

const store = userStore();
const iAlert =store.iAlert;

onMounted(async () => {

  const res = await apiGetEnumType("BannerType");
  bannerType.value = res.data;

    bannerId.value = route.query.id;
    if (bannerId.value) {
        await apiGetBannerInfo(bannerId.value).then(res => {
            banner.value = {...res.data};
        });
    }
    pageLoadingState.value = false;
});

const getBannerType = () => {
  let list = [];
  bannerType.value.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}


const handleDropzoneAdd = (fileIds: number) => {
    files.value.push(fileIds);
};

const handleDropzoneRemove = (fileIds: number) => {
    files.value = files.value.filter((file: number) => file !== fileIds);
};

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
    if (apiResult.status === 200) {
      alertSuccess((banner.value.id ? '수정' : '등록') + '되었습니다.', () => {
        router.push(`/pro/banner/list`);
      });

    } else {
        responseErrors.value = convertErrorObject(apiResult);
    }
};

const handleSubmit = async () => {
    formHandleState.value = true;
    try {
        const bannerInfo = {...banner.value};

        bannerInfo.files = [];

        if (files.value.length > 0) {
            bannerInfo.files?.push(...files.value);
        }

        let apiResult: any;
        if (banner.value.id) {
            apiResult = await apiUpdateBanner(bannerInfo);
        } else {
            apiResult = await apiSaveBanner(bannerInfo);
        }
        submitAfterAction(apiResult);
    } catch (e) {
        console.log(e);
    } finally {
        formHandleState.value = false;
    }
};

const handleDelete = async () => {
    if (confirm('삭제하시겠습니까?')) {
        try {
            let apiResult = await apiDeleteBanner(banner.value.id);
            if (apiResult.status === 200) {

              alertSuccess('삭제되었습니다.',() => {
                router.push(`/pro/banner/list`);
              });
            } else {
                alertError('처리중 문제가 발생하였습니다.');
            }
        } catch (e) {
            console.log(e);
            alertError('처리중 문제가 발생하였습니다.');
        }
    }
};
</script>

<template>
    <Loading v-if="pageLoadingState" />
    <div v-else>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                      <VCardTitle class='mb-5'>배너</VCardTitle>
                      <VForm>
                        <VRow>
                          <VCol xs="12" md="3">구분</VCol>
                          <VCol xs="12" md="9">
                            <v-select label="구분" v-model="banner.bannerType" :items="getBannerType()"></v-select>
                            <span v-if="!isEmpty(responseErrors.bannerType)" class="text-error">{{ responseErrors.bannerType.reason }}</span>
                          </VCol>
                        </VRow>
                        <VRow>
                          <VCol xs="12" md="3">링크</VCol>
                          <VCol xs="12" md="9">
                            <VTextField v-model="banner.url" label="링크" :error="!isEmpty(responseErrors.url)" placeholder="링크" />
                            <span v-if="!isEmpty(responseErrors.url)" class="text-error">{{ responseErrors.url.reason }}</span>
                          </VCol>
                        </VRow>
                        <VRow>
                          <VCol xs="12" md="3">링크 제목</VCol>
                          <VCol xs="12" md="9">
                            <VTextField v-model="banner.urlTitle" label="링크 제목" :error="!isEmpty(responseErrors.urlTitle)" placeholder="링크 제목" />
                            <span v-if="!isEmpty(responseErrors.urlTitle)" class="text-error">{{ responseErrors.urlTitle.reason }}</span>
                          </VCol>
                        </VRow>
                        <VRow>
                          <VCol xs="12" md="3">내용</VCol>
                          <VCol xs="12" md="9">
                            <VTextarea v-model="banner.content" label="내용" :error="!isEmpty(responseErrors.content)" placeholder="내용" />
                            <span v-if="!isEmpty(responseErrors.content)" class="text-error">{{ responseErrors.content.reason }}</span>
                          </VCol>
                        </VRow>
                        <VRow>
                          <VCol xs="12" md="3">정렬 순서</VCol>
                          <VCol xs="12" md="9">
                            <VTextField v-model="banner.sort" label="정렬 순서" :error="!isEmpty(responseErrors.sort)" placeholder="정렬 순서" />
                            <span v-if="!isEmpty(responseErrors.sort)" class="text-error">{{ responseErrors.sort.reason }}</span>
                          </VCol>
                        </VRow>
                        <VRow>
                          <VCol xs="12" md="3">사용여부</VCol>
                          <VCol xs="12" md="9">
                            <v-radio-group inline v-model="banner.isUse">
                              <v-radio label="사용" :value="true" ></v-radio>
                              <v-radio label="사용안함" :value="false" ></v-radio>
                              <span v-if="!isEmpty(responseErrors.isUse)" class="text-error">{{ responseErrors.isUse.reason }}</span>
                            </v-radio-group>
                          </VCol>
                        </VRow>
                        <VRow>
                          <VCol xs="12" md="3">이미지 업로드</VCol>
                          <VCol xs="12" md="9">
                            <DropzoneComponent :files="banner.files" :max-files="5" @add="handleDropzoneAdd" @remove="handleDropzoneRemove" />
                          </VCol>
                        </VRow>
                        <div class='py-4'>
                          <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator"></div>
                        <VRow >
                          <VCol cols="12">
                            <VBtn v-if="banner.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                            <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4" >목록</VBtn>
                            <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ banner.id ? '수정' : '등록' }}</VBtn>
                          </VCol>
                        </VRow>
                      </VForm>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
      <IAlert :i-alert='iAlert'></IAlert>
    </div>
</template>
