<script lang="ts" setup>
import {ComputedRef, ref, watch, watchEffect} from 'vue';
import type {Header, Item, ServerOptions, SortType} from 'vue3-easy-data-table';
import Vue3EasyDataTable from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';
import {apiDeleteBanner, apiGetBanner, apiGetSearchBannerInfo} from '@/services/pro/bannerService';
import type {SearchInterface, ThemeColorInterface} from '@/interface/pro/common';
import {alertError, alertSuccess, changeDateFormatMoment, getVuetifyThemeColors} from '@/utils';
import {useRowsPerPage, UseRowsPerPageReturn} from 'use-vue3-easy-data-table';
import {apiGetEnumType} from '@/services/pro/enumService';
import {useRouter} from 'vue-router';
import {userStore} from '@/store/pro/user';

const headers: Header[] = [
    {text: 'id', value: 'id', sortable: true},
    {text: '구분', value: 'bannerType', sortable: true},
    {text: '링크', value: 'url', sortable: true},
    {text: '링크 제목', value: 'urlTitle', sortable: true},
    {text: '정렬 순서', value: 'sort', sortable: true},
    {text: '사용여부', value: 'isUse', sortable: true},
    {text: '작성일', value: 'createdDate', sortable: true},
    {text: '기능', value: 'operation'},
];

const dataTable = ref();

const items = ref<Item[]>([]);

const loading = ref(false);

const sortBy: string[] = headers.map(header => header.value).filter(val => val != 'operation');
const sortType: SortType[] = ['desc', 'asc'];
const searchField = ['companyName'];
const searchValue = ref('');
const itemsSelected = ref<Item[]>([]);

const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());

const bannerType = ref([]);

const store = userStore();
const iAlert =store.iAlert;

const serverItemsLength = ref(0);
const serverOptions = ref<ServerOptions>({
  page: 1,
  rowsPerPage: 25,
  sortBy: 'id',
  sortType: 'desc',
});
const searchData = ref<SearchInterface>({
  searchType: undefined,
  keyword: undefined,
  page: serverOptions.value.page,
  rowsPerPage: serverOptions.value.rowsPerPage,
  sortBy: serverOptions.value.sortBy,
  sortType: serverOptions.value.sortType,
});

onMounted(async () => {
  await handleSearch();
});

const convertValueList = (list) => {
  list.forEach(item => {
    item.bannerType = bannerType.value.find(type => type.code == item.bannerType).value;
    item.createdDate = changeDateFormatMoment(item.createdDate, 'YYYY-MM-DD HH:mm');
  });
  return list;
};

const handleSearch = async () => {
    loading.value = true;
    try {
      const res = await apiGetEnumType("BannerType");
      bannerType.value = res.data;
      searchData.value.page = serverOptions.value.page;
      searchData.value.rowsPerPage = serverOptions.value.rowsPerPage;
      searchData.value.sortBy = serverOptions.value.sortBy;
      searchData.value.sortType = serverOptions.value.sortType;


        await apiGetSearchBannerInfo(searchData.value).then(res => {
            if (res) {
              serverItemsLength.value = res.data.page.totalElements;
                items.value = convertValueList(res.data.data);
            }
        });
    } catch {
    } finally {
        loading.value = false;
    }
};

const router = useRouter();

watch(serverOptions,  async (value) => { await handleSearch(); }, { deep: true });

const deleteItem = async (id) => {
  return await apiDeleteBanner(id);
}
const handleDelete = async () => {


  if (itemsSelected.value.length == 0)
  {
    alert('삭제 할 항목을 선택하세요.');
    return;
  }

  if (confirm('선택 된 항목을 삭제하시겠습니까?')) {
    try {
      itemsSelected.value.forEach(item => {
        deleteItem(item.id!);
      });
      alertSuccess('삭제되었습니다.', () => {
        router.go(router.currentRoute);
      })

    } catch (e) {
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
};

</script>

<template>
    <div>
      <IAlert :i-alert='iAlert'></IAlert>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                      <VCardTitle class='mb-3'>배너관리</VCardTitle>
                        <VRow>
                            <VCol cols="12" md="3" >
                                <VTextField id="search" v-model="searchData.keyword" placeholder="검색어" type="text" @keyup.enter='handleSearch' class="me-2">
                                    <template #append>
                                        <VBtn color="primary" size="large" @click="handleSearch" > 검색</VBtn>
                                    </template>
                                </VTextField>
                            </VCol>
                        </VRow>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                        <VRow>
                            <VCol cols="3">
                                <VTextField id="searchInResult" v-model="searchValue" placeholder="결과내 검색" type="text" class="me-2" />
                            </VCol>
                            <VCol cols='2'  offset="7" class="text-end">
                              <div class='d-flex align-center justify-end'>
                                <VBtn color="red" size="large" @click='handleDelete' class='mr-4' variant='tonal'>선택삭제</VBtn>
                                <VBtn color="primary" size="large" :to="`/pro/banner/form`">추가</VBtn>
                              </div>
                            </VCol>
                        </VRow>
                    </VCardItem>
                    <VCardItem>
                        <Vue3EasyDataTable ref="dataTable" v-model:items-selected="itemsSelected" show-index :headers="headers" :items="items" multi-sort :sort-by="sortBy" :sort-type="sortType"
                                           :theme-color="currentTheme.primary" buttons-pagination :search-field="searchField" :search-value="searchValue" :loading="loading" class="customize-table"
                                           v-model:server-options="serverOptions"
                                           :server-items-length="serverItemsLength">
                            <template #loading>
                                <img src="/cms-logo.png" height="50" alt="Logo" />
                            </template>
                            <template #item-operation="item">
                                <div class="operation-wrapper">
                                    <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/banner/form?id=${item.id}`">상세</VBtn>
                                    <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/banner/form?id=${item.id}`" target="_blank">새창</VBtn>
                                </div>
                            </template>
                        </Vue3EasyDataTable>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
    </div>
</template>
