@import '@/assets/common/size';
/*grid-breakpoints*/
$grid-breakpoints-xs: 0px;
$grid-breakpoints-sm: 600px;
$grid-breakpoints-md: 960px;
$grid-breakpoints-lg: 1264px;
$grid-breakpoints-xl: 1904px;
$grid-screen-width: 1920px;
$grid-contents-width: 1300px;

$min-breakpoints-list: (
	xs: $grid-breakpoints-xs,
	sm: $grid-breakpoints-sm,
	md: $grid-breakpoints-md,
	lg: $grid-breakpoints-lg,
	contents: $grid-contents-width,
);

@each $key, $value in $min-breakpoints-list {
	$i: index($min-breakpoints-list, ($key $value));
	@media screen and (min-width: #{$value}) {
		html,
		body {
			font-size: #{$min-standard-rem + calc(1 * ($i - 1))}px;
		}
	}
}
