$theme-colors: (
	primary: #0059a7,
	secondary: #8a8d93,
	success: #8ab438,
	info: #16bed8,
	warning: #ffb400,
	error: #d94322,
	light: #ffffff,
	dark: #191919,




	gray-70: #707070,
	gray-d4: #d4d4d4,
	gray-56: #565656,
	gray-7c: #77787c,
	gray-ec: #ececec,
	gray-e5: #e5e5e5,
	gray-8e: #8e8e8e,
	gray-c9: #c9c9c9,
	gray-9e: #9e9e9e,
	gray-a4: #a4a4a4,
	white-f9: #f3f5f9,
	white-fb: #f9fafb,
	beige-f2: #faf7f2,
	blue-5e8: #5e95e8,
	blue-4e8: #4881e8,
	blue-c1: #3665c1,
	blue-fb: #f1f9fb,
	green-b3: #22afb3,
	green-9a: #21cf9a,








	dark-3b: #31363b,
	gray-b4: #b4b4b4,
	navy-3e: #1b253e,
	blue-a5: #1958a5,
	blue-a9: #1958a9,
	blue-ab: #344dab,
	blue-dd: #5d8add,
	blue-c4: #3c62c4,
	blue-f8: #689af8,
	purple-fb: #514bfb,
	white-f6: #f6f6f6,
	white-f2: #f2f2f2,
	white-ff: #ffffff,
	white-e3: #e3e3e3,
);

$primary: map-get($theme-colors, 'primary');
$secondary: map-get($theme-colors, 'secondary');
$success: map-get($theme-colors, 'success');
$info: map-get($theme-colors, 'info');
$warning: map-get($theme-colors, 'warning');
$error: map-get($theme-colors, 'error');
$light: map-get($theme-colors, 'light');
$dark: map-get($theme-colors, 'dark');


$gray-70: map-get($theme-colors, 'gray-70');
$gray-d4: map-get($theme-colors, 'gray-d4');
$gray-56: map-get($theme-colors, 'gray-56');
$gray-7c: map-get($theme-colors, 'gray-7c');
$gray-ec: map-get($theme-colors, 'gray-ec');
$gray-e5: map-get($theme-colors, 'gray-e5');
$gray-8e: map-get($theme-colors, 'gray-8e');
$gray-c9: map-get($theme-colors, 'gray-c9');
$gray-9e: map-get($theme-colors, 'gray-9e');
$gray-a4: map-get($theme-colors, 'gray-a4');
$white-f9: map-get($theme-colors, 'white-f9');
$white-fb: map-get($theme-colors, 'white-fb');
$beige-f2: map-get($theme-colors, 'white-f2');
$blue-5e8: map-get($theme-colors, 'blue-5e8');
$blue-4e8: map-get($theme-colors, 'blue-4e8');
$blue-c1: map-get($theme-colors, 'blue-c1');
$blue-fb: map-get($theme-colors, 'blue-fb');
$green-b3: map-get($theme-colors, 'green-b3');
$green-9a: map-get($theme-colors, 'green-9a');




$dark-3b: map-get($theme-colors, 'dark-3b');
$gray-b4: map-get($theme-colors, 'gray-b4');
$navy-3e: map-get($theme-colors, 'navy-3e');
$blue-a5: map-get($theme-colors, 'blue-a5');
$blue-a9: map-get($theme-colors, 'blue-a9');
$blue-ab: map-get($theme-colors, 'blue-ab');
$blue-dd: map-get($theme-colors, 'blue-dd');
$blue-c4: map-get($theme-colors, 'blue-c4');
$blue-f8: map-get($theme-colors, 'blue-f8');
$purple-fb: map-get($theme-colors, 'purple-fb');
$white-f6: map-get($theme-colors, 'white-f6');
$white-f2: map-get($theme-colors, 'white-f2');
$white-ff: map-get($theme-colors, 'white-ff');
$white-e3: map-get($theme-colors, 'white-e3');

@each $key, $color in $theme-colors {
	.color-#{$key} {
		color: $color !important;
	}
	.bg-#{$key} {
		background: $color !important;
	}
	.border-#{$key} {
		border-color: $color !important;
	}
}

.color-transparent {
	color: transparent !important;
}
.bg-transparent {
	background: transparent !important;
}
.border-transparent {
	border-color: transparent !important;
}
