@import '@/assets/common/size';
@import '@/assets/common/breakpoints';

.font-weight-thin {
	font-weight: 100;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-regular {
	font-weight: 400;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-bold {
	font-weight: 700;
}

.font-weight-black {
	font-weight: 900;
}

/*min-breakpoints*/
@each $max-size in $size-list {
	@each $min-size in $size-list {
		@if ($max-size >= $min-size) {
			.font-size-#{$min-size}-#{$max-size} {
				font-size: #{$min-size}px;
				$length: length($min-breakpoints-list) - 1;
				$gap: calc(($max-size - $min-size) / $length);
				@each $key, $value in $min-breakpoints-list {
					$i: index($min-breakpoints-list, ($key $value));
					@media (min-width: #{$value}) {
						font-size: #{$min-size + calc($gap * ($i - 1))}px !important;
					}
				}
			}
		}
	}
}