@import '@/assets/common/breakpoints';

@for $i from 0 through 100 {
	.m-r-#{$i} {
		margin: calc(1rem / 4 * $i);
	}
	.mt-r-#{$i} {
		margin-top: calc(1rem / 4 * $i);
	}
	.mr-r-#{$i} {
		margin-right: calc(1rem / 4 * $i);
	}
	.mb-r-#{$i} {
		margin-bottom: calc(1rem / 4 * $i);
	}
	.ml-r-#{$i} {
		margin-left: calc(1rem / 4 * $i);
	}
	.mx-r-#{$i} {
		margin-left: calc(1rem / 4 * $i);
		margin-right: calc(1rem / 4 * $i);
	}
	.my-r-#{$i} {
		margin-top: calc(1rem / 4 * $i);
		margin-bottom: calc(1rem / 4 * $i);
	}

	.p-r-#{$i} {
		padding: calc(1rem / 4 * $i);
	}
	.pt-r-#{$i} {
		padding-top: calc(1rem / 4 * $i);
	}
	.pr-r-#{$i} {
		padding-right: calc(1rem / 4 * $i);
	}
	.pb-r-#{$i} {
		padding-bottom: calc(1rem / 4 * $i);
	}
	.pl-r-#{$i} {
		padding-left: calc(1rem / 4 * $i);
	}
	.px-r-#{$i} {
		padding-left: calc(1rem / 4 * $i);
		padding-right: calc(1rem / 4 * $i);
	}
	.py-r-#{$i} {
		padding-top: calc(1rem / 4 * $i);
		padding-bottom: calc(1rem / 4 * $i);
	}

	.t-r-#{$i} {
		top: calc(1rem / 4 * $i);
	}

	.l-r-#{$i} {
		left: calc(1rem / 4 * $i);
	}

	.b-r-#{$i} {
		bottom: calc(1rem / 4 * $i);
	}

	.r-r-#{$i} {
		right: calc(1rem / 4 * $i);
	}

	.row-gap-#{$i} {
		margin: calc(1rem / 4 * $i * -1);
	}

	@each $key, $value in $min-breakpoints-list {
		@media screen and (min-width: #{$value}) {
			.m-r-#{$key}-#{$i} {
				margin: calc(1rem / 4 * $i) !important;
			}
			.mt-r-#{$key}-#{$i} {
				margin-top: calc(1rem / 4 * $i) !important;
			}
			.mr-r-#{$key}-#{$i} {
				margin-right: calc(1rem / 4 * $i) !important;
			}
			.mb-r-#{$key}-#{$i} {
				margin-bottom: calc(1rem / 4 * $i) !important;
			}
			.ml-r-#{$key}-#{$i} {
				margin-left: calc(1rem / 4 * $i) !important;
			}
			.mx-r-#{$key}-#{$i} {
				margin-left: calc(1rem / 4 * $i) !important;
				margin-right: calc(1rem / 4 * $i) !important;
			}
			.mx-r-#{$key}-auto {
				margin-left: auto !important;
				margin-right: auto !important;
			}
			.my-r-#{$key}-#{$i} {
				margin-top: calc(1rem / 4 * $i) !important;
				margin-bottom: calc(1rem / 4 * $i) !important;
			}

			.p-r-#{$key}-#{$i} {
				padding: calc(1rem / 4 * $i) !important;
			}
			.pt-r-#{$key}-#{$i} {
				padding-top: calc(1rem / 4 * $i) !important;
			}
			.pr-r-#{$key}-#{$i} {
				padding-right: calc(1rem / 4 * $i) !important;
			}
			.pb-r-#{$key}-#{$i} {
				padding-bottom: calc(1rem / 4 * $i) !important;
			}
			.pl-r-#{$key}-#{$i} {
				padding-left: calc(1rem / 4 * $i) !important;
			}
			.px-r-#{$key}-#{$i} {
				padding-left: calc(1rem / 4 * $i) !important;
				padding-right: calc(1rem / 4 * $i) !important;
			}
			.py-r-#{$key}-#{$i} {
				padding-top: calc(1rem / 4 * $i) !important;
				padding-bottom: calc(1rem / 4 * $i) !important;
			}
		}
	}
}

@for $i from 1 through 10 {
	.opacity-#{$i} {
		opacity: calc($i / 10) !important;
	}
	.border-#{$i} {
		border-width: #{$i} + 'px' !important;
	}
	.gutter-#{$i} {
		padding: calc(1rem / 4 * $i) !important;

		.v-row {
			margin: calc(1rem / 4 * ($i - 1) * -1) !important;
			height: calc(100% + (1rem / 4 * $i) * 2) !important;

			.v-col {
				padding: calc((1rem / 4 * $i) / 2) !important;
			}
		}
	}
}

.opacity-0 {
	opacity: 0;
}

@for $i from 0 through 100 {
	.w-#{$i} {
		width: #{$i}+ '%';
	}
	.h-#{$i} {
		height: #{$i}+ '%';
	}
	@each $key, $value in $min-breakpoints-list {
		@media screen and (min-width: #{$value}) {
			.w-#{$key}-#{$i} {
				width: #{$i}+ '%' !important;
			}
			.h-#{$key}-#{$i} {
				height: #{$i}+ '%' !important;
			}
		}
	}
}

.w-auto {
	width: auto !important;
}

.h-auto {
	height: auto !important;
}

@each $key, $value in $min-breakpoints-list {
	@media screen and (min-width: #{$value}) {
		.w-#{$key}-auto {
			width: auto !important;
		}
		.h-#{$key}-auto {
			height: auto !important;
		}
	}
}
