@mixin grid-divider($color: #212529) {
    > [class*='divider-']:nth-child(n + 2) {
        position: relative;
        &:after {
            content: '';
            width: 1px;
            background-color: $color;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }
    }
}

@mixin multiline-ellipsis($line: 2) {
    -webkit-line-clamp: $line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin set-reactive-attribute($name, $min, $max, $type) {
    #{$name}: #{$max}px;
    $list: if($type == 'max', $max-breakpoints-list, $min-breakpoints-list);
    $length: length($list);
    $gap: calc(($max - $min) / $length);
    @each $key, $value in $list {
        $i: index($list, ($key $value));
        $unit: if($type == 'max', $i, $length - $i);
        @media (#{$type}-width: #{$value}) {
            #{$name}: #{$max - calc($gap * $unit)}px;
        }
    }
}

@mixin custom-select() {
    appearance: none;
     background:white url("@/assets/user/images/sub/board/ic-select-arrow.svg") no-repeat right 1rem center;
    padding-right: 3rem !important;
}
