a {
	color: inherit;
}

//.v-card-item__content {
//	overflow: initial;
//}

.v-list-item--nav .v-list-item-title {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

//.v-list-item--variant-text .v-list-item__overlay{
//	background: none !important;
//}

.v-btn{
	min-width: auto;
}