$max-standard-rem: 16;
$min-standard-rem: 12;
$contents-width-blank: 16px;
$size-list: (
	6,
	7,
	8,
	9,
	10,
	11,
	12,
	13,
	14,
	15,
	16,
	17,
	18,
	20,
	21,
	22,
	23,
	24,
	25,
	26,
	28,
	29,
	30,
	31,
	32,
	34,
	35,
	36,
	37,
	40,
	41,
	42,
	45,
	46,
	50,
	55,
	60,
	65,
	70,
	80
);

$size-10: calc(10 / $max-standard-rem) rem;
$size-11: calc(11 / $max-standard-rem) rem;
$size-12: calc(12 / $max-standard-rem) rem;
$size-13: calc(13 / $max-standard-rem) rem;
$size-14: calc(14 / $max-standard-rem) rem;
$size-15: calc(15 / $max-standard-rem) rem;
$size-17: calc(17 / $max-standard-rem) rem;
$size-18: calc(18 / $max-standard-rem) rem;
$size-20: calc(20 / $max-standard-rem) rem;
$size-21: calc(21 / $max-standard-rem) rem;
$size-22: calc(22 / $max-standard-rem) rem;
$size-23: calc(23 / $max-standard-rem) rem;
$size-24: calc(24 / $max-standard-rem) rem;
$size-25: calc(25 / $max-standard-rem) rem;
$size-28: calc(28 / $max-standard-rem) rem;
$size-30: calc(30 / $max-standard-rem) rem;
$size-31: calc(31 / $max-standard-rem) rem;
$size-32: calc(32 / $max-standard-rem) rem;
$size-34: calc(34 / $max-standard-rem) rem;
$size-35: calc(35 / $max-standard-rem) rem;
$size-36: calc(36 / $max-standard-rem) rem;
$size-37: calc(37 / $max-standard-rem) rem;
$size-40: calc(40 / $max-standard-rem) rem;
$size-41: calc(41 / $max-standard-rem) rem;
$size-42: calc(42 / $max-standard-rem) rem;
$size-45: calc(45 / $max-standard-rem) rem;
$size-46: calc(46 / $max-standard-rem) rem;
$size-50: calc(50 / $max-standard-rem) rem;
$size-55: calc(55 / $max-standard-rem) rem;
$size-60: calc(60 / $max-standard-rem) rem;
$size-65: calc(65 / $max-standard-rem) rem;
$size-70: calc(70 / $max-standard-rem) rem;
$size-80: calc(80 / $max-standard-rem) rem;
