<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty} from '@/utils';
import {apiDeleteTechnical, apiGetTechnicalInfo, apiSaveTechnical, apiUpdateTechnical} from '@/services/pro/technicalService';
import type {TechnicalInterface} from "@/interface/pro/technical";

import {userStore} from '@/store/pro/user';
import {apiGetEnumType} from "@/services/pro/enumService";
import {initTechnical} from "@/interface/pro/technical";

const technical = ref<TechnicalInterface>(initTechnical);

const route = useRoute();
const technicalId = ref();
const technicalInfo = ref<TechnicalInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;
const files = ref<any>([]);
const technicalStatus = ref([]);

onMounted(async () => {

  const res = await apiGetEnumType("TechnicalStatus");
  technicalStatus.value = res.data;

  technicalId.value = route.query.id;
  if (technicalId.value) {
    await apiGetTechnicalInfo(technicalId.value).then((res) => {
      technical.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const handleEditorContent = (content: string) => {
  technical.value.contents = content;
};
const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess(technical.value.id ? '수정' : '등록' + '되었습니다.', () => {
      router.push(`/pro/technical/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const technicalInfo = {...technical.value};
    
    let apiResult: any;
    if (technical.value.id) {
      apiResult = await apiUpdateTechnical(technicalInfo);
    } else {
      apiResult = await apiSaveTechnical(technicalInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteTechnical(technical.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/technical/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const changeStartDate = (singleDateData: any) => {
  technical.value.startDate = singleDateData;
};

const changeEndDate = (singleDateData: any) => {
  technical.value.endDate = singleDateData;
};

const changeApplyStartDate = (singleDateData: any) => {
  technical.value.applyStartDate = singleDateData;
};

const changeApplyEndDate = (singleDateData: any) => {
  technical.value.applyEndDate = singleDateData;
};

const handleFileAdd = (fileIds: number) => {
  files.value.push(fileIds);
};

const handleFileRemove = (fileIds: number) => {
  files.value = files.value.filter((file: number) => file !== fileIds);
};

const getType = (types : any[]) => {
  let list = [];
  types.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}

</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>기술 교육</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">기술 교육명</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="title" v-model="technical.title" label="기술 교육명" :error="!isEmpty(responseErrors.title)" placeholder="기술 교육명" />
                </VCol>
                <span v-if="!isEmpty(responseErrors.title)" class="text-error">{{ responseErrors.title.reason }}</span>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">교육 시작일</VCol>
                <VCol xs="12" md="6">
                  <SingleDatePicker :date-object="technical.startDate" :error="!isEmpty(responseErrors.startDate)" placeholder="교육 시작일" @update="changeStartDate" />
                  <span v-if="!isEmpty(responseErrors.startDate)" class="text-error">{{ responseErrors.startDate.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">교육 종료일</VCol>
                <VCol xs="12" md="6">
                  <SingleDatePicker :date-object="technical.endDate" :error="!isEmpty(responseErrors.endDate)" placeholder="교육 종료일" @update="changeEndDate" />
                  <span v-if="!isEmpty(responseErrors.endDate)" class="text-error">{{ responseErrors.endDate.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">장소</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="location" v-model="technical.location" label="장소" :error="!isEmpty(responseErrors.location)" placeholder="장소" />
                </VCol>
                <span v-if="!isEmpty(responseErrors.location)" class="text-error">{{ responseErrors.location.reason }}</span>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">신청시작일</VCol>
                <VCol xs="12" md="6">
                  <SingleDatePicker :date-object="technical.applyStartDate" :error="!isEmpty(responseErrors.applyStartDate)" placeholder="신청시작일" @update="changeApplyStartDate" />
                  <span v-if="!isEmpty(responseErrors.applyStartDate)" class="text-error">{{ responseErrors.applyStartDate.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">신청종료일</VCol>
                <VCol xs="12" md="6">
                  <SingleDatePicker :date-object="technical.applyEndDate" :error="!isEmpty(responseErrors.applyEndDate)" placeholder="신청종료일" @update="changeApplyEndDate" />
                  <span v-if="!isEmpty(responseErrors.applyEndDate)" class="text-error">{{ responseErrors.applyEndDate.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">정원</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="capacity" type="number" v-model="technical.capacity" label="정원" :error="!isEmpty(responseErrors.capacity)" placeholder="정원" />
                </VCol>
                <span v-if="!isEmpty(responseErrors.capacity)" class="text-error">{{ responseErrors.capacity.reason }}</span>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">내용</VCol>
                <VCol xs="12" md="9">
                  <SunEditorComponent :content="technical.contents" label="내용" :error="!isEmpty(responseErrors.contents)" @update="handleEditorContent" placeholder="내용" />
                  <span v-if="!isEmpty(responseErrors.contents)" class="text-error">{{ responseErrors.contents.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">교육 접수 링크</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="location" v-model="technical.url" label="교육 접수 링크" :error="!isEmpty(responseErrors.url)" placeholder="교육 접수 링크" />
                </VCol>
                <span v-if="!isEmpty(responseErrors.url)" class="text-error">{{ responseErrors.url.reason }}</span>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">접수 상태</VCol>
                <VCol xs="12" md="9">
                  <v-select label="접수 상태" v-model="technical.status" :items="getType(technicalStatus)"></v-select>
                  <span v-if="!isEmpty(responseErrors.status)" class="text-error">{{ responseErrors.status.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">첨부파일</VCol>
                <VCol xs="12" md="9">
                  <FileUploadComponent :files="technical.files" :max-files="5" @add="handleFileAdd" @remove="handleFileRemove" />
                </VCol>
              </VRow>

              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="technical.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ technical.id ? '수정' : '등록' }}</VBtn>

                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
