<script lang="ts" setup>
import { changeDateFormat, changeNumberFormat } from '@utils';
import type { BoardInterface } from '@/interface/user/board';

const componentProps = defineProps<{
	boardId: number | string;
	articleId: number | string;
	data: BoardInterface;
	prev: BoardInterface | undefined;
	next: BoardInterface | undefined;
}>();
</script>

<template>
	<SubLayout>
		<div class="mt-r-14">
			<div v-if="componentProps.data">
				<p class="font-size-25-35">
					{{ componentProps.data?.title }}
				</p>
				<div class="mt-r-9 d-flex justify-start align-center">
					<span class="created-date font-size-16-20">{{
						changeDateFormat(componentProps.data.createdDate)
					}}</span>
					<span class="gray-c7-dot"></span>
					<span class="font-size-16-20">조회수 {{ changeNumberFormat(componentProps.data.readCount) }}</span>
				</div>
				<div
					class="board-contents mt-r-8 px-r-md-6 pt-r-9 pt-r-md-11 pb-r-19 pb-r-md-22 border-top border-bottom border-gray-db font-size-15-20"
					v-html="componentProps.data?.content"
				></div>
				<div class="d-flex justify-start align-center border-bottom border-gray-c7py-r-5 pl-r-4">
					<span class="d-flex justify-start align-center font-size-14-18 font-weight-bold color-gray-c7">
						첨부파일
					</span>

					<div>
						<v-btn
							v-for="(attachFile, index) in componentProps.data?.files"
							:key="index"
							class="ml-r-4"
							color="primary"
						>
							{{ attachFile.name }}
						</v-btn>
					</div>
				</div>

				<MoveArticle
					:next="next"
					:prev="prev"
					:article-id="componentProps.articleId"
					:board-id="componentProps.boardId"
				/>
			</div>
		</div>
	</SubLayout>
</template>
