<script lang="ts" setup>
import {changeDateFormat, changeNumberFormat, getApiPath, getFileUrl} from '@utils';
import type { PageInterface } from '@/interface/user/board';
import type { SearchInterface } from '@/interface/user/common';
import {DisplayInstance} from "vuetify";
import {ref} from "vue";

const componentProps = defineProps<{
	dataList: any[];
	fetchState: {
		loading: boolean;
	};
	page: PageInterface;
	boardId: number;
	searchData: SearchInterface;
	display: DisplayInstance;
}>();

const fileBox = ref(0);

const handleFileBox = (id: number) => {
	if(fileBox.value === id){
		fileBox.value = 0;
	}else{
		fileBox.value = id;
	}
}

</script>

<template>
	<div>
		<ul class="w-100 border-top border-gray-d4 d-md-none">
			<template v-if="componentProps.dataList.length > 0">
				<li
					v-for="(data, index) in componentProps.dataList"
					:key="index"
					class="border-bottom border-gray-d4 py-r-5"
				>
					<span :class="[componentProps.fetchState.loading && 'skeleton']">
						{{ data.title }}
					</span>
					<div class="d-flex justify-space-between align-center position-relative">
						<div>
							<span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
								{{ changeDateFormat(data.createdDate) }}
							</span>
								<Divider color="color-gray-70" />
								<span class="color-gray-56" :class="[fetchState.loading && 'skeleton']">
								{{ changeNumberFormat(data.readCount) }}
							</span>
						</div>
						<v-btn
							class="font-size-12-14 bg-gray-a4 rounded-lg h-auto py-r-1"
							color="transparent"
							:class="[componentProps.fetchState.loading && 'skeleton']"
							@click="handleFileBox(data.id)"
						>
							<span class="color-light">다운로드 {{ data.normalFiles.length }}</span>
						</v-btn>
						<v-expand-transition>
							<v-card v-if="fileBox === data.id" class="file-box position-absolute top-100 right-0" elevation="5">
								<v-card-text class="text-start">
									<a
										v-for="(normalFile, index) in data.normalFiles"
										:key="index"
										:href="`${getFileUrl()}/${normalFile.id}`"
										target="_blank"
										rel="noopener noreferrer"
										class="d-block mr-r-4"
									>
										{{ normalFile.fileName }}
									</a>
								</v-card-text>
							</v-card>
						</v-expand-transition>
					</div>
				</li>
			</template>
			<template v-else>
				<li class="border-bottom border-gray-db py-r-5 text-center font-size-16-20 font-weight-bold">
					데이터가 없습니다.
				</li>
			</template>
		</ul>

		<v-table class="w-100 border-top border-gray-d4 d-none d-md-block">
			<thead class="bg-white-fb">
				<tr>
					<th class="font-size-12-18 font-weight-bold text-center w-10 border-bottom border-gray-d4 py-r-md-5">
						번호
					</th>
					<th class="font-size-12-18 font-weight-bold text-center w-50 border-bottom border-gray-d4 py-r-md-5">
						제목
					</th>
					<th class="font-size-12-18 font-weight-bold text-center w-10 border-bottom border-gray-d4 py-r-md-5">
						첨부파일
					</th>
					<th class="font-size-12-18 font-weight-bold text-center w-15 border-bottom border-gray-d4 py-r-md-5">
						작성일
					</th>
					<th class="font-size-12-18 font-weight-bold text-center w-15 border-bottom border-gray-d4 py-r-md-5">
						조회수
					</th>
				</tr>
			</thead>
			<tbody v-if="componentProps.dataList.length > 0">
				<tr v-for="(data, index) in componentProps.dataList" :key="index">
					<td
						:class="[index < componentProps.dataList.length - 1 ? 'border-gray-db' : 'border-gray-d4']"
						class="font-size-12-18 text-center border-bottom py-r-md-5"
					>
						<span :class="[componentProps.fetchState.loading && 'skeleton']">
							{{
								changeNumberFormat(
									componentProps.page.totalElements - componentProps.page.page * 10 - index,
								)
							}}
						</span>
					</td>
					<td
						:class="[index < componentProps.dataList.length - 1 ? 'border-gray-db' : 'border-gray-d4']"
						class="font-size-12-18 text-center border-bottom py-r-md-5"
					>
						<v-banner class="border-0 p-r-0" lines="one">
							<v-banner-text
								:class="[componentProps.fetchState.loading && 'skeleton']"
								class="font-size-12-18 p-r-0"
								>{{ data.title }}
							</v-banner-text>
						</v-banner>
					</td>
					<td
						:class="[index < componentProps.dataList.length - 1 ? 'border-gray-db' : 'border-gray-d4']"
						class="font-size-12-18 text-center border-bottom py-r-md-5"
					>
						<v-btn
							:class="[componentProps.fetchState.loading && 'skeleton']"
							class="font-size-12-14 bg-gray-a4 rounded-lg h-auto py-r-2"
							color="transparent"
							@click="handleFileBox(data.id)"
							:disabled="data.normalFiles.length <= 0"
						>
							<span class="color-light">다운로드 {{ data.normalFiles.length }}</span>
						</v-btn>
						<v-expand-transition>
							<v-card v-if="fileBox === data.id" class="file-box position-absolute" elevation="5">
								<v-card-text class="text-start">
									<a
										v-for="(normalFile, index) in data.normalFiles"
										:key="index"
										:href="`${getFileUrl()}/${normalFile.id}`"
										target="_blank"
										rel="noopener noreferrer"
										class="d-block mr-r-4"
									>
										{{ normalFile.fileName }}
									</a>
								</v-card-text>
							</v-card>
						</v-expand-transition>
					</td>
					<td
						:class="[index < componentProps.dataList.length - 1 ? 'border-gray-db' : 'border-gray-d4']"
						class="font-size-12-18 text-center border-bottom py-r-md-5"
					>
						<span :class="[componentProps.fetchState.loading && 'skeleton']">{{
							changeDateFormat(data.createdDate)
						}}</span>
					</td>
					<td
						:class="[index < componentProps.dataList.length - 1 ? 'border-gray-db' : 'border-gray-d4']"
						class="font-size-12-18 text-center border-bottom py-r-md-5"
					>
						<span :class="[componentProps.fetchState.loading && 'skeleton']">{{
							changeNumberFormat(data.readCount)
						}}</span>
					</td>
				</tr>
			</tbody>
			<tbody v-else>
				<td class="font-size-16-20 font-weight-bold text-center border-bottom py-r-md-5" colspan="5">
					데이터가 없습니다.
				</td>
			</tbody>
		</v-table>
	</div>
</template>
