<script setup lang="ts">
import {onMounted, ref, watchEffect} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertSuccess, alertWarning, convertErrorObject, isEmpty} from '@/utils';
import {apiGetArticlesInfo, apiSaveArticles, apiUpdateArticles} from '@/services/pro/articlesService';
import {apiGetBoardsInfo} from '@/services/pro/boardsService';
import type {ArticlesInterface} from '@/interface/pro/articles';
import type {BoardsInterface} from '@/interface/pro/boards';
import {userStore} from '@/store/pro/user';
import {initArticles} from '@/interface/pro/articles';

const articles = ref<ArticlesInterface>(initArticles);

const route = useRoute();
const router = useRouter();
const boardsId = ref();
const boardsInfo = ref<BoardsInterface>({});
const articlesHandleState = ref(false);
const responseErrors = ref([]);
const showPassword = ref(false);

const dropzoneFiles = ref<any>([]);
const inputFiles = ref<any>([]);
const pageLoadingState = ref(true);

const store = userStore();
const iAlert =store.iAlert;

onMounted(async () => {
    const articlesId = route.query.id;
    boardsId.value = route.params.boardsId;
    const resBoardsInfo = await apiGetBoardsInfo(boardsId.value);
    if (resBoardsInfo.status === 200) {
        boardsInfo.value = resBoardsInfo.data;
    }

    if (articlesId) {
        const articleParams = {
            boardsId: boardsId.value,
            articlesId: Number(articlesId),
        };
        const articlesInfo = await apiGetArticlesInfo(articleParams);
        articles.value = {
            ...articlesInfo.data,
            dropzoneFiles: [],
            normalFiles: [],
        };
    }
    articles.value.boardsId = boardsId.value;
    pageLoadingState.value = false;
});

const submitAfterAction = (apiResult: any) => {
    if (apiResult.status === 200) {
      alertSuccess((articles.value.id ? '수정' : '등록') + '되었습니다.', () => {
        router.push(`/pro/articles/${boardsId.value}/list`);
      });
    } else {
        responseErrors.value = convertErrorObject(apiResult);
    }
};

const handleDropzoneAdd = (fileIds: number) => {
    dropzoneFiles.value.push(fileIds);
};

const handleDropzoneRemove = (fileIds: number) => {
    dropzoneFiles.value = dropzoneFiles.value.filter((file: number) => file !== fileIds);
};

const handleInputFilesAdd = (fileIds: number) => {
    inputFiles.value.push(fileIds);
};

const handleInputFilesRemove = (fileIds: number) => {
    inputFiles.value = inputFiles.value.filter((file: number) => file !== fileIds);
};

const handleEditorContent = (content: string) => {
    articles.value.content = content;
};

const handleSubmit = async () => {
    articlesHandleState.value = true;
    try {
        const articlesInfo = {...articles.value};
        articlesInfo.files = [];
        articlesInfo.dropzoneFiles = [];
        articlesInfo.normalFiles = [];
        if (dropzoneFiles.value.length > 0) {
            articlesInfo.dropzoneFiles?.push(...dropzoneFiles.value);
        }

        // console.log('submit dropzoneFiles list');
        // console.log(articlesInfo.dropzoneFiles);
        // console.log('submit normalFiles list');
        // console.log(articlesInfo.normalFiles);
        articlesInfo.files.push(...articlesInfo.dropzoneFiles);
        // console.log('submit default list');
        // console.log(articlesInfo.files);

        if (dropzoneFiles.value.length > boardsInfo.value.uploadableNumberOfFiles || inputFiles.value.length > boardsInfo.value.uploadableNumberOfFiles) {
            alertWarning('최대 업로드 갯수를 초과하였습니다.');
            return false;
        }

        let apiResult: any;
        if (articles.value.id) {
            apiResult = await apiUpdateArticles(articlesInfo);
        } else {
            apiResult = await apiSaveArticles(articlesInfo);
        }
        submitAfterAction(apiResult);
    } catch (e) {
        console.log(e);
    } finally {
        articlesHandleState.value = false;
    }
};

watchEffect(() => {
    if (!articles.value.secret) {
        articles.value.password = '';
    }
});

/* TODO
 * 댓글 사용여부 적용. (기존글 수정화면에서 확인되도록)
 * 답글 사용여부 적용. (기존글 수정화면에서 확인되도록)
 * 엽로드갯수 적용. (파일업로드와 같이 작업)
 * */
</script>

<template>
    <Loading v-if="pageLoadingState" />
    <div v-else>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                        <VCardTitle class='mb-5'>{{ boardsInfo.name }}</VCardTitle>
                        <VForm>
                            <VRow>
                              <VCol xs="12" md="3">제목</VCol>
                              <VCol xs="12" md="9">
                                <VTextField id="title" v-model="articles.title" label="제목" :error="!isEmpty(responseErrors.title)" placeholder="제목" />
                                <span v-if="!isEmpty(responseErrors.title)" class="text-error">{{ responseErrors.title.reason }}</span>
                              </VCol>
                            </VRow>
                            <template v-if="boardsInfo.enableEditor">
                                <VRow>
                                    <VCol xs="12" md="3">내용</VCol>
                                    <VCol xs="12" md="9">
                                        <SunEditorComponent :content="articles.content" @update="handleEditorContent" />
                                        <span v-if="!isEmpty(responseErrors.content)" class="text-error">{{ responseErrors.content.reason }}</span>
                                    </VCol>
                                </VRow>
                            </template>
                            <template v-else>
                                <VRow>
                                  <VCol xs="12" md="3">내용</VCol>
                                  <VCol xs="12" md="9">
                                    <VTextarea v-model="articles.content" :error="!isEmpty(responseErrors.content)" placeholder="내용" label="내용" />
                                    <span v-if="!isEmpty(responseErrors.content)" class="text-error">{{ responseErrors.content.reason }}</span>
                                  </VCol>
                                </VRow>
                            </template>
                            <VRow>
                                <VCol xs="12" md="3">이미지 업로드</VCol>
                                <VCol xs="12" md="9">
                                    <DropzoneComponent :files="articles.files" :max-files="boardsInfo.uploadableNumberOfFiles" @add="handleDropzoneAdd" @remove="handleDropzoneRemove" />
                                </VCol>
<!--                                <VCol xs="12" md="3">파일업로드</VCol>-->
<!--                                <VCol xs="12" md="9">-->
<!--                                    <FileUploadComponent :files="articles.files" :max-files="boardsInfo.uploadableNumberOfFiles" @add="handleInputFilesAdd" @remove="handleInputFilesRemove" />-->
<!--                                </VCol>-->
                                <template v-if="boardsInfo.enableSecret">
                                    <VCol xs="12" md="3">비밀글</VCol>
                                    <VCol xs="12" md="9">
                                        <VSwitch id="enableSecret" v-model="articles.secret" color="primary" />
                                    </VCol>
                                    <VCol xs="12" md="3">비밀번호</VCol>
                                    <VCol xs="12" md="9">
                                        <VTextField v-model="articles.password" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'" :type="showPassword ? 'text' : 'password'" name="password" label="비밀번호" :disabled="!articles.secret" @click:append="showPassword = !showPassword"></VTextField>
                                    </VCol>
                                </template>
                            </VRow>
                            <VRow v-if="boardsInfo.enableComment">
                                <VCol xs="12" md="3">답글</VCol>
                                <VCol xs="12" md="9">
                                    <VTextarea v-model="articles.answer" :error="!isEmpty(responseErrors.answer)" placeholder="답글" label="답글" />
                                    <span v-if="!isEmpty(responseErrors.answer)" class="text-error">{{ responseErrors.answer.reason }}</span>
                                </VCol>
                            </VRow>
                          <VRow v-if="false">
                            <VCol xs="12" md="3">출처</VCol>
                            <VCol xs="12" md="9">
                              <VTextField v-model="articles.link" :error="!isEmpty(responseErrors.link)" placeholder="출처" label="출처" /><span v-if="!isEmpty(responseErrors.link)" class="text-error">{{ responseErrors.link.reason }}</span></VCol>
                          </VRow>
                          <div class='py-4'>
                            <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
                          </div>
                            <VRow>
                                <VCol cols='12'>
                                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4" >목록</VBtn>
                                    <VBtn color="primary" type="button" size="large" :disabled="articlesHandleState" @click="handleSubmit">{{ articles.id ? '수정' : '등록' }}</VBtn>
                                </VCol>
                            </VRow>
                        </VForm>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
      <IAlert :i-alert='iAlert'></IAlert>
    </div>
</template>
