<script lang="ts" setup>
import {ComputedRef, onMounted, ref, watch, watchEffect} from 'vue';
import type {Header, Item, SortType} from 'vue3-easy-data-table';
import Vue3EasyDataTable, {ServerOptions} from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';
import {apiDeleteArticle, apiGetArticles, apiGetSearchArticlesInfo} from '@/services/pro/articlesService';
import type {SearchArticlesInterface, SearchInterface, ThemeColorInterface} from '@/interface/pro/common';
import {alertError, alertSuccess, alertWarning, changeDateFormatMoment, getVuetifyThemeColors} from '@/utils';
import {useRowsPerPage, UseRowsPerPageReturn} from 'use-vue3-easy-data-table';
import {apiGetEnumType} from '@/services/pro/enumService';
import {useRoute, useRouter} from 'vue-router';
import {BoardsInterface, initBoards} from '@/interface/pro/boards';
import {apiGetBoardsInfo} from '@/services/pro/boardsService';
import {apiGetBannerInfo} from '@/services/pro/bannerService';
import {userStore} from '@/store/pro/user';

const headers: Header[] = [
    {text: 'id', value: 'id', sortable: true},
  {text: '제목', value: 'title', sortable: false},
  {text: '비밀글', value: 'secret', sortable: false},
  {text: '작성자', value: 'writer', sortable: false},
  {text: '삭제여부', value: 'deleted', sortable: false},
  {text: '등록일', value: 'createdDate', sortable: false},
  {text: '기능', value: 'operation'},
];

const route = useRoute();

const dataTable = ref();
const {rowsPerPageActiveOption}: UseRowsPerPageReturn = useRowsPerPage(dataTable);

const items = ref<Item[]>([]);

const loading = ref(false);

const sortBy: string[] = headers.filter(value => value.sortable).map(header => header.value).filter(val => val != 'operation');
const sortType: SortType[] = ['desc', 'asc'];
const searchField = ['title'];
const searchValue = ref('');
const boardsInfo = ref<BoardsInterface>(initBoards);
const itemsSelected = ref<Item[]>([]);
const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());

const router = useRouter();

const store = userStore();
const iAlert =store.iAlert;

const serverItemsLength = ref(0);
const serverOptions = ref<ServerOptions>({
  page: 1,
  rowsPerPage: 25,
  sortBy: 'id',
  sortType: 'desc',
});
const searchData = ref<SearchArticlesInterface>({
  boardsId: 0,
  searchType: undefined,
  keyword: undefined,
  page: serverOptions.value.page,
  rowsPerPage: serverOptions.value.rowsPerPage,
  sortBy: serverOptions.value.sortBy,
  sortType: serverOptions.value.sortType,
});

const boardId = ref();
boardId.value = route.params.boardsId;

onMounted(async () => {
  await init();
});

const init = async () => {
  const res = await apiGetBoardsInfo(route.params.boardsId);
  boardsInfo.value = res.data;
  searchData.value.boardsId = boardsInfo.value.id;
  await handleSearch();
}

const convertValueList = (list) => {
  list.forEach(item => {
    item.createdDate = changeDateFormatMoment(item.createdDate, 'YYYY-MM-DD HH:mm');
  });
  return list;
};

const handleSearch = async () => {
    loading.value = true;
    try {
      searchData.value.page = serverOptions.value.page;
      searchData.value.rowsPerPage = serverOptions.value.rowsPerPage;
      searchData.value.sortBy = serverOptions.value.sortBy;
      searchData.value.sortType = serverOptions.value.sortType;

      if (searchData.value.boardsId != 0){
        await apiGetSearchArticlesInfo(searchData.value).then(res => {
          if (res) {
            serverItemsLength.value = res.data.page.totalElements;
            items.value = convertValueList(res.data.data);
          }
        });
      }

    } catch {
    } finally {
        loading.value = false;
    }
};

watch(serverOptions,  async (value) => { await handleSearch(); }, { deep: true });
watch(route,  async (value) => { router.go(router.currentRoute); }, { deep: true });

const deleteItem = async (id) => {
  return await apiDeleteArticle(id);
}
const handleDelete = async () => {


  if (itemsSelected.value.length == 0)
  {
    alertWarning('삭제 할 항목을 선택하세요.');
    return;
  }

  if (confirm('선택 된 항목을 삭제하시겠습니까?')) {
    try {
      itemsSelected.value.forEach(item => {
        deleteItem(item.id!);
      });
      alertSuccess('삭제되었습니다.', () => {
        router.go(router.currentRoute);
      })

    } catch (e) {
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
};

</script>

<template>
    <div>
      <IAlert :i-alert='iAlert'></IAlert>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                      <VCardTitle class='mb-3'>{{ boardsInfo.name }}</VCardTitle>
                        <VRow>
                            <VCol cols="12" md="3" >
                                <VTextField id="search" v-model="searchData.keyword" placeholder="검색어" type="text" @keyup.enter='handleSearch' class="me-2">
                                    <template #append>
                                        <VBtn color="primary" size="large" @click="handleSearch" > 검색</VBtn>
                                    </template>
                                </VTextField>
                            </VCol>
                        </VRow>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
        <VRow>
            <VCol cols="12">
                <VCard>
                    <VCardItem>
                        <VRow>
                            <VCol cols="3">
                                <VTextField id="searchInResult" v-model="searchValue" placeholder="결과내 검색" type="text" class="me-2" />
                            </VCol>
                            <VCol cols='2'  offset="7" class="text-end">
                              <div class='d-flex align-center justify-end'>
                                <VBtn color="red" size="large" @click='handleDelete' class='mr-4' variant='tonal'>선택삭제</VBtn>
                                <VBtn color="primary" size="large" :to="`/pro/articles/${boardsInfo.id}/form`">추가</VBtn>
                              </div>
                            </VCol>
                        </VRow>
                    </VCardItem>
                    <VCardItem>
                        <Vue3EasyDataTable ref="dataTable" v-model:items-selected="itemsSelected" show-index :headers="headers" :items="items" multi-sort :sort-by="sortBy" :sort-type="sortType"
                                           :theme-color="currentTheme.primary" buttons-pagination :search-field="searchField" :search-value="searchValue" :loading="loading" class="customize-table"
                                           v-model:server-options="serverOptions"
                                           :server-items-length="serverItemsLength">
                            <template #loading>
                                <img src="/cms-logo.png" height="50" alt="Logo" />
                            </template>
                          <template #item-secret="item">{{item.secret ? '비밀글' : '일반'}}</template>
                          <template #item-deleted="item">{{item.deleted ? '삭제' : '게시'}}</template>
                            <template #item-operation="item">
                                <div class="operation-wrapper">
                                    <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/articles/${boardsInfo.id}/form?id=${item.id}`">상세</VBtn>
                                    <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/articles/${boardsInfo.id}/form?id=${item.id}`" target="_blank">새창</VBtn>
                                </div>
                            </template>
                        </Vue3EasyDataTable>
                    </VCardItem>
                </VCard>
            </VCol>
        </VRow>
    </div>
</template>
