<script lang="ts" setup>
import { useRoute } from 'vue-router';
import { ref } from 'vue';
import Navbar from '@/components/user/common/Navbar.vue';
import { menuStore } from '@/store/user/menu';
import type { MenuInterface } from '@/interface/user/menu';

const route = useRoute();

const menuData = ref<MenuInterface[]>([
	{
		path: '/corporation',
		title: '법인소개',
		subMenu: [
			{
				path: '/corporation/intro',
				title: '인사말',
			},
			{
				path: '/corporation/corporation',
				title: '법인소개',
			},
			{
				path: '/corporation/history',
				title: '주요연혁',
			},
			{
				path: '/corporation/organ',
				title: '조직현황',
			},
			{
				path: '/corporation/place',
				title: '찾아오시는길',
			},
		],
	},
	{
		path: '/business',
		title: '사업안내',
		subMenu: [
			{
				path: '/business/social',
				title: '사회적기업',
			},
			{
				path: '/business/union',
				title: '협동조합지원',
			},
			{
				path: '/business/promote',
				title: '사회혁신가육성',
			},
			{
				path: '/business/support',
				title: '사회적금융지원',
			},
		],
	},
	{
		path: '/board',
		title: '알림마당',
		subMenu: [
			{
				path: '/board/1',
				title: '공지사항',
			},
			{
				path: '/board/2',
				title: '외부소식',
			},
			{
				path: '/board/3',
				title: '아카이빙',
			},
			{
				path: '/board/4',
				title: '자료실',
			},
		],
	},
	{
		path: '/spon',
		title: '후원안내',
		subMenu: [
			{
				path: '/spon/howto',
				title: '후원방법안내',
			},
			{
				path: '/spon/status',
				title: '연간 기부금 모금액 및 활용실적',
			},
		],
	},
]);

const store = menuStore();
store.handleMenu(menuData.value);
</script>

<template>
	<v-app>
		<router-view v-slot="{ Component, route }">
			<component :is="Component" :key="route" />
		</router-view>
	</v-app>
</template>
