.customize-table {
    --easy-table-border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
    --easy-table-row-border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
    --easy-table-header-font-size: 1rem;
    --easy-table-header-height: 2.5rem;
    --easy-table-header-font-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    --easy-table-header-background-color: rgb(var(--v-theme-surface));
    --easy-table-header-item-padding: 0px 10px;
    --easy-table-body-row-height: 2.5rem;
    --easy-table-body-row-font-size: 1rem;
    --easy-table-body-row-font-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    --easy-table-body-row-background-color: rgb(var(--v-theme-surface));
    --easy-table-body-row-hover-font-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    --easy-table-body-row-hover-background-color: rgb(var(--v-theme-background));
    --easy-table-body-even-row-font-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    --easy-table-body-even-row-background-color: rgb(var(--v-theme-surface));
    --easy-table-body-item-padding: 0px 10px;
    --easy-table-footer-background-color: rgb(var(--v-theme-surface));
    --easy-table-footer-font-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    --easy-table-footer-font-size: 1rem;
    --easy-table-footer-padding: 0px 5px;
    --easy-table-footer-height: 2.5rem;
    --easy-table-rows-per-page-selector-width: auto;
    --easy-table-rows-per-page-selector-option-padding: 5px;
    --easy-table-message-font-color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
    --easy-table-message-font-size: 1rem;
    --easy-table-message-padding: 20px;
    --easy-table-loading-mask-background-color: rgb(var(--v-theme-surface));
    --easy-table-loading-mask-opacity: 0.5;
    --easy-table-scrollbar-track-color: rgba(var(--v-border-color), var(--v-border-opacity));
    --easy-table-scrollbar-color: rgba(var(--v-border-color), var(--v-border-opacity));
    --easy-table-scrollbar-thumb-color: rgba(var(--v-border-color), var(--v-border-opacity) - 0.1);
    --easy-table-scrollbar-corner-color: rgba(var(--v-border-color), var(--v-border-opacity));
    --easy-table-buttons-pagination-border: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
}
