@import '@assets/common/_breakpoints.scss';
@import '@assets/pro/scss/_datatables.scss';
// Write your overrides

.v-card,
.v-card-item__content {
    overflow: initial;
}
.table-search-container {
    width: 25rem;
}

.draggable-ghost{
  background-color: rgb(var(--v-theme-primary));
  color: white;
  opacity: 0.5;
}

@media (max-width: $grid-breakpoints-lg) {
}

@media (max-width: $grid-breakpoints-md) {
}

@media (max-width: $grid-breakpoints-sm) {
}

@media (max-width: $grid-breakpoints-xs) {
    .table-search-container {
        width: 100%;
    }
}
