<script setup lang="ts">
import {onMounted, ref} from 'vue';
import {useRoute, useRouter} from 'vue-router';
import {alertError, alertSuccess, convertErrorObject, isEmpty, changeDateFormatMoment} from '@/utils';
import {apiDeleteQuestion, apiGetQuestionInfo, apiSaveQuestion, apiUpdateQuestion} from '@/services/pro/questionService';
import type {QuestionInterface} from "@/interface/pro/question";
import {userStore} from '@/store/pro/user';
import {initQuestion} from "@/interface/pro/question";
import {apiGetEnumType} from "@/services/pro/enumService";
import moment from "moment";

const question = ref<QuestionInterface>(initQuestion);

const route = useRoute();
const questionId = ref();
const questionInfo = ref<QuestionInterface>();
const formHandleState = ref(false);
const responseErrors = ref([]);
const pageLoadingState = ref(true);
const store = userStore();
const iAlert =store.iAlert;
const qnaStatus = ref([]);

onMounted(async () => {

  const res = await apiGetEnumType("QnaStatus");
  qnaStatus.value = res.data;

  questionId.value = route.query.id;
  if (questionId.value) {
    await apiGetQuestionInfo(questionId.value).then((res) => {
      question.value = {...res.data};
    });
  }
  pageLoadingState.value = false;
});

const router = useRouter();

const submitAfterAction = (apiResult: any) => {
  if (apiResult.status === 200) {
    alertSuccess((question.value.id ? '수정' : '등록') + '되었습니다.', () => {
      router.push(`/pro/question/list`);
    });

  } else {
    responseErrors.value = convertErrorObject(apiResult);
  }
};

const handleSubmit = async () => {
  formHandleState.value = true;
  try {
    const questionInfo = {...question.value};
    
    let apiResult: any;
    if (question.value.id) {
      apiResult = await apiUpdateQuestion(questionInfo);
    } else {
      apiResult = await apiSaveQuestion(questionInfo);
    }
    submitAfterAction(apiResult);
  } catch (e) {
    console.log(e);
  } finally {
    formHandleState.value = false;
  }
};

const handleDelete = async () => {
  if(confirm('삭제하시겠습니까?')){
    try{
      let apiResult = await apiDeleteQuestion(question.value.id!);
      if (apiResult.status === 200) {

        alertSuccess('삭제되었습니다.',() => {
          router.push(`/pro/question/list`);
        });
      } else {
        alertError('처리중 문제가 발생하였습니다.');
      }
    }catch (e){
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
}

const changeAnsweredDate = (singleDateTimeData: any) => {
  question.value.answeredDate = singleDateTimeData;
};

const getType = (types : any[]) => {
  let list : any[]  = [];
  types.forEach(item => {
    list.push({
      'title' : item.value,
      'value' : item.code,
    })
  });

  return list;
}
</script>

<template>
  <Loading v-if="pageLoadingState"/>
  <div v-else>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-5'>문의</VCardTitle>
            <VForm>
              <VRow>
                <VCol xs="12" md="3">문의 제목</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="title" v-model="question.title" label="문의 제목" :error="!isEmpty(responseErrors.title)" readonly placeholder="문의 제목" />
                  <span v-if="!isEmpty(responseErrors.title)" class="text-error">{{ responseErrors.title.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">문의 내용</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="question" v-model="question.question" label="문의 내용" :error="!isEmpty(responseErrors.question)" readonly placeholder="문의 내용" />
                  <span v-if="!isEmpty(responseErrors.question)" class="text-error">{{ responseErrors.question.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">답변 내용</VCol>
                <VCol xs="12" md="9">
                  <VTextarea id="answer" v-model="question.answer" label="답변 내용" :error="!isEmpty(responseErrors.answer)" :readonly="question.status == 'COMPLETE'" placeholder="답변 내용" />
                  <span v-if="!isEmpty(responseErrors.answer)" class="text-error">{{ responseErrors.answer.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">문의자</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="name" v-model="question.name" label="문의자" :error="!isEmpty(responseErrors.name)" readonly placeholder="문의자" />
                  <span v-if="!isEmpty(responseErrors.name)" class="text-error">{{ responseErrors.name.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">문의자 연락처</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="phone" v-model="question.phone" label="문의자 연락처" :error="!isEmpty(responseErrors.phone)" readonly placeholder="문의자 연락처" />
                  <span v-if="!isEmpty(responseErrors.phone)" class="text-error">{{ responseErrors.phone.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">문의자 이메일</VCol>
                <VCol xs="12" md="9">
                  <VTextField id="email" v-model="question.email" label="문의자 이메일" :error="!isEmpty(responseErrors.email)" readonly placeholder="문의자 이메일" />
                  <span v-if="!isEmpty(responseErrors.email)" class="text-error">{{ responseErrors.email.reason }}</span>
                </VCol>
              </VRow>
              <VRow>
                <VCol xs="12" md="3">상태</VCol>
                <VCol xs="12" md="3">
                  <v-select label="상태" v-model="question.status" readonly :items="getType(qnaStatus)"></v-select>
                  <span v-if="!isEmpty(responseErrors.status)" class="text-error">{{ responseErrors.status.reason }}</span>
                </VCol>
              </VRow>

              <VRow>
                <VCol xs="12" md="3">답변일</VCol>
                <VCol xs="12" md="6">
                  {{changeDateFormatMoment(question.answeredDate, 'YYYY-MM-DD HH:mm')}}
                </VCol>
              </VRow>

              <div class='py-4'>
                <hr class="v-divider v-theme--light " aria-orientation="horizontal" role="separator">
              </div>
              <VRow>
                <VCol cols="12">
                  <VBtn v-if="question.id" color="red" type="button" size="large" @click="handleDelete" class="mr-4" variant='tonal'>삭제</VBtn>
                  <VBtn color="secondary" type="button" size="large" @click="router.back();" class="mr-4">목록</VBtn>
                  <VBtn color="primary" type="button" size="large" :disabled="formHandleState" @click="handleSubmit" >{{ question.id ? '수정' : '등록' }}</VBtn>

                </VCol>
              </VRow>
            </VForm>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <IAlert :i-alert='iAlert'></IAlert>
  </div>
</template>
