<script lang="ts" setup>
import {ComputedRef, onMounted, ref, watchEffect} from 'vue';
import type {Header, Item, ServerOptions, SortType} from 'vue3-easy-data-table';
import Vue3EasyDataTable from 'vue3-easy-data-table';
import 'vue3-easy-data-table/dist/style.css';
import {apiDeleteQuestion, apiGetQuestion, apiGetSearchQuestionInfo} from '@/services/pro/questionService';
import type {SearchInterface, ThemeColorInterface} from '@/interface/pro/common';
import {alertError, alertSuccess, alertWarning, changeDateFormatMoment, getVuetifyThemeColors} from '@/utils';
import {useRowsPerPage, UseRowsPerPageReturn} from 'use-vue3-easy-data-table';
import {userStore} from '@/store/pro/user';
import {apiGetEnumType} from "@/services/pro/enumService";

const headers: Header[] = [
  {text: 'id', value: 'id', sortable: true},
  {text: '문의 제목', value: 'title', sortable: true},
  {text: '문의자', value: 'name', sortable: true},
  {text: '문의자 연락처', value: 'phone', sortable: true},
  {text: '문의자 이메일', value: 'email', sortable: true},
  {text: '상태', value: 'status', sortable: true},
  {text: '답변자', value: 'answerName', sortable: true},
  {text: '답변일', value: 'answeredDate', sortable: true},
  {text: '작성일', value: 'createdDate', sortable: true},
  {text: '기능', value: 'operation'},
];

const dataTable = ref();

const items = ref<Item[]>([]);

const loading = ref(false);

const sortBy: string[] = headers.map(header => header.value).filter(val => val != 'operation');
const sortType: SortType[] = ['desc', 'asc'];
const searchField = ['content'];
const searchValue = ref('');
const itemsSelected = ref<Item[]>([]);
const qnaStatus = ref([]);

const currentTheme = ref<ThemeColorInterface>(getVuetifyThemeColors());

const router = useRouter();

const store = userStore();
const iAlert =store.iAlert;

const serverItemsLength = ref(0);
const serverOptions = ref<ServerOptions>({
  page: 1,
  rowsPerPage: 25,
  sortBy: 'id',
  sortType: 'desc',
});
const searchData = ref<SearchInterface>({
  searchType: undefined,
  keyword: undefined,
  page: serverOptions.value.page,
  rowsPerPage: serverOptions.value.rowsPerPage,
  sortBy: serverOptions.value.sortBy,
  sortType: serverOptions.value.sortType,
});

onMounted(async () => {
  await handleSearch();
});

const handleSearch = async () => {
  loading.value = true;
  try {

    let res = await apiGetEnumType("QnaStatus");
    qnaStatus.value = res.data;

    searchData.value.page = serverOptions.value.page;
    searchData.value.rowsPerPage = serverOptions.value.rowsPerPage;
    searchData.value.sortBy = serverOptions.value.sortBy;
    searchData.value.sortType = serverOptions.value.sortType;

    await apiGetSearchQuestionInfo(searchData.value).then(res => {
      if (res) {
        serverItemsLength.value = res.data.page.totalElements;
        items.value = res.data.data;
      }
    });

  } catch {
  } finally {
    loading.value = false;
  }
};

watch(serverOptions,  async (value) => { await handleSearch(); }, { deep: true });

const deleteItem = async (id) => {
  return await apiDeleteQuestion(id);
}
const handleDelete = async () => {

  if (itemsSelected.value.length == 0)
  {
    alertWarning('삭제 할 항목을 선택하세요.');
    return;
  }

  if (confirm('선택 된 항목을 삭제하시겠습니까?')) {
    try {
      itemsSelected.value.forEach(item => {
        deleteItem(item.id!);
      });
      alertSuccess('삭제되었습니다.', () => {
        router.go(router.currentRoute);
      })

    } catch (e) {
      console.log(e);
      alertError('처리중 문제가 발생하였습니다.');
    }
  }
};

</script>

<template>
  <div>
    <IAlert :i-alert='iAlert'></IAlert>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VCardTitle class='mb-3'>문의 관리</VCardTitle>
            <VRow>
              <VCol cols="12" md="3">
                <VTextField id="search" v-model="searchData.keyword" placeholder="검색어" type="text" @keyup.enter='handleSearch' class="me-2">
                  <template #append>
                    <VBtn color="primary" size="large" @click="handleSearch">검색</VBtn>
                  </template>
                </VTextField>
              </VCol>
            </VRow>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
    <VRow>
      <VCol cols="12">
        <VCard>
          <VCardItem>
            <VRow>
              <VCol cols="3">
                <VTextField id="searchInResult" v-model="searchValue" placeholder="결과내 검색" type="text" class="me-2" />
              </VCol>
              <VCol cols="2" offset="7" class="text-end">
                <div class='d-flex align-center justify-end'>
                  <VBtn color="red" size="large" @click='handleDelete' class='mr-4' variant='tonal'>선택삭제</VBtn>
                </div>
              </VCol>
            </VRow>
          </VCardItem>
          <VCardItem>
            <Vue3EasyDataTable ref="dataTable" v-model:items-selected="itemsSelected" show-index :headers="headers" :items="items" multi-sort :sort-by="sortBy" :sort-type="sortType" :theme-color="currentTheme.primary" buttons-pagination :search-field="searchField" :search-value="searchValue" :loading="loading" class="customize-table">
              <template #loading>
                <img src="/cms-logo.png" height="50" alt="Logo" />
              </template>
              <template #item-status="item">
                {{qnaStatus.find(type => type.code == item.status).value}}
              </template>
              <template #item-answerName="item">
                {{item.answerName ? item.answerName : '-'}}
              </template>
              <template #item-answeredDate="item">
                {{changeDateFormatMoment(item.answeredDate, 'YYYY-MM-DD HH:mm')}}
              </template>
              <template #item-createdDate="item">
                {{changeDateFormatMoment(item.createdDate, 'YYYY-MM-DD HH:mm')}}
              </template>
              <template #item-operation="item">
                <div class="operation-wrapper">
                  <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/question/form?id=${item.id}`">상세</VBtn>
                  <VBtn class="me-2" size="small" variant="tonal" :to="`/pro/question/form?id=${item.id}`" target="_blank">새창</VBtn>
                </div>
              </template>
            </Vue3EasyDataTable>
          </VCardItem>
        </VCard>
      </VCol>
    </VRow>
  </div>
</template>
