<script setup lang="ts">
import {onMounted, ref} from 'vue';
import VueApexCharts from 'vue3-apexcharts';
import {useTheme} from 'vuetify';
import hexRgb from 'hex-rgb';
import {apiChartMedia} from '@/services/pro/VisitService';
import type {SearchDateInterface} from '@/interface/pro/common';
import {initSearchDate} from '@/interface/pro/common';
import {changeDateFormatMoment} from '@/utils';

const search = ref<SearchDateInterface>(initSearchDate);

const today = new Date();
search.value.endDate = changeDateFormatMoment(today, 'YYYY-MM-DD');
today.setDate(today.getDate() - 7);
search.value.startDate = changeDateFormatMoment(today, 'YYYY-MM-DD');

const isData = ref(false);
const categories = ref();
const chartData = ref();
const options = ref();

onMounted(async () => {
    const result = await apiChartMedia(search.value);
    categories.value = result.data.map(item => item.referer);
  chartData.value = [{name : '접속자',data: result.data.map(item => item.visitCnt)}];

  options.value = getOptions(categories.value);

  isData.value = true;

});

const vuetifyTheme = useTheme();

const getOptions = (categories : string[]) => {
    const currentTheme = ref(vuetifyTheme.current.value.colors);
    const variableTheme = ref(vuetifyTheme.current.value.variables);

    const disabledColor = `rgba(${hexRgb(currentTheme.value['on-surface'])},${
        variableTheme.value['disabled-opacity']
    })`;
    const borderColor = `rgba(${hexRgb(String(variableTheme.value['border-color']))},${
        variableTheme.value['border-opacity']
    })`;

    return {
        chart: {
            parentHeightOffset: 0,
            toolbar: {show: false},
        },
        plotOptions: {
            bar: {
                borderRadius: 9,
                distributed: true,
                columnWidth: '40%',
                endingShape: 'rounded',
                startingShape: 'rounded',
            },
        },
        stroke: {
            width: 2,
            colors: [currentTheme.value.surface],
        },
        legend: {show: false},
        grid: {
            borderColor,
            strokeDashArray: 7,
            padding: {
                top: -1,
                right: 0,
                left: -12,
                bottom: 5,
            },
        },
        dataLabels: {enabled: false},
        colors: [
            currentTheme.value.info,
            currentTheme.value.success,
            currentTheme.value.error,
            currentTheme.value.warning,
            currentTheme.value.info,
            currentTheme.value.success,
        ],
        states: {
            hover: {filter: {type: 'none'}},
            active: {filter: {type: 'none'}},
        },
        xaxis: {
            categories: categories,
            tickPlacement: 'on',
            labels: {show: true},
            crosshairs: {opacity: 0},
            axisTicks: {show: false},
            axisBorder: {show: false},
        },
        yaxis: {
            show: true,
            tickAmount: 4,
            labels: {
                offsetX: -17,
                style: {
                    colors: disabledColor,
                    fontSize: '12px',
                },
            },
        },
    };
};
</script>

<template >

    <VCard v-if='isData'>
        <VCardItem>
            <VCardTitle>매체별 일일 접속자</VCardTitle>

        </VCardItem>

        <VCardText>
            <VueApexCharts
                type="bar"
                :options="options"
                :series="chartData"
                :height="220"
            />
        </VCardText>
    </VCard>
</template>
