<script setup lang="ts">
import VueApexCharts from 'vue3-apexcharts';
import {useTheme} from 'vuetify';
import hexRgb from 'hex-rgb';
import moment from 'moment';
import {onMounted, ref} from 'vue';
import {initSearchDate, SearchDateInterface} from '@/interface/pro/common';
import {apiChartConnection, apiChartMedia} from '@/services/pro/VisitService';

const dateFormat = (datetimeText: Date, format: string) => {
  if (datetimeText == null) {
    return '-';
  }
  var formatText = format || 'YYYY-MM-DD HH:mm:ss';
  return moment(datetimeText).format(formatText);
};

const search = ref<SearchDateInterface>(initSearchDate);

const today = new Date();
search.value.endDate = dateFormat(today, 'YYYY-MM-DD');
today.setDate(today.getDate() - 7);
search.value.startDate = dateFormat(today, 'YYYY-MM-DD');

const isData = ref(false);
const categories = ref();
const chartData = ref();
const options = ref();

onMounted(async () => {
  const result = await apiChartConnection(search.value);
  categories.value = result.data.map(item => item.createdDate);
  chartData.value = [{name : '접속자', data: result.data.map(item => item.visitCnt)}];
  options.value = getOptions(categories.value, chartData.value.length);
  isData.value = true;

});

const vuetifyTheme = useTheme();

const currentTheme = computed(() => {
    return vuetifyTheme.current.value.colors;
});
const variableTheme = computed(() => {
    return vuetifyTheme.current.value.variables;
});


const getOptions = (categories : string[], dataLength : number) => {
    return {
        chart: {
            parentHeightOffset: 0,
            toolbar: {show: false},
        },
        tooltip: {enabled: true},

        stroke: {
            width: 3,
            lineCap: 'butt',
            curve: 'straight',
        },
        colors: [currentTheme.value.info],
      xaxis: {
        categories: categories,
        tickPlacement: 'on',
        labels: {show: true},
        crosshairs: {opacity: 0},
        axisTicks: {show: false},
        axisBorder: {show: false},
      },
        yaxis: {
            labels: {show: true},
        },
    };
};
</script>

<template>
    <VCard v-if='isData'>
        <VCardText>
            <h6 class="text-h6">일일 접속자 현황</h6>
            <VueApexCharts
                type="line"
                :options="options"
                :series="chartData"
                :height="220"
            />
        </VCardText>
    </VCard>
</template>
